node-red/.flows.json.backup
[{"id":"164a3904.fd37c7","type":"tab","label":"Greenhouse","disabled":false,"info":""},{"id":"f6e5a287.09185","type":"tab","label":"Watchdog","disabled":false,"info":""},{"id":"5db12493.94a2c4","type":"tab","label":"Motion Lights","disabled":false,"info":""},{"id":"22728c52.b2e874","type":"tab","label":"Living Lights","disabled":false,"info":""},{"id":"ee46721f.65d5c8","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"bc8ddc58.b5a61","type":"tab","label":"Precense","disabled":false,"info":""},{"id":"be33d1e5.7e5e48","type":"tab","label":"Nest","disabled":false,"info":""},{"id":"538bc7ce.75b93","type":"tab","label":"Setup","disabled":false,"info":""},{"id":"a71f61bf.68023","type":"tab","label":"Vacuum","disabled":false,"info":""},{"id":"3a6e8817.803d","type":"tab","label":"CCTV","disabled":false,"info":""},{"id":"b2cf98b5.afd6e8","type":"mqtt-broker","z":"","name":"192.168.0.20","broker":"192.168.0.20","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"73825384.e8bd7c","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"51.268735","longitude":"3.222214"},{"id":"f93d303.a1c6f5","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"d1f26976.3411e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7a05701d.23a7d8","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Set Home","server":"f93d303.a1c6f5","version":0,"service_domain":"input_boolean","service":"turn_on","data":"{   \"entity_id\": \"input_boolean.house_presence\" }","mergecontext":"","x":1120,"y":160,"wires":[[]]},{"id":"a3d19b0b.a87fd8","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Set Away","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.house_presence","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1120,"y":280,"wires":[[]]},{"id":"16451c00.672384","type":"api-current-state","z":"bc8ddc58.b5a61","name":"Isabel?","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.isabel","state_type":"str","state_location":"isabel","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":140,"wires":[["3e98efe8.7b2ab8"]]},{"id":"ff7508ab.ffc528","type":"api-current-state","z":"bc8ddc58.b5a61","name":"Philippe?","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.philippe","state_type":"str","state_location":"philippe","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":80,"wires":[["16451c00.672384"]]},{"id":"e92f539d.2bece8","type":"function","z":"bc8ddc58.b5a61","name":"Determine presence home/not_home","func":"if (msg.philippe  == 'home' || msg.isabel == 'home')  \n    {\n    return [{topic:'presence',payload:'home'},null,null]; \n    } \nelse if (msg.guests == 'on'){\n    return [null,{topic:'presence',payload:'guests'},null];\n}\nelse\n    {\n    return [null,null,{topic:'presence',payload:'not_home'}]; \n    }\n    ","outputs":3,"noerr":0,"x":830,"y":80,"wires":[["7a05701d.23a7d8","9c2cbed0.ec27c"],["7a05701d.23a7d8","1c93f7c4.cdbf"],["a3d19b0b.a87fd8","1c93f7c4.cdbf"]]},{"id":"3e98efe8.7b2ab8","type":"api-current-state","z":"bc8ddc58.b5a61","name":"Guests?","server":"f93d303.a1c6f5","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.house_guests","state_type":"str","state_location":"guests","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":200,"wires":[[]]},{"id":"85d0af59.c0f8e","type":"server-state-changed","z":"bc8ddc58.b5a61","name":"Isabel","server":"f93d303.a1c6f5","version":1,"entityidfilter":"person.isabel","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":70,"y":200,"wires":[["ff7508ab.ffc528"]]},{"id":"32472eb8.d6d3c2","type":"server-state-changed","z":"bc8ddc58.b5a61","name":"Philippe","server":"f93d303.a1c6f5","version":1,"entityidfilter":"person.philippe","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":70,"y":280,"wires":[["ff7508ab.ffc528"]]},{"id":"755e9e09.874128","type":"server-state-changed","z":"bc8ddc58.b5a61","name":"Guests","server":"f93d303.a1c6f5","version":1,"entityidfilter":"input_boolean.house_guests","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":70,"y":340,"wires":[["ff7508ab.ffc528"]]},{"id":"d5a0cee9.61362","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Deactive Guests @ Home","server":"f93d303.a1c6f5","version":0,"service_domain":"script","service":"deactivate_guest_mode","data":"","mergecontext":"","x":1270,"y":120,"wires":[[]]},{"id":"5ae5d8a7.501e58","type":"api-current-state","z":"bc8ddc58.b5a61","name":"House Guest Active?","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.house_guests","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":497,"y":680,"wires":[[],["eaff7f08.f0e3d"]]},{"id":"177580e4.b86f37","type":"status","z":"bc8ddc58.b5a61","name":"Home Assistant Status","scope":["755e9e09.874128","85d0af59.c0f8e","32472eb8.d6d3c2"],"x":120,"y":60,"wires":[["46e6a4d4.0a3914"]]},{"id":"46e6a4d4.0a3914","type":"switch","z":"bc8ddc58.b5a61","name":"connected?","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":60,"wires":[["ff7508ab.ffc528"]]},{"id":"ba3a2e6c.baddf","type":"function","z":"bc8ddc58.b5a61","name":"Determine Everybody Home","func":"if (msg.philippe  == 'home' && msg.isabel == 'home')  \n    {\n    return [{topic:'presence',payload:'yes'}, null]; \n    } \nelse\n    {\n    return [null,{topic:'presence',payload:'no'}]; \n    }\n    ","outputs":2,"noerr":0,"x":800,"y":340,"wires":[["b8681121.25cf9"],["56d82bbe.07c7ec"]]},{"id":"ecf1d1d.913003","type":"server-state-changed","z":"bc8ddc58.b5a61","name":"Home Status","server":"f93d303.a1c6f5","version":"1","entityidfilter":"binary_sensor.house_presence","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":1000,"wires":[[]]},{"id":"1d1b6f58.e75461","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Turn off binnen","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.binnen","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":940,"wires":[[]]},{"id":"9c2cbed0.ec27c","type":"api-current-state","z":"bc8ddc58.b5a61","name":"House Guest Active?","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.house_guests","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1160,"y":60,"wires":[[],["d5a0cee9.61362"]]},{"id":"eaff7f08.f0e3d","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Active Guests @ Home","server":"f93d303.a1c6f5","service_domain":"script","service":"activate_guest_mode","data":"","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":747,"y":680,"wires":[["d1a59c98.80932"]]},{"id":"b8681121.25cf9","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Everybody Home On","server":"f93d303.a1c6f5","service_domain":"input_boolean","service":"turn_on","data":"{ \"entity_id\": \"input_boolean.everybody_home\" }","mergecontext":"","x":1160,"y":340,"wires":[[]]},{"id":"56d82bbe.07c7ec","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Everybody Home Off","server":"f93d303.a1c6f5","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.everybody_home\" }","mergecontext":"","x":1160,"y":400,"wires":[[]]},{"id":"d78f7c8f.948238","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Turn off Eerste Verdiep","server":"f93d303.a1c6f5","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.eerste_verdiep","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1130,"y":1000,"wires":[[]]},{"id":"620bee40.13566","type":"server-state-changed","z":"be33d1e5.7e5e48","name":"Door Detection","server":"f93d303.a1c6f5","version":1,"entityidfilter":"group.doordetection","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":140,"wires":[["c451234d.bbf2a"]]},{"id":"c451234d.bbf2a","type":"switch","z":"be33d1e5.7e5e48","name":"Door(s) Open? ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":140,"wires":[["28e3e2e9.799626","8c31759c.3509b8"],["28e3e2e9.799626","8c31759c.3509b8"]]},{"id":"c2acb0d6.b32d28","type":"api-call-service","z":"be33d1e5.7e5e48","name":"Set Nest to Heat","server":"f93d303.a1c6f5","service_domain":"climate","service":"set_preset_mode","data":"{\"entity_id\":\"climate.downstairs\",\"preset_mode\":\"none\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1240,"y":240,"wires":[[]]},{"id":"d4c79d59.5ae4c","type":"api-call-service","z":"be33d1e5.7e5e48","name":"Set Nest to Eco","server":"f93d303.a1c6f5","version":0,"service_domain":"climate","service":"set_preset_mode","data":"{\"entity_id\":\"climate.downstairs\",\"preset_mode\":\"eco\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1240,"y":120,"wires":[[]]},{"id":"7dbb2293.4e1c04","type":"api-call-service","z":"be33d1e5.7e5e48","name":"Set Nest Away","server":"f93d303.a1c6f5","version":"1","debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.downstairs","data":"{\"preset_mode\":\"away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":320,"wires":[["e9b634da.a1b5a8"]]},{"id":"ff0f3890.e69ab","type":"api-current-state","z":"be33d1e5.7e5e48","name":"Check if Nest is away","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.zilverberkenstraat_7_away","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":880,"y":360,"wires":[[],["7dbb2293.4e1c04"]]},{"id":"39c1f2c2.86c75e","type":"server-state-changed","z":"be33d1e5.7e5e48","name":"Nest Precence detected","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.zilverberkenstraat_7_away","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":580,"wires":[["370d997f.25493e","ba130a87.5c0a1"],[]]},{"id":"804a5424.e06bb8","type":"server-state-changed","z":"be33d1e5.7e5e48","name":"House Presence","server":"f93d303.a1c6f5","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.house_presence","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":420,"wires":[["e75fef1b.b7bff8"]]},{"id":"e75fef1b.b7bff8","type":"switch","z":"be33d1e5.7e5e48","name":"home(on)/not_home(off)","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":420,"wires":[["d7fa5509.0a52f8","3bc9e62d.4be792"],["d7fa5509.0a52f8","3bc9e62d.4be792"]]},{"id":"8308bd71.20d25","type":"server-state-changed","z":"be33d1e5.7e5e48","name":"Nest Is Away","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.zilverberkenstraat_7_away","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":110,"y":360,"wires":[[],["d7fa5509.0a52f8"]]},{"id":"a8bedea.7bcbea","type":"server-state-changed","z":"be33d1e5.7e5e48","name":"House Guests Activated","server":"f93d303.a1c6f5","version":1,"entityidfilter":"input_boolean.house_guests","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":140,"y":240,"wires":[[],["c0af21de.faf488"]]},{"id":"c0af21de.faf488","type":"api-current-state","z":"be33d1e5.7e5e48","name":"Heat operation active?","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"heat","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.downstairs_thermostat_operation_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":980,"y":240,"wires":[[],["c2acb0d6.b32d28"]]},{"id":"c0d00bdc.43864","type":"status","z":"be33d1e5.7e5e48","name":"Home Assistant Status","scope":["620bee40.13566"],"x":140,"y":40,"wires":[["91b20f29.4330e"]]},{"id":"91b20f29.4330e","type":"switch","z":"be33d1e5.7e5e48","name":"connected?","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":40,"wires":[["c32cdb6c.3965b"]]},{"id":"c32cdb6c.3965b","type":"api-current-state","z":"be33d1e5.7e5e48","name":"Get Door Status","server":"f93d303.a1c6f5","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.doordetection","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":260,"y":80,"wires":[["c451234d.bbf2a"]]},{"id":"9c7bee9f.29d35","type":"poll-state","z":"be33d1e5.7e5e48","name":"Get Temperature Time","server":"f93d303.a1c6f5","updateinterval":"60","outputinitially":true,"outputonchanged":false,"entity_id":"input_datetime.temperaturetime","outputs":1,"x":140,"y":760,"wires":[["f3fb25a.5414958"]]},{"id":"f3fb25a.5414958","type":"moment","z":"be33d1e5.7e5e48","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Brussels","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"temperaturetime","outputType":"msg","outTz":"Europe/Brussels","x":420,"y":760,"wires":[["444405f3.a9aa44"]]},{"id":"444405f3.a9aa44","type":"function","z":"be33d1e5.7e5e48","name":"Termp Time = Current Time? ","func":"var temperaturetime = new Date(msg.temperaturetime);\nvar currenttime = new Date();\ncurrenttime.setMilliseconds(0);\ncurrenttime.setSeconds(0);\nif (currenttime.getTime() == temperaturetime.getTime()){\n    return {topic:'equal',payload:'yes'}; \n}","outputs":1,"noerr":0,"x":700,"y":760,"wires":[["1fdcbf03.79d2d9"]]},{"id":"1fdcbf03.79d2d9","type":"api-current-state","z":"be33d1e5.7e5e48","name":"Temp Set Active?","server":"f93d303.a1c6f5","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.tempsetactive","override_payload":true,"x":950,"y":760,"wires":[["e5f142d1.4e22e8"]]},{"id":"e5f142d1.4e22e8","type":"api-call-service","z":"be33d1e5.7e5e48","name":"Call Set Temperature","server":"f93d303.a1c6f5","service_domain":"script","service":"set_temperature","data":"","mergecontext":"","x":1200,"y":760,"wires":[[]]},{"id":"461e7ba6.842c3c","type":"api-call-service","z":"be33d1e5.7e5e48","name":"Call Nest Motion Detected","server":"f93d303.a1c6f5","version":0,"service_domain":"script","service":"nest_motion_detection","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":900,"y":560,"wires":[[]]},{"id":"7771ba3b.ea89ec","type":"api-current-state","z":"be33d1e5.7e5e48","name":"Philippe?","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.philippe","state_type":"str","state_location":"philippe","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":680,"y":580,"wires":[[],["461e7ba6.842c3c","e518690.4531918"]]},{"id":"4ec17b80.99f4b4","type":"api-current-state","z":"be33d1e5.7e5e48","name":"Isabel?","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.isabel","state_type":"str","state_location":"isabel","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":580,"wires":[[],["7771ba3b.ea89ec"]]},{"id":"f6f5639c.4218d8","type":"api-call-service","z":"be33d1e5.7e5e48","name":"Set Nest Home","server":"f93d303.a1c6f5","version":"1","debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.downstairs","data":"{\"preset_mode\":\"\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":440,"wires":[["391d9724.9bf72"]]},{"id":"e8554058.956028","type":"api-current-state","z":"be33d1e5.7e5e48","name":"Check if Nest is home","server":"f93d303.a1c6f5","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.zilverberkenstraat_7_away","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":900,"y":460,"wires":[[],["f6f5639c.4218d8"]]},{"id":"c493d813.14034","type":"api-current-state","z":"be33d1e5.7e5e48","name":"Eco operation active?","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"eco","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.downstairs_thermostat_operation_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":980,"y":120,"wires":[[],["d4c79d59.5ae4c"]]},{"id":"28e3e2e9.799626","type":"trigger","z":"be33d1e5.7e5e48","name":"","op1":"","op2":"on","op1type":"nul","op2type":"str","duration":"10","extend":false,"units":"min","reset":"off","bytopic":"all","outputs":1,"x":530,"y":120,"wires":[["c493d813.14034"]]},{"id":"8c31759c.3509b8","type":"trigger","z":"be33d1e5.7e5e48","name":"","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"5","extend":false,"units":"min","reset":"on","bytopic":"all","outputs":1,"x":530,"y":180,"wires":[["c0af21de.faf488"]]},{"id":"d7fa5509.0a52f8","type":"trigger","z":"be33d1e5.7e5e48","name":"","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"65","extend":false,"units":"min","reset":"on","bytopic":"all","outputs":1,"x":690,"y":360,"wires":[["ff0f3890.e69ab"]]},{"id":"3bc9e62d.4be792","type":"trigger","z":"be33d1e5.7e5e48","name":"","op1":"","op2":"on","op1type":"nul","op2type":"str","duration":"30","extend":false,"units":"min","reset":"off","bytopic":"all","outputs":1,"x":710,"y":460,"wires":[["e8554058.956028"]]},{"id":"4726c09f.b07cb8","type":"server-state-changed","z":"5db12493.94a2c4","name":"WC Beneden Motion","server":"f93d303.a1c6f5","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_wc_beneden","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":40,"wires":[["6dcef002.6bfef8","32a13ea1.a32e32"],["32a13ea1.a32e32"]]},{"id":"6dcef002.6bfef8","type":"api-call-service","z":"5db12493.94a2c4","name":"WC Beneden Light","server":"f93d303.a1c6f5","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.wc_beneden","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1210,"y":40,"wires":[[]]},{"id":"3102e10f.926d66","type":"api-call-service","z":"5db12493.94a2c4","name":"Inkom Light","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.inkom","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1210,"y":260,"wires":[[]]},{"id":"72c3823e.a20e94","type":"server-state-changed","z":"5db12493.94a2c4","name":"Achterdeur Motion","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.motion_achterdeur","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":680,"wires":[["c3c8d6e7.22a04"]]},{"id":"c5a9d909.4d4238","type":"api-call-service","z":"5db12493.94a2c4","name":"Achterdeur Light","server":"f93d303.a1c6f5","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.achterdeur","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":640,"wires":[[]]},{"id":"5b356204.f1358c","type":"server-state-changed","z":"5db12493.94a2c4","name":"Voordeur Motion","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.motion_voordeur","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":820,"wires":[["896203e3.587328"]]},{"id":"da6fcd68.7047b8","type":"api-call-service","z":"5db12493.94a2c4","name":"Voordeur Light","server":"f93d303.a1c6f5","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.voordeur","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1220,"y":780,"wires":[[]]},{"id":"f214b31d.7926c8","type":"time-range-switch","z":"5db12493.94a2c4","name":"","lat":"51.268735","lon":"3.222214","startTime":"sunset","endTime":"sunrise","startOffset":"-30","endOffset":"+30","x":540,"y":640,"wires":[["c5a9d909.4d4238"],[]]},{"id":"71c856f2.2b4368","type":"time-range-switch","z":"5db12493.94a2c4","name":"","lat":"51.268735","lon":"3.222214","startTime":"sunset","endTime":"sunrise","startOffset":"-30","endOffset":"+30","x":540,"y":747,"wires":[["da6fcd68.7047b8"],[]]},{"id":"ce035ac7.eb5268","type":"api-current-state","z":"5db12493.94a2c4","name":"Anybody home?","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.house_presence","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":1240,"wires":[["61a552cb.c2a84c"],[]]},{"id":"e48351ce.97fad8","type":"api-call-service","z":"5db12493.94a2c4","name":"Call Buiten Beweging Gedecteerd","server":"f93d303.a1c6f5","version":"1","debugenabled":false,"service_domain":"script","service":"outside_motion_detection","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1220,"y":1230,"wires":[[]]},{"id":"61a552cb.c2a84c","type":"function","z":"5db12493.94a2c4","name":"Build Data Payload","func":"var sensor = \"\";\n\nif(flow.get(\"sensor\").new_state.attributes.hasOwnProperty(\"friendly_name\")){\n    sensor = flow.get(\"sensor\").new_state.attributes[\"friendly_name\"];\n}\n\nmsg.payload = { \"data\": {\"sensor\":sensor} };\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1230,"wires":[["e48351ce.97fad8"]]},{"id":"51f4013c.ea1408","type":"change","z":"5db12493.94a2c4","name":"Set Sensor","rules":[{"t":"move","p":"data","pt":"msg","to":"sensor","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1240,"wires":[["ce035ac7.eb5268"]]},{"id":"525425c0.6d12cc","type":"server-state-changed","z":"5db12493.94a2c4","name":"Keukendeur","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.keuken_deur","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":1150,"wires":[["51f4013c.ea1408"],[]]},{"id":"b398ce0.1fbc63","type":"server-state-changed","z":"5db12493.94a2c4","name":"Achterdeur","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.achter_deur","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":1210,"wires":[["51f4013c.ea1408"],[]]},{"id":"990fa15d.d2726","type":"switch","z":"5db12493.94a2c4","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":1020,"wires":[["326b4bf4.e439e4","549fa2c7.e0fcbc","4b7a9549.1c6ba4"],["326b4bf4.e439e4"]]},{"id":"dd06f3f1.372b28","type":"api-call-service","z":"5db12493.94a2c4","name":"Turn Off eerste verdiep Light","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.gang_eerste_verdiep","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":900,"y":1060,"wires":[[]]},{"id":"549fa2c7.e0fcbc","type":"api-current-state","z":"5db12493.94a2c4","name":"Get Gang Eerste 1 Ligh Level Sensor","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.gang_eerste_motion_sensor_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":920,"wires":[["96305c48.4c7518"]]},{"id":"76a83a79.996d8c","type":"trigger","z":"5db12493.94a2c4","name":"","op1":"","op2":"{\"service\": \"turn_off\"}","op1type":"nul","op2type":"json","duration":"5","extend":false,"units":"min","reset":"on","bytopic":"all","outputs":1,"x":530,"y":700,"wires":[["c5a9d909.4d4238"]]},{"id":"c3c8d6e7.22a04","type":"switch","z":"5db12493.94a2c4","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":680,"wires":[["f214b31d.7926c8","76a83a79.996d8c"],["76a83a79.996d8c"]]},{"id":"896203e3.587328","type":"switch","z":"5db12493.94a2c4","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":820,"wires":[["71c856f2.2b4368","49c83c92.4ef15c","22572da4.7c9c22"],["49c83c92.4ef15c"]]},{"id":"49c83c92.4ef15c","type":"trigger","z":"5db12493.94a2c4","name":"","op1":"","op2":"{\"service\": \"turn_off\"}","op1type":"nul","op2type":"json","duration":"5","extend":false,"units":"min","reset":"on","bytopic":"all","outputs":1,"x":530,"y":860,"wires":[["da6fcd68.7047b8"]]},{"id":"6fa74c7a.20d984","type":"server-events","z":"f6e5a287.09185","name":"Event Bus","server":"f93d303.a1c6f5","x":80,"y":800,"wires":[["ddb64c92.1ffde","92633285.80e828","311ce2c.64fec1e","8e070e11.4ed62"]]},{"id":"ddb64c92.1ffde","type":"function","z":"f6e5a287.09185","name":"Filter telegram callback events","func":"if(msg.payload.event_type == \"telegram_callback\") {\n    msg.payload.data = {\"callback_query_id\": msg.payload.event.id};\n    return msg;    \n} else if(msg.payload.event_type == \"telegram_command\") {\n    msg.payload.data = {\"command\": msg.payload.event.command, \"chat_id\": msg.payload.event.chat_id};\n    return msg;    \n}","outputs":1,"noerr":0,"x":470,"y":804,"wires":[["6eec1604.8b6dc8","6b478b76.1b9594","55c7a2f1.68ce6c","f2e1df8c.753a5"]]},{"id":"29396a0a.a898f6","type":"inject","z":"f6e5a287.09185","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":744,"wires":[["9349f721.c35ac8"]]},{"id":"9349f721.c35ac8","type":"api-call-service","z":"f6e5a287.09185","name":"Initial Message","server":"f93d303.a1c6f5","service_domain":"telegram_bot","service":"send_message","data":"{   \"target\": \"689595780\",   \"title\": \"Want pizza?\",   \"message\": \"You look like you are home alone. Should I order you a pizza?\",   \"inline_keyboard\": [     \"Gimme Pizza:\\/gimmepizza\",     \"No thanks:\\/nopizza\"   ] }","mergecontext":"","x":510,"y":744,"wires":[[]]},{"id":"6eec1604.8b6dc8","type":"switch","z":"f6e5a287.09185","name":"Check callback","property":"payload.event.data","propertyType":"msg","rules":[{"t":"eq","v":"/nopizza","vt":"str"},{"t":"eq","v":"/gimmepizza","vt":"str"},{"t":"eq","v":"/noguest","vt":"str"},{"t":"eq","v":"/yesguest","vt":"str"},{"t":"eq","v":"/vacuumemptybindone","vt":"str"},{"t":"eq","v":"/vacuumemptybinextend","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":760,"y":780,"wires":[["6e0fee66.a43bb8"],["207525ea.e9ea92"],["c267048e.844dd8"],["c267048e.844dd8"],["3bbeaac9.2b9aae"],["3bbeaac9.2b9aae"]]},{"id":"6e0fee66.a43bb8","type":"change","z":"f6e5a287.09185","name":"True","rules":[{"t":"set","p":"payload.data.message","pt":"msg","to":"Ok, no pizza","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":720,"wires":[["7fe46fd2.f376c8"]]},{"id":"207525ea.e9ea92","type":"change","z":"f6e5a287.09185","name":"False","rules":[{"t":"set","p":"payload.data.message","pt":"msg","to":"Pizza order on the way","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":760,"wires":[["7fe46fd2.f376c8"]]},{"id":"7fe46fd2.f376c8","type":"api-call-service","z":"f6e5a287.09185","name":"Answer Callback","server":"f93d303.a1c6f5","version":0,"service_domain":"telegram_bot","service":"answer_callback_query","data":"{}","mergecontext":"","x":1230,"y":720,"wires":[[]]},{"id":"6b478b76.1b9594","type":"switch","z":"f6e5a287.09185","name":"/hello","property":"msg.payload.data.command","propertyType":"msg","rules":[{"t":"eq","v":"/hello","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":900,"wires":[["f080a084.c3da38"]]},{"id":"f080a084.c3da38","type":"change","z":"f6e5a287.09185","name":"Set Message","rules":[{"t":"set","p":"payload.data.message","pt":"msg","to":"Hello","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":900,"wires":[["c185ff01.93c518"]]},{"id":"d1b20751.bd05e8","type":"light-scheduler","z":"f6e5a287.09185","settings":"73825384.e8bd7c","events":"[{\"start\":{\"dow\":1,\"mod\":1305},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":2,\"mod\":0},\"end\":{\"dow\":2,\"mod\":450}},{\"start\":{\"dow\":3,\"mod\":0},\"end\":{\"dow\":3,\"mod\":450}},{\"start\":{\"dow\":4,\"mod\":0},\"end\":{\"dow\":4,\"mod\":450}},{\"start\":{\"dow\":5,\"mod\":0},\"end\":{\"dow\":5,\"mod\":450}},{\"start\":{\"dow\":6,\"mod\":0},\"end\":{\"dow\":6,\"mod\":450}},{\"start\":{\"dow\":0,\"mod\":0},\"end\":{\"dow\":0,\"mod\":450}},{\"start\":{\"dow\":2,\"mod\":1305},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":3,\"mod\":1305},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":1305},\"end\":{\"dow\":5,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":1305},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":6,\"mod\":1305},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":1305},\"end\":{\"dow\":1,\"mod\":0}},{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":450}}]","topic":"","name":"Night Mode Scheduler","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":120,"y":600,"wires":[["6826755e.b969a4"]]},{"id":"222574f1.0a697c","type":"api-call-service","z":"f6e5a287.09185","name":"Activate Night Mode","server":"f93d303.a1c6f5","version":0,"service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.night_mode\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1260,"y":560,"wires":[[]]},{"id":"6826755e.b969a4","type":"switch","z":"f6e5a287.09185","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":620,"wires":[["6323a1e4.e9de98"],["fb49c326.223ad"]]},{"id":"fb49c326.223ad","type":"api-call-service","z":"f6e5a287.09185","name":"Deactivate Night Mode","server":"f93d303.a1c6f5","service_domain":"input_boolean","service":"turn_off","data":"{   \"entity_id\": \"input_boolean.night_mode\" }","mergecontext":"","x":1260,"y":620,"wires":[[]]},{"id":"e17c6817.4b35","type":"hold","z":"f6e5a287.09185","name":"","x":990,"y":540,"wires":[["222574f1.0a697c"]]},{"id":"7a7bcb35.9ebf54","type":"server-state-changed","z":"f6e5a287.09185","name":"Home","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.house_presence","entityidfiltertype":"substring","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":70,"y":540,"wires":[["467fe2b3.d85644"],[]]},{"id":"8151be55.4269d","type":"delay","z":"f6e5a287.09185","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":540,"wires":[["c97d45af.199fa8"]]},{"id":"6323a1e4.e9de98","type":"api-current-state","z":"f6e5a287.09185","name":"Get home presence","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.house_presence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":580,"wires":[["bd6fb2b.96f5a5"]]},{"id":"bd6fb2b.96f5a5","type":"switch","z":"f6e5a287.09185","name":"Somebody home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":580,"wires":[["e17c6817.4b35"],["222574f1.0a697c"]]},{"id":"c97d45af.199fa8","type":"change","z":"f6e5a287.09185","name":"Trigger","rules":[{"t":"set","p":"trigger","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":540,"wires":[["e17c6817.4b35"]]},{"id":"467fe2b3.d85644","type":"time-range-switch","z":"f6e5a287.09185","name":"","lat":"51.268735","lon":"3.222214","startTime":"21:30","endTime":"6:45","startOffset":0,"endOffset":0,"x":250,"y":540,"wires":[["8151be55.4269d"],[]]},{"id":"542dd861.a67818","type":"server-state-changed","z":"164a3904.fd37c7","name":"Rain Sensor","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.weather_station_rain","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":160,"wires":[["2aae0ed0.37b29a"]]},{"id":"54d761e0.ccbf38","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Temperature","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.greenhouse_temperature","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":160,"wires":[["ef305fef.4864f8","fdb62c8e.8e9e7"]]},{"id":"ef305fef.4864f8","type":"switch","z":"164a3904.fd37c7","name":"Check Temperature Window 1","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"32","vt":"str"},{"t":"gte","v":"30","vt":"str"},{"t":"lt","v":"30","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":890,"y":120,"wires":[["c7c0dd32.8894f"],["3381f6a2.39b992"],["9554e671.60611"]]},{"id":"ae6c733.c3a6c1","type":"api-call-service","z":"164a3904.fd37c7","name":"Close Window 2","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.greenhouse_window_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":380,"y":420,"wires":[[]]},{"id":"44645ad3.a09184","type":"api-call-service","z":"164a3904.fd37c7","name":"Open Window 2","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"cover","service":"set_cover_position","entityId":"cover.greenhouse_window_2","data":"{ \"position\" : \"{{flow.position2}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":780,"y":360,"wires":[[]]},{"id":"945489c0.ce3ee","type":"api-call-service","z":"164a3904.fd37c7","name":"Open Window 1","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"cover","service":"set_cover_position","entityId":"cover.greenhouse_window_1","data":"{ \"position\" : \"{{flow.position1}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":780,"y":480,"wires":[[]]},{"id":"dd1d02d9.185a48","type":"api-call-service","z":"164a3904.fd37c7","name":"Close Window 1","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.greenhouse_window_1","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":380,"y":540,"wires":[[]]},{"id":"2aae0ed0.37b29a","type":"delay","z":"164a3904.fd37c7","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":40,"wires":[["5769f45d.fcce9c"]]},{"id":"90d19af8.757d58","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Latest Rain Status","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.weather_station_rain","state_type":"str","state_location":"rain","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":160,"wires":[["fc8a9ba4.8623a"]]},{"id":"df2e86c2.9292f","type":"server-state-changed","z":"164a3904.fd37c7","name":"Serre Temperature Sensor","server":"f93d303.a1c6f5","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.greenhouse_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":40,"wires":[["2aae0ed0.37b29a"]]},{"id":"1564718d.41c1ee","type":"api-call-service","z":"5db12493.94a2c4","name":"Zolder Light","server":"f93d303.a1c6f5","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang_zolder","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1030,"y":1540,"wires":[[]]},{"id":"18972eda.ac1451","type":"api-current-state","z":"5db12493.94a2c4","name":"Get Gang Zolder Ligh Level Sensor","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.gang_zolder_motion_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":1490,"wires":[["4ea9038d.5a364c"]]},{"id":"55e77cb2.dced2c","type":"server-state-changed","z":"5db12493.94a2c4","name":"Voordeur","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.voor_deur","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":1270,"wires":[["51f4013c.ea1408"],[]]},{"id":"c826d343.7383e8","type":"server-state-changed","z":"5db12493.94a2c4","name":"Achterdeur","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.achter_deur","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":560,"wires":[["c3c8d6e7.22a04"]]},{"id":"8b02ff28.957cc8","type":"server-state-changed","z":"5db12493.94a2c4","name":"Voordeur","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.voor_deur","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":760,"wires":[["896203e3.587328"]]},{"id":"2372a508.4f13a2","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Turn off Zolder","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.zolder, light.led_speelkamer, light.led_bureau","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":1060,"wires":[[]]},{"id":"4c52dd08.c4ccd4","type":"server-state-changed","z":"5db12493.94a2c4","name":"Keukendeur","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.keuken_deur","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":620,"wires":[["c3c8d6e7.22a04"]]},{"id":"ab5a94db.ad5db8","type":"server-state-changed","z":"a71f61bf.68023","name":"Input Vacuum Room ","server":"f93d303.a1c6f5","version":1,"entityidfilter":"input_select.vacuum_room","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"Selecteer Kamer","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":110,"y":120,"wires":[[],[]]},{"id":"e1e100bc.1ce8f","type":"switch","z":"a71f61bf.68023","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Keuken","vt":"str"},{"t":"eq","v":"Eet Kamer","vt":"str"},{"t":"eq","v":"Living","vt":"str"},{"t":"eq","v":"Inkom","vt":"str"},{"t":"eq","v":"Berging","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":670,"y":100,"wires":[["7109ee1.e96361","c56944f3.efe18"],["7109ee1.e96361","833f6060.9dd418"],["7109ee1.e96361","3a785387.d93a64"],["7109ee1.e96361","8a8ad547.57fa7"],["7109ee1.e96361","bf39f6b4.8a446"]]},{"id":"c56944f3.efe18","type":"api-call-service","z":"a71f61bf.68023","name":"Vacuum Keuken","server":"f93d303.a1c6f5","service_domain":"script","service":"vacuum_keuken","data":"","mergecontext":"","x":1040,"y":100,"wires":[[]]},{"id":"833f6060.9dd418","type":"api-call-service","z":"a71f61bf.68023","name":"Vacuum Eet Kamer","server":"f93d303.a1c6f5","service_domain":"script","service":"vacuum_eet_kamer","data":"","mergecontext":"","x":1050,"y":160,"wires":[[]]},{"id":"3a785387.d93a64","type":"api-call-service","z":"a71f61bf.68023","name":"Vacuum Living","server":"f93d303.a1c6f5","service_domain":"script","service":"vacuum_living","data":"","mergecontext":"","x":1040,"y":220,"wires":[[]]},{"id":"7109ee1.e96361","type":"api-call-service","z":"a71f61bf.68023","name":"Set Input Vacuum Room to default","server":"f93d303.a1c6f5","service_domain":"input_select","service":"select_option","data":"{   \"entity_id\": \"input_select.vacuum_room\", \"option\":\"Selecteer Kamer\" }","mergecontext":"","x":1100,"y":40,"wires":[[]]},{"id":"e96909f.17c4a78","type":"api-call-service","z":"a71f61bf.68023","name":"Start Vacuum","server":"f93d303.a1c6f5","service_domain":"vacuum","service":"start","data":"{\"entity_id\":\"vacuum.xiaomi_vacuum_cleaner\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1140,"y":586,"wires":[[]]},{"id":"9a64415b.2d6a78","type":"inject","z":"a71f61bf.68023","name":"At Midnight","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":380,"wires":[[]]},{"id":"de38c44b.d3bbe","type":"api-current-state","z":"a71f61bf.68023","name":"Disable Daily?","server":"f93d303.a1c6f5","version":0,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.disable_daily_vacuum","state_type":"str","override_payload":true,"override_data":true,"x":700,"y":646,"wires":[["e9063492.775c48"],[]]},{"id":"61fb76a5.06fa48","type":"api-current-state","z":"a71f61bf.68023","name":"House Guest Active?","server":"f93d303.a1c6f5","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.house_guests","state_type":"str","override_payload":true,"override_data":true,"x":700,"y":526,"wires":[["529af45b.a0ec0c"],[]]},{"id":"2194df9c.8f84a8","type":"switch","z":"bc8ddc58.b5a61","name":"Home(on)/Away(off)?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":1000,"wires":[["cb38a528.6b6758","d38ea950.470ad8"],["9bef8934.764618"]]},{"id":"314edc85.bf272c","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Turn Off Garage Buiten","server":"f93d303.a1c6f5","service_domain":"light","service":"turn_off","data":"{   \"entity_id\": \"light.garage_buiten\" }","mergecontext":"","x":1270,"y":1678,"wires":[[]]},{"id":"e4d91ab7.1ceaa","type":"api-current-state","z":"bc8ddc58.b5a61","name":"Garage Buiten Licht?","server":"f93d303.a1c6f5","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.garage_buiten","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1040,"y":1678,"wires":[[],["314edc85.bf272c"]]},{"id":"6824d41b.211a04","type":"server-state-changed","z":"bc8ddc58.b5a61","name":"Everybody Home","server":"f93d303.a1c6f5","version":"1","entityidfilter":"input_boolean.everybody_home","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":1758,"wires":[["2d55cc7a.ae0c9c"]]},{"id":"298a7a75.ea7a3e","type":"function","z":"bc8ddc58.b5a61","name":"Set Almost Home","func":"if(msg.payload == 'on'){\n    global.set('almosthome','off');\n    return msg;\n}else{\n    global.set('almosthome','on');\n}\n","outputs":1,"noerr":0,"x":770,"y":1738,"wires":[["e4d91ab7.1ceaa"]]},{"id":"949b9355.231f4","type":"server-state-changed","z":"bc8ddc58.b5a61","name":"Home Proximity","server":"f93d303.a1c6f5","version":"1","entityidfilter":"binary_sensor.home_proximity","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":1618,"wires":[["a640a5c1.9a716"]]},{"id":"a640a5c1.9a716","type":"switch","z":"bc8ddc58.b5a61","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":1618,"wires":[["bb98566f.18232","76148a9.efe8ef4"],["a5d6dd68.d0408"]]},{"id":"a7fac102.ad3ae","type":"time-range-switch","z":"bc8ddc58.b5a61","name":"","lat":"51.268735","lon":"3.222214","startTime":"sunset","endTime":"sunrise","startOffset":"-30","endOffset":"+30","x":680,"y":1598,"wires":[["e23e4237.a37a48"],[]]},{"id":"e23e4237.a37a48","type":"api-current-state","z":"bc8ddc58.b5a61","name":"Garage Buiten Licht?","server":"f93d303.a1c6f5","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.garage_buiten","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1040,"y":1578,"wires":[[],["b8d529b6.ccd0e"]]},{"id":"b8d529b6.ccd0e","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Turn On Garage Buiten","server":"f93d303.a1c6f5","service_domain":"light","service":"turn_on","data":"{   \"entity_id\": \"light.garage_buiten\" }","mergecontext":"","x":1270,"y":1578,"wires":[[]]},{"id":"bb98566f.18232","type":"change","z":"bc8ddc58.b5a61","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1678,"wires":[["a5d6dd68.d0408"]]},{"id":"9fffe551.fa6628","type":"stoptimer","z":"a71f61bf.68023","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":480,"y":586,"wires":[["61fb76a5.06fa48"],[]]},{"id":"ecc06665.f78dd","type":"change","z":"a71f61bf.68023","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":560,"wires":[["9fffe551.fa6628"]]},{"id":"a5d6dd68.d0408","type":"stoptimer","z":"bc8ddc58.b5a61","duration":"3","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":560,"y":1678,"wires":[["e4d91ab7.1ceaa"],[]]},{"id":"e9063492.775c48","type":"time-range-switch","z":"a71f61bf.68023","name":"","lat":"51.268735","lon":"3.222214","startTime":"07:00","endTime":"17:00","startOffset":0,"endOffset":0,"x":910,"y":646,"wires":[["e96909f.17c4a78","63b19e3a.d2bce8","1483a28f.ece08d"],[]]},{"id":"6e69c956.8805","type":"server-state-changed","z":"a71f61bf.68023","name":"House Presence","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.house_presence","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":580,"wires":[[],[]]},{"id":"39f3496b.d43bde","type":"api-call-service","z":"a71f61bf.68023","name":"Call Vacuum Is Done Script","server":"f93d303.a1c6f5","version":1,"service_domain":"script","service":"vacuum_is_done","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1140,"y":720,"wires":[[]]},{"id":"a8b43a59.9b1f5","type":"server-state-changed","z":"a71f61bf.68023","name":"Xiaomi Vacuum Cleaner","server":"f93d303.a1c6f5","version":1,"entityidfilter":"vacuum.xiaomi_vacuum_cleaner","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":780,"wires":[[]]},{"id":"9917c7de.c07a18","type":"switch","z":"a71f61bf.68023","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"docked","vt":"str"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":780,"wires":[["3eee036e.dbdf5c"],[]]},{"id":"b4c8411c.42a4","type":"rbe","z":"a71f61bf.68023","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":780,"wires":[["9917c7de.c07a18"]]},{"id":"2d55cc7a.ae0c9c","type":"trigger","z":"bc8ddc58.b5a61","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"10","extend":true,"units":"min","reset":"","bytopic":"all","outputs":1,"x":370,"y":1758,"wires":[["298a7a75.ea7a3e"]]},{"id":"76148a9.efe8ef4","type":"switch","z":"bc8ddc58.b5a61","name":"Almost home on?","property":"almosthome","propertyType":"global","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":1598,"wires":[["a7fac102.ad3ae"]]},{"id":"9c0a2445.2665c","type":"function","z":"f6e5a287.09185","name":"Filter only battery devices","func":"var battery = '0';\n\nif (msg.payload.entity_id !== \"undefined\"){\n    if (msg.payload.entity_id.includes(\"battery\")){\n        battery = msg.payload\n    }\n}\n\nif (msg.payload.event.new_state !== null){\n    if (msg.payload.event.new_state.attributes !== \"undefined\") {\n        for (var key in msg.payload.event.new_state.attributes) {\n            if (key == \"battery\" || key == \"battery_level\"){\n                battery = msg.payload.event.new_state.attributes[key];\n            }\n        }\n        \n        \n        \n        if (battery > 0 && !msg.payload.entity_id.includes(\"lightlevel\")){\n            var entity = msg.payload.entity_id.replace(\".\", \"_\");\n            var name = msg.payload.event.new_state.attributes[\"friendly_name\"] || msg.payload.entity_id.split(\".\")[1]; \n            msg.payload = { \"data\": {\"entity\":entity,\"name\":name, \"battery\": battery} }\n            return msg;\n        }\n    }\n}","outputs":1,"noerr":0,"x":310,"y":1000,"wires":[["d863d01.763d2b"]]},{"id":"69caa87d.3e1f18","type":"api-call-service","z":"f6e5a287.09185","name":"Call low_battery_notification","server":"f93d303.a1c6f5","service_domain":"script","service":"low_battery_notification","data":"","mergecontext":"","x":1180,"y":1000,"wires":[[]]},{"id":"ebe94055.f69bc","type":"switch","z":"f6e5a287.09185","name":"","property":"payload.data.battery","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"num"},{"t":"gte","v":"25","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":1000,"wires":[["5a9b5e71.06bf3"],["46a5169c.a1a8"]]},{"id":"cef76d7e.343ad","type":"api-call-service","z":"f6e5a287.09185","name":"Call dismiss_low_battery_notification","server":"f93d303.a1c6f5","service_domain":"script","service":"dismiss_low_battery_notification","data":"","mergecontext":"","x":1210,"y":1080,"wires":[[]]},{"id":"5a9b5e71.06bf3","type":"function","z":"f6e5a287.09185","name":"Add entry in global for notification","func":"global.set(msg.payload.data.entity, \"true\");\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1000,"wires":[["69caa87d.3e1f18"]]},{"id":"46a5169c.a1a8","type":"function","z":"f6e5a287.09185","name":"Check notification exist","func":"if (global.keys().includes(msg.payload.data.entity)){\n    var entity = global.get(msg.payload.data.entity);\n    if ( entity == \"true\"){\n        global.set(msg.payload.data.entity, \"false\");\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":860,"y":1080,"wires":[["cef76d7e.343ad"]]},{"id":"43317e98.5b07b","type":"mqtt out","z":"f6e5a287.09185","name":"Set Config","topic":"","qos":"","retain":"true","broker":"b2cf98b5.afd6e8","x":1130,"y":1160,"wires":[]},{"id":"a9aa05f5.d0e758","type":"delay","z":"f6e5a287.09185","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":1220,"wires":[["b17dd2ff.7210c8"]]},{"id":"b17dd2ff.7210c8","type":"mqtt out","z":"f6e5a287.09185","name":"Set State","topic":"","qos":"","retain":"true","broker":"b2cf98b5.afd6e8","x":1120,"y":1220,"wires":[]},{"id":"4c964ba.ad3a0b4","type":"function","z":"f6e5a287.09185","name":"Build Config","func":"var name = \"Battery \".concat(msg.payload.data.name);\nvar unit_of_measurement = \"%\";\nvar state_topic = \"homeassistant/sensor/battery_\".concat(msg.payload.data.entity).concat(\"/state\");\nvar topic = \"homeassistant/sensor/battery_\".concat(msg.payload.data.entity).concat(\"/config\");\nvar device_class= \"battery\";\nvar icon = \"\";\nvar battery_level = msg.payload.data.battery;\nvar battery_round = Math.round(battery_level/10)*10;\nif (battery_level == \"unknown\"){\n    icon = \"mdi:battery-unknown\";\n}else{\n    if (battery_round >= 100){\n        icon = \"mdi:battery\";\n    }else if(battery_round > 0){\n        icon = \"mdi:battery-\".concat(battery_round);\n    }else{\n        icon = \"mdi:battery-alert\";\n    }\n}\n\nicon = \"mdi:battery\"\n\nmsg.topic = topic;\nmsg.payload = { \"name\": name, \"unit_of_measurement\": unit_of_measurement, \"state_topic\": state_topic, \"icon\": icon, \"device_class\": device_class}\nreturn msg;\n","outputs":1,"noerr":0,"x":830,"y":1160,"wires":[["43317e98.5b07b"]]},{"id":"d11446d4.12fe58","type":"function","z":"f6e5a287.09185","name":"Build State","func":"msg.topic = \"homeassistant/sensor/battery_\".concat(msg.payload.data.entity).concat(\"/state\");\nmsg.payload = msg.payload.data.battery\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1220,"wires":[["a9aa05f5.d0e758"]]},{"id":"d863d01.763d2b","type":"delay","z":"f6e5a287.09185","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":1000,"wires":[["ebe94055.f69bc","4c964ba.ad3a0b4","d11446d4.12fe58","349ae73b.e7544"]]},{"id":"92633285.80e828","type":"switch","z":"f6e5a287.09185","name":"Only State Changed","property":"event_type","propertyType":"msg","rules":[{"t":"eq","v":"state_changed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":960,"wires":[["9c0a2445.2665c"]]},{"id":"311ce2c.64fec1e","type":"switch","z":"f6e5a287.09185","name":"Only Call Service","property":"payload.event_type","propertyType":"msg","rules":[{"t":"eq","v":"call_service","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":1300,"wires":[["2d6c5a9d.eeeebe"]]},{"id":"2d6c5a9d.eeeebe","type":"function","z":"f6e5a287.09185","name":"Filter only vacuum started","func":"if (msg.payload.event.domain == \"vacuum\" && msg.payload.event.service == \"start\"){\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":550,"y":1300,"wires":[["2e1f61b7.f89d6e"]]},{"id":"cc8e5ae4.75e34","type":"server-state-changed","z":"5db12493.94a2c4","name":"Garage Deur","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.garage_deur","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":1330,"wires":[["51f4013c.ea1408"],[]]},{"id":"4e6a69aa.727dd8","type":"trigger","z":"5db12493.94a2c4","name":"","op1":"","op2":"{\"service\": \"turn_off\"}","op1type":"nul","op2type":"json","duration":"65","extend":false,"units":"s","reset":"on","bytopic":"all","outputs":1,"x":510,"y":320,"wires":[["3102e10f.926d66"]]},{"id":"326b4bf4.e439e4","type":"trigger","z":"5db12493.94a2c4","name":"","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"65","extend":false,"units":"s","reset":"on","bytopic":"all","outputs":1,"x":530,"y":1060,"wires":[["dd06f3f1.372b28"]]},{"id":"32a13ea1.a32e32","type":"trigger","z":"5db12493.94a2c4","name":"","op1":"","op2":"{\"service\": \"turn_off\"}","op1type":"nul","op2type":"json","duration":"65","extend":false,"units":"s","reset":"on","bytopic":"all","outputs":1,"x":330,"y":80,"wires":[["6dcef002.6bfef8"]]},{"id":"7931388.e20ab48","type":"trigger","z":"5db12493.94a2c4","name":"","op1":"","op2":"{\"service\": \"turn_off\"}","op1type":"nul","op2type":"json","duration":"65","extend":false,"units":"s","reset":"on","bytopic":"all","outputs":1,"x":510,"y":1570,"wires":[["1564718d.41c1ee"]]},{"id":"8a8ad547.57fa7","type":"api-call-service","z":"a71f61bf.68023","name":"Vacuum Inkom","server":"f93d303.a1c6f5","service_domain":"script","service":"vacuum_inkom","data":"","mergecontext":"","x":1040,"y":280,"wires":[[]]},{"id":"bf39f6b4.8a446","type":"api-call-service","z":"a71f61bf.68023","name":"Vacuum Berging","server":"f93d303.a1c6f5","service_domain":"script","service":"vacuum_berging","data":"","mergecontext":"","x":1040,"y":340,"wires":[[]]},{"id":"96305c48.4c7518","type":"function","z":"5db12493.94a2c4","name":"Is dark?","func":"if (msg.data.attributes[\"dark\"] === true){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":900,"y":920,"wires":[["3cb011b4.e305d6"]]},{"id":"4ea9038d.5a364c","type":"function","z":"5db12493.94a2c4","name":"Is dark?","func":"if (msg.data.attributes[\"dark\"] === true){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":840,"y":1490,"wires":[["1564718d.41c1ee"]]},{"id":"917f9d2d.2fb63","type":"inject","z":"bc8ddc58.b5a61","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":120,"wires":[["ff7508ab.ffc528"]]},{"id":"8b4be653.26e1c","type":"function","z":"a71f61bf.68023","name":"Build Data Payload","func":"var room = flow.get(\"vacuum_room\")||\"\";\n\nif (room === \"\"){\n    return [msg, null];\n}else{\n    msg.payload = { \"data\": {\"room\":room} };\n    flow.set(\"vacuum_room\", \"\");\n    return [null,msg]; \n}","outputs":2,"noerr":0,"x":850,"y":740,"wires":[["39f3496b.d43bde"],["61ffd2e9.96a14c"]]},{"id":"61ffd2e9.96a14c","type":"api-call-service","z":"a71f61bf.68023","name":"Call Vacuum Is Done Room Script","server":"f93d303.a1c6f5","version":"1","service_domain":"script","service":"vacuum_is_done_room","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1160,"y":780,"wires":[[]]},{"id":"28ab1239.43c66e","type":"change","z":"a71f61bf.68023","name":"Set Vacuum Room var","rules":[{"t":"set","p":"vacuum_room","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":100,"wires":[["e1e100bc.1ce8f"]]},{"id":"3eee036e.dbdf5c","type":"api-current-state","z":"a71f61bf.68023","name":"Notifications Disabled?","server":"f93d303.a1c6f5","version":0,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.disable_dustbin_notification","state_type":"habool","override_payload":true,"override_data":true,"x":620,"y":740,"wires":[["8b4be653.26e1c","18d9c40f.40cd0c"],[]]},{"id":"79c77dd6.be96c4","type":"switch","z":"5db12493.94a2c4","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":280,"wires":[["4e6a69aa.727dd8","5e6ed1c6.4a03f","61cdbf52.b5e4a8","f534217a.2f1ef"],["4e6a69aa.727dd8"]]},{"id":"8e070e11.4ed62","type":"switch","z":"f6e5a287.09185","name":"Deconz Events","property":"event_type","propertyType":"msg","rules":[{"t":"eq","v":"deconz_event","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":1360,"wires":[["94d8c144.1a7218","d6deeb2.9a42b98","33b4c06.907d84"]]},{"id":"2d44b09d.1fbe3","type":"link out","z":"f6e5a287.09185","name":"Deconz Event, Switch 15","links":["bab044a.69754b8","2ceb6a63.c28356"],"x":775,"y":1360,"wires":[]},{"id":"94d8c144.1a7218","type":"function","z":"f6e5a287.09185","name":"Sfeerverlichting schouw","func":"if (msg.payload.event.id == 'sv_schouw_switch'){\nreturn msg\n}","outputs":1,"noerr":0,"x":550,"y":1360,"wires":[["2d44b09d.1fbe3"]]},{"id":"e150ae07.a3952","type":"trigger-state","z":"5db12493.94a2c4","name":"Gang Eerste Verdiep","server":"f93d303.a1c6f5","entityid":"group.motion_gang_eerste_verdiep","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"oy2h6bsv2pi","targetType":"entity_id","targetValue":"input_boolean.disable_motion_trigger_light_gang_eerste_verdiep","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":140,"y":1020,"wires":[["990fa15d.d2726"],[]]},{"id":"e8fe959d.6df838","type":"trigger-state","z":"5db12493.94a2c4","name":"Inkom","server":"f93d303.a1c6f5","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"group.motion_inkom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"thj5zobrmob","targetType":"entity_id","targetValue":"input_boolean.disable_motion_trigger_light_inkom","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":90,"y":280,"wires":[["79c77dd6.be96c4"],[]]},{"id":"72bd595c.be5d7","type":"inject","z":"f6e5a287.09185","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":500,"wires":[["6323a1e4.e9de98"]]},{"id":"42c63c27.d1b6ac","type":"server-state-changed","z":"f6e5a287.09185","name":"External IP Fritz","server":"f93d303.a1c6f5","version":1,"entityidfilter":"sensor.external_ip","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":1688,"wires":[["246f0669.545ed2"]]},{"id":"7b6f0e3a.9c20a8","type":"http request","z":"f6e5a287.09185","name":"CheckWAN","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.10/transip/CheckWAN.php","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":1880,"wires":[[]]},{"id":"28a3c9e6.abaff6","type":"inject","z":"f6e5a287.09185","name":"Get IP","repeat":"300","crontab":"","once":false,"onceDelay":"","topic":"ip","payload":"eth0","payloadType":"str","x":120,"y":1780,"wires":[["42f98ecd.c67898","7b6f0e3a.9c20a8"]]},{"id":"42f970e0.7790e","type":"function","z":"f6e5a287.09185","name":"Compare IPv4","func":"context.lastip = context.lastip || 'initial';\nvar currentip = msg.payload;\n\nif (context.lastip != 'initial' && context.lastip != currentip ) {\nmsg.payload = \"My current IP is \"+currentip;\ncontext.lastip = currentip;\nreturn msg;\n}","outputs":1,"noerr":0,"x":880,"y":1740,"wires":[["7b6f0e3a.9c20a8"]]},{"id":"246f0669.545ed2","type":"switch","z":"f6e5a287.09185","name":"Integrity check IPV4","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"\\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\b","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":1740,"wires":[["42f970e0.7790e"],[]]},{"id":"218051f9.4b17b6","type":"api-call-service","z":"5db12493.94a2c4","name":"WC Boven Light","server":"f93d303.a1c6f5","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.wc_boven","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1220,"y":420,"wires":[[]]},{"id":"664f2bfa.bcc51c","type":"trigger","z":"5db12493.94a2c4","name":"","op1":"","op2":"{\"service\": \"turn_off\"}","op1type":"nul","op2type":"json","duration":"65","extend":false,"units":"s","reset":"on","bytopic":"all","outputs":1,"x":510,"y":460,"wires":[["218051f9.4b17b6"]]},{"id":"7a130de5.c44f8c","type":"server-state-changed","z":"5db12493.94a2c4","name":"WC Boven Motion","server":"f93d303.a1c6f5","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_wc_boven","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":420,"wires":[["49b8ed87.ddf2ac","664f2bfa.bcc51c"],["664f2bfa.bcc51c"]]},{"id":"49b8ed87.ddf2ac","type":"api-current-state","z":"5db12493.94a2c4","name":"Night Mode?","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.night_mode","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":400,"wires":[[],["218051f9.4b17b6"]]},{"id":"5e6ed1c6.4a03f","type":"time-range-switch","z":"5db12493.94a2c4","name":"","lat":"51.268735","lon":"3.222214","startTime":"sunset","endTime":"sunrise","startOffset":"-60","endOffset":"+30","x":520,"y":260,"wires":[["3102e10f.926d66"],[]]},{"id":"5769f45d.fcce9c","type":"time-range-switch","z":"164a3904.fd37c7","name":"","lat":"51.268735","lon":"3.222214","startTime":"06:00","endTime":"22:30","startOffset":0,"endOffset":0,"x":660,"y":40,"wires":[["90d19af8.757d58"],["16ca58a5.9e782f"]]},{"id":"dac68325.b7b5b","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn on Valve 1","server":"f93d303.a1c6f5","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.greenhouse_valve_1\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":740,"y":1020,"wires":[["c807ea4c.08bf"]]},{"id":"145add96.423322","type":"link out","z":"164a3904.fd37c7","name":"","links":["68836b2c.34a894","33b588de.761fa8","909994fb.42e2b8"],"x":1335,"y":1580,"wires":[]},{"id":"ca2d29dc.91cc28","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn on Valve 2","server":"f93d303.a1c6f5","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.greenhouse_valve_2\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":740,"y":1320,"wires":[["a4a7a2b2.4266c"]]},{"id":"5dcedf44.764ad8","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn on Valve 3","server":"f93d303.a1c6f5","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.greenhouse_valve_3\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":740,"y":1620,"wires":[["4ef8e803.fce948"]]},{"id":"6758e8b7.b2fa","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn on Valve 4","server":"f93d303.a1c6f5","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.greenhouse_valve_4\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":740,"y":1920,"wires":[["1b34a0bb.8c2f8f"]]},{"id":"68d7beb9.7ee9e8","type":"switch","z":"164a3904.fd37c7","name":"Need Run?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":2000,"wires":[["80117722.caa42"]]},{"id":"93f4d7df.a60218","type":"moment","z":"164a3904.fd37c7","name":"Format","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Brussels","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"runtime","outputType":"msg","outTz":"Europe/Brussels","x":522,"y":1020,"wires":[["fd07211b.751c7"]]},{"id":"86328e4b.909f38","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Next Run Zone 1","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.next_run_zone_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":1020,"wires":[["e3d0a273.683338"]]},{"id":"d7746f2b.3b59a8","type":"inject","z":"164a3904.fd37c7","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":920,"wires":[["86328e4b.909f38","6e8e76ed.7be25","277331af.3ee0e6","52d82cc.7ae2cd4"]]},{"id":"6e8e76ed.7be25","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Next Run Zone 2","server":"f93d303.a1c6f5","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.next_run_zone_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":1320,"wires":[["5f8ed407.8f0fc4"]]},{"id":"277331af.3ee0e6","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Next Run Zone 3","server":"f93d303.a1c6f5","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.next_run_zone_3","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":1620,"wires":[["451c7d33.a90454"]]},{"id":"52d82cc.7ae2cd4","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Next Run Zone 4","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.next_run_zone_4","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":1920,"wires":[["dae903de.7d3f7"]]},{"id":"157de367.f02e55","type":"moment","z":"164a3904.fd37c7","name":"Format","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Brussels","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"runtime","outputType":"msg","outTz":"Europe/Brussels","x":520,"y":1320,"wires":[["57dd930d.b079c4"]]},{"id":"74fd60cb.79ecb","type":"moment","z":"164a3904.fd37c7","name":"Format","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Brussels","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"runtime","outputType":"msg","outTz":"Europe/Brussels","x":520,"y":1620,"wires":[["554f0ec5.dbece"]]},{"id":"8c269c1e.fb39d","type":"moment","z":"164a3904.fd37c7","name":"Format","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Brussels","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"runtime","outputType":"msg","outTz":"Europe/Brussels","x":520,"y":1920,"wires":[["7866a13e.2593d8"]]},{"id":"7866a13e.2593d8","type":"function","z":"164a3904.fd37c7","name":"Check Time","func":"var nextrun = new Date(msg.runtime);\nvar currenttime = new Date();\ncurrenttime.setMilliseconds(0);\ncurrenttime.setSeconds(0);\nif (currenttime.getTime() == nextrun.getTime()){\n    msg.payload = \"on\"\n}else{\n    msg.payload = \"off\"\n}\nreturn msg; ","outputs":1,"noerr":0,"x":530,"y":1960,"wires":[["68d7beb9.7ee9e8"]]},{"id":"f0a2d007.d46bd","type":"function","z":"164a3904.fd37c7","name":"Set zoneId","func":"msg.zoneId = 1\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1180,"wires":[["145add96.423322"]]},{"id":"fce03cf4.e306f8","type":"function","z":"164a3904.fd37c7","name":"Set zoneId","func":"msg.zoneId = 2\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1480,"wires":[["145add96.423322"]]},{"id":"fb8df3a.715da1","type":"function","z":"164a3904.fd37c7","name":"Set zoneId","func":"msg.zoneId = 3\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1780,"wires":[["145add96.423322"]]},{"id":"97cfeeed.91e548","type":"function","z":"164a3904.fd37c7","name":"Set zoneId","func":"msg.zoneId = 4\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":2080,"wires":[["145add96.423322"]]},{"id":"1b34a0bb.8c2f8f","type":"ha-wait-until","z":"164a3904.fd37c7","name":"Wait for Valve 4","server":"f93d303.a1c6f5","outputs":1,"entityId":"switch.greenhouse_valve_4","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":980,"y":1920,"wires":[["591aa79f.7d42"]]},{"id":"591aa79f.7d42","type":"function","z":"164a3904.fd37c7","name":"Set Duration 4","func":"const gHomeAssistant = global.get('homeassistant').homeAssistant;\nconst duration = gHomeAssistant.states[`input_number.zone_4_duration`].state;\n\nmsg.delay = parseFloat(duration) * 60000;\nmsg.payload.service = \"turn_off\" //override previous service\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1980,"wires":[["70f345ae.bdddf4"]]},{"id":"70f345ae.bdddf4","type":"delay","z":"164a3904.fd37c7","name":"Duration","pauseType":"delayv","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":2020,"wires":[["66802076.a520e"]]},{"id":"66802076.a520e","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn Off Zone 4","server":"f93d303.a1c6f5","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.greenhouse_valve_4\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1140,"y":2020,"wires":[["97cfeeed.91e548"]]},{"id":"4ef8e803.fce948","type":"ha-wait-until","z":"164a3904.fd37c7","name":"Wait for Valve 3","server":"f93d303.a1c6f5","outputs":1,"entityId":"switch.greenhouse_valve_3","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":980,"y":1620,"wires":[["2b391d9e.d6d28a"]]},{"id":"2b391d9e.d6d28a","type":"function","z":"164a3904.fd37c7","name":"Set Duration 3","func":"const gHomeAssistant = global.get('homeassistant').homeAssistant;\nconst duration = gHomeAssistant.states[`input_number.zone_3_duration`].state;\n\nmsg.delay = parseFloat(duration) * 60000;\nmsg.payload.service = \"turn_off\" //override previous service\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1680,"wires":[["ddf0fcbd.e9f708"]]},{"id":"ddf0fcbd.e9f708","type":"delay","z":"164a3904.fd37c7","name":"Duration","pauseType":"delayv","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":1720,"wires":[["a3a1c12e.6b802"]]},{"id":"a3a1c12e.6b802","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn Off Zone 3","server":"f93d303.a1c6f5","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.greenhouse_valve_3\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1140,"y":1720,"wires":[["fb8df3a.715da1"]]},{"id":"a4a7a2b2.4266c","type":"ha-wait-until","z":"164a3904.fd37c7","name":"Wait for Valve 2","server":"f93d303.a1c6f5","outputs":1,"entityId":"switch.greenhouse_valve_2","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":980,"y":1320,"wires":[["67cde168.df33c"]]},{"id":"67cde168.df33c","type":"function","z":"164a3904.fd37c7","name":"Set Duration 2","func":"const gHomeAssistant = global.get('homeassistant').homeAssistant;\nconst duration = gHomeAssistant.states[`input_number.zone_2_duration`].state;\n\nmsg.delay = parseFloat(duration) * 60000;\nmsg.payload.service = \"turn_off\" //override previous service\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1380,"wires":[["9bdf08c2.517d58"]]},{"id":"9bdf08c2.517d58","type":"delay","z":"164a3904.fd37c7","name":"Duration","pauseType":"delayv","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":1420,"wires":[["e62706d9.d02d78"]]},{"id":"c807ea4c.08bf","type":"ha-wait-until","z":"164a3904.fd37c7","name":"Wait for Valve 1","server":"f93d303.a1c6f5","outputs":1,"entityId":"switch.greenhouse_valve_1","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":960,"y":1020,"wires":[["4d96cc11.c37314"]]},{"id":"4d96cc11.c37314","type":"function","z":"164a3904.fd37c7","name":"Set Duration 1","func":"const gHomeAssistant = global.get('homeassistant').homeAssistant;\nconst duration = gHomeAssistant.states[`input_number.zone_1_duration`].state;\n\nmsg.delay = parseFloat(duration) * 60000;\nmsg.payload.service = \"turn_off\" //override previous service\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1080,"wires":[["69c21d72.7f00b4"]]},{"id":"69c21d72.7f00b4","type":"delay","z":"164a3904.fd37c7","name":"Duration","pauseType":"delayv","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":1120,"wires":[["2236b238.307a0e"]]},{"id":"2236b238.307a0e","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn Off Zone 1","server":"f93d303.a1c6f5","version":0,"service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.greenhouse_valve_1\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1120,"y":1120,"wires":[["f0a2d007.d46bd"]]},{"id":"909994fb.42e2b8","type":"link in","z":"164a3904.fd37c7","name":"Calculate Next Run Time","links":["145add96.423322","c12220ce.5aa2a","b3a7728a.041ff","c69ae14.bfa152"],"x":275,"y":800,"wires":[["486b7a62.ccefbc"]]},{"id":"486b7a62.ccefbc","type":"function","z":"164a3904.fd37c7","name":"Calculate next run","func":"if (msg.topic === \"\") {\n    zoneId = msg.zoneId\n} else {\n    zoneId = /zone_([1234])/.exec(msg.topic)[1];\n}\n\ndatetimeId = `input_datetime.zone_${zoneId}_next_run_time`;\n\nmsg.datetimeId = datetimeId;\n\nconst gHomeAssistant = global.get('homeassistant').homeAssistant;\nconst time = gHomeAssistant.states[`input_datetime.zone_${zoneId}_select_time`].state;\nconst schedule = gHomeAssistant.states[`input_select.zone_${zoneId}_schedule`].state;\n\nmsg.hours = time.split(\":\")[0]\nmsg.minutes = time.split(\":\")[1]\n\nconst d = new Date();\nd.setHours(time.split(\":\")[0], time.split(\":\")[1]);\nvar currentDay = d.getDay();\nmsg.currentday = currentDay\n\nif (schedule == 'Every Day') {\n    if (Date.now() >= d){\n        d.setDate(d.getDate() + 1);\n    }\n} else if (schedule == 'Every 3 Days'){\n    if (Date.now() >= d){\n        d.setDate(d.getDate() + 3);\n    }\n} else if (schedule == 'Monday'){\n    d.setDate(d.getDate() + (1 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Tuesday'){\n    d.setDate(d.getDate() + (2 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Wednesday'){\n    d.setDate(d.getDate() + (3 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Thursday'){\n    d.setDate(d.getDate() + (4 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Friday'){\n    d.setDate(d.getDate() + (5 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Saturday'){\n    d.setDate(d.getDate() + (6 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Sunday'){\n    d.setDate(d.getDate() + (7 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Tue/Thu/Sat'){\n    if (Date.now() >= d){\n        currentDay++\n    }\n    if (currentDay <= 2 ){\n        newday = 2\n    } else if (currentDay <= 4){\n        newday = 4\n    } else if (currentDay <= 6){\n        newday = 6\n    } else if (currentDay <= 7){\n        newday = 2\n    }\n    d.setDate(d.getDate() + (newday + 7 - d.getDay()) % 7);\n} else if (schedule == 'Mon/Wed/Fri/Sun'){\n    if (Date.now() >= d){\n        currentDay++\n    }\n    if (currentDay <= 1 ){\n        newday = 1\n    } else if (currentDay <= 3){\n        newday = 3\n    } else if (currentDay <= 5){\n        newday = 5\n    } else if (currentDay <= 7){\n        newday = 7\n    }\n    d.setDate(d.getDate() + (newday + 7 - d.getDay()) % 7);\n}\n\nmsg.time = time;\n\nif (Date.now() >= d){\n    d.setDate(d.getDate() + 7);\n}\nmsg.date = d;\nmsg.currentDay = currentDay;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":793,"wires":[["f3f997bc.54eec","3dac2534.995b52"]]},{"id":"37d72381.86afc4","type":"api-call-service","z":"164a3904.fd37c7","name":"Set Schedule Time","server":"f93d303.a1c6f5","version":0,"service_domain":"input_datetime","service":"set_datetime","data":"{\"entity_id\":\"{{datetimeId}}\",\"date\":\"{{payload}}\",\"time\":\"{{time}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1050,"y":793,"wires":[[]]},{"id":"3dac2534.995b52","type":"moment","z":"164a3904.fd37c7","name":"Format Day","topic":"","input":"date","inputType":"msg","inTz":"Europe/Brussels","adjAmount":"0","adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/Brussels","x":730,"y":793,"wires":[["37d72381.86afc4"]]},{"id":"c2c5592e.5458e","type":"server-state-changed","z":"164a3904.fd37c7","name":"","server":"f93d303.a1c6f5","version":"1","entityidfilter":"input_select.zone_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":840,"wires":[["486b7a62.ccefbc"]]},{"id":"f3f997bc.54eec","type":"debug","z":"164a3904.fd37c7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":733,"wires":[]},{"id":"b9892543.d69508","type":"server-state-changed","z":"164a3904.fd37c7","name":"Input Datetime select time","server":"f93d303.a1c6f5","version":1,"entityidfilter":"input_datetime.zone_[1-4]_select_time","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":740,"wires":[["486b7a62.ccefbc"]]},{"id":"e62706d9.d02d78","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn off Valve 2","server":"f93d303.a1c6f5","version":0,"service_domain":"switch","service":"turn_Off","data":"{\"entity_id\":\"switch.greenhouse_valve_2\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":1420,"wires":[["fce03cf4.e306f8"]]},{"id":"80117722.caa42","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Current Soil Saturation Zone 4","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.greenhouse_zone_4_moisture","state_type":"num","state_location":"currentsoilsaturationzone4","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":600,"y":2040,"wires":[["d5f9624a.25532"]]},{"id":"d5f9624a.25532","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Soil Moisture Sensitivity Zone 4","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.soil_moisture_sensitivity_4","state_type":"num","state_location":"minsoilsaturationzone4","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":600,"y":2100,"wires":[["423009b.3b13cf8"]]},{"id":"423009b.3b13cf8","type":"switch","z":"164a3904.fd37c7","name":"Need Water?","property":"minsoilsaturationzone4","propertyType":"msg","rules":[{"t":"gt","v":"currentsoilsaturationzone4","vt":"msg"},{"t":"lte","v":"currentsoilsaturationzone4","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":2160,"wires":[["6758e8b7.b2fa"],["97cfeeed.91e548"]]},{"id":"d30f8e55.bde978","type":"server-state-changed","z":"5db12493.94a2c4","name":"Speelkamer Motion","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.motion_speelkamer","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":1680,"wires":[["badb9686.c8e888"]]},{"id":"badb9686.c8e888","type":"trigger","z":"5db12493.94a2c4","name":"","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"10","extend":true,"units":"min","reset":"on","bytopic":"all","outputs":1,"x":370,"y":1680,"wires":[["be1b7db6.d030e8","93204b5e.149c08"]]},{"id":"be1b7db6.d030e8","type":"api-call-service","z":"5db12493.94a2c4","name":"Turn off led speelkamer","server":"f93d303.a1c6f5","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.led_speelkamer","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":970,"y":1680,"wires":[[]]},{"id":"93204b5e.149c08","type":"api-call-service","z":"5db12493.94a2c4","name":"Turn off speelkamer","server":"f93d303.a1c6f5","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.speelkamer","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":960,"y":1740,"wires":[[]]},{"id":"d9dfc08a.4db37","type":"trigger","z":"5db12493.94a2c4","name":"","op1":"","op2":"{\"service\": \"turn_off\"}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"on","bytopic":"all","outputs":1,"x":450,"y":2020,"wires":[["6f4c5867.62de2"]]},{"id":"6f4c5867.62de2","type":"api-call-service","z":"5db12493.94a2c4","name":"Bureau Light","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bureau","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":910,"y":1980,"wires":[[]]},{"id":"e9b634da.a1b5a8","type":"api-call-service","z":"be33d1e5.7e5e48","name":"Notify Away","server":"f93d303.a1c6f5","version":"1","debugenabled":false,"service_domain":"notify","service":"hazilverberkenstraatbot","entityId":"","data":"{\"message\":\"Nest has been set to away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":380,"wires":[[]]},{"id":"391d9724.9bf72","type":"api-call-service","z":"be33d1e5.7e5e48","name":"Notify Home","server":"f93d303.a1c6f5","version":"1","debugenabled":false,"service_domain":"notify","service":"hazilverberkenstraatbot","entityId":"","data":"{\"message\":\"Nest has been set to home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":500,"wires":[[]]},{"id":"63b19e3a.d2bce8","type":"api-call-service","z":"a71f61bf.68023","name":"Set Daily Vacuum First Run","server":"f93d303.a1c6f5","service_domain":"variable","service":"set_variable","data":"{ \"variable\":\"daily_vacuum_first_run\", \"value\":\"True\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1180,"y":640,"wires":[[]]},{"id":"529af45b.a0ec0c","type":"api-current-state","z":"a71f61bf.68023","name":"Daily Run Done?","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"variable.daily_vacuum_first_run","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":580,"wires":[["de38c44b.d3bbe"],[]]},{"id":"2e1f61b7.f89d6e","type":"api-call-service","z":"f6e5a287.09185","name":"Set Daily Vacuum First Run","server":"f93d303.a1c6f5","service_domain":"variable","service":"set_variable","data":"{ \"variable\":\"daily_vacuum_first_run\", \"value\":\"True\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":1300,"wires":[[]]},{"id":"e518690.4531918","type":"api-call-service","z":"be33d1e5.7e5e48","name":"Activate Guest Mode?","server":"f93d303.a1c6f5","version":0,"service_domain":"telegram_bot","service":"send_message","data":"{\"target\":[\"689595780\",\"696299625\"],\"title\":\"Nest heeft beweging gedecteerd!\",\"message\":\"Wil je Guest Mode activeren?\",\"inline_keyboard\":[\"Ja graag.:/yesguest\",\"Nee dank u.:/noguest\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":900,"y":620,"wires":[[]]},{"id":"c267048e.844dd8","type":"link out","z":"f6e5a287.09185","name":"Handle Guest Callback","links":["ed278d76.06387"],"x":1115,"y":820,"wires":[]},{"id":"ed278d76.06387","type":"link in","z":"bc8ddc58.b5a61","name":"Handle Guest Callback","links":["c267048e.844dd8"],"x":35,"y":845,"wires":[["ecf2314c.a39bb8","74ddc95.99b0bb8"]]},{"id":"ecf2314c.a39bb8","type":"switch","z":"bc8ddc58.b5a61","name":"Check Feedback Motion Detected","property":"payload.event.data","propertyType":"msg","rules":[{"t":"eq","v":"/guestmode","vt":"str"},{"t":"eq","v":"/yesguest","vt":"str"},{"t":"eq","v":"/noguest","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":217,"y":700,"wires":[["5ae5d8a7.501e58"],["5ae5d8a7.501e58"],["61314673.8aec18","d53f05e0.0e971"]]},{"id":"55c7a2f1.68ce6c","type":"switch","z":"f6e5a287.09185","name":"/guestmode","property":"payload.data.command","propertyType":"msg","rules":[{"t":"eq","v":"/guestmode","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":860,"wires":[["c267048e.844dd8"]]},{"id":"d53f05e0.0e971","type":"change","z":"bc8ddc58.b5a61","name":"Guest Mode Not Activated","rules":[{"t":"set","p":"payload.data.message","pt":"msg","to":"Guest Mode Not Activated","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":740,"wires":[["b720ba0e.0595e8"]]},{"id":"b720ba0e.0595e8","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Answer Callback","server":"f93d303.a1c6f5","version":0,"service_domain":"telegram_bot","service":"answer_callback_query","data":"{}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":720,"wires":[["74ddc95.99b0bb8"]]},{"id":"d1a59c98.80932","type":"change","z":"bc8ddc58.b5a61","name":"Guest Mode Activated","rules":[{"t":"set","p":"payload.data.message","pt":"msg","to":"Guest Mode Activated","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":680,"wires":[["b720ba0e.0595e8"]]},{"id":"32c53003.6e65a","type":"link in","z":"be33d1e5.7e5e48","name":"Nest Away State","links":["74ddc95.99b0bb8","1c93f7c4.cdbf"],"x":75,"y":480,"wires":[["370d997f.25493e"]]},{"id":"370d997f.25493e","type":"api-current-state","z":"be33d1e5.7e5e48","name":"House Presence?","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.house_presence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":230,"y":480,"wires":[["e75fef1b.b7bff8"]]},{"id":"74ddc95.99b0bb8","type":"link out","z":"bc8ddc58.b5a61","name":"Check Nest Away State","links":["32c53003.6e65a"],"x":1355,"y":837,"wires":[]},{"id":"115ab00b.045008","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Notify Guest Mode not activated","server":"f93d303.a1c6f5","service_domain":"notify","service":"hazilverberkenstraatbot","data":"{\"message\":\"Guest Mode not activated\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":780,"wires":[[]]},{"id":"61314673.8aec18","type":"change","z":"bc8ddc58.b5a61","name":"Empty Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":780,"wires":[["115ab00b.045008"]]},{"id":"4b7a9549.1c6ba4","type":"api-current-state","z":"5db12493.94a2c4","name":"Get Gang Eerste 2 Ligh Level Sensor","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"20","halt_if_type":"num","halt_if_compare":"lt","override_topic":true,"entity_id":"sensor.gang_eerste_motion_sensor_2","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":980,"wires":[["3cb011b4.e305d6"],[]]},{"id":"ba130a87.5c0a1","type":"delay","z":"be33d1e5.7e5e48","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":580,"wires":[["4ec17b80.99f4b4"]]},{"id":"73574d77.9024bc","type":"api-current-state","z":"164a3904.fd37c7","name":"Window 1 Disabled","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.disable_greenhouse_window_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":170,"y":540,"wires":[["dd1d02d9.185a48"],[]]},{"id":"4e49e655.c27ac8","type":"api-current-state","z":"164a3904.fd37c7","name":"Window 1 Disabled","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.disable_greenhouse_window_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":170,"y":480,"wires":[["713b3c75.5bfa3c"],[]]},{"id":"a0354d1b.28d3b","type":"api-current-state","z":"164a3904.fd37c7","name":"Window 2 Disabled","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.disable_greenhouse_window_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":170,"y":360,"wires":[["8298779c.b87388"],[]]},{"id":"63f91d08.a897b4","type":"api-current-state","z":"164a3904.fd37c7","name":"Window 2 Disabled","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.disable_greenhouse_window_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":170,"y":420,"wires":[["ae6c733.c3a6c1"],[]]},{"id":"349ae73b.e7544","type":"debug","z":"f6e5a287.09185","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":520,"y":1120,"wires":[]},{"id":"544fdaad.266744","type":"link in","z":"164a3904.fd37c7","name":"Open Window 1","links":["c9f43b31.098fb8","b4b1fb8d.c10868","bee184b5.541bb8","5862875.46a3878","273710e1.8191c8"],"x":35,"y":480,"wires":[["4e49e655.c27ac8"]]},{"id":"ca827770.58a0b","type":"link in","z":"164a3904.fd37c7","name":"Open Window 2","links":["495952c.edaeaac","b2efee3c.77cb3","7866a458.54b04c","6adaebe.e58fd14","927c1637.b12fd","cc438f63.6d988"],"x":35,"y":360,"wires":[["a0354d1b.28d3b"]]},{"id":"8f684b1a.860bc","type":"link in","z":"164a3904.fd37c7","name":"Close Window 2","links":["16ca58a5.9e782f","9efad119.b7ced","48597549.563f44","6c694c94.a604e4","d6d631a6.b617e","c18dbaad.e54e98"],"x":35,"y":420,"wires":[["63f91d08.a897b4"]]},{"id":"c5e973f.9f2d21","type":"link in","z":"164a3904.fd37c7","name":"Close Window 1","links":["5969530d.1ff5fc","6c694c94.a604e4","9a8252e1.95d87","16ca58a5.9e782f","d6d631a6.b617e","a857760a.bd8be8","c18dbaad.e54e98"],"x":35,"y":540,"wires":[["73574d77.9024bc"]]},{"id":"16ca58a5.9e782f","type":"link out","z":"164a3904.fd37c7","name":"","links":["8f684b1a.860bc","c5e973f.9f2d21"],"x":835,"y":20,"wires":[]},{"id":"6c694c94.a604e4","type":"link out","z":"164a3904.fd37c7","name":"","links":["8f684b1a.860bc","c5e973f.9f2d21"],"x":575,"y":220,"wires":[]},{"id":"48597549.563f44","type":"link out","z":"164a3904.fd37c7","name":"","links":["8f684b1a.860bc"],"x":1315,"y":440,"wires":[]},{"id":"d6deeb2.9a42b98","type":"debug","z":"f6e5a287.09185","name":"Deconz Events","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":520,"y":1440,"wires":[]},{"id":"33b4c06.907d84","type":"function","z":"f6e5a287.09185","name":"Outlet Switch Bureau","func":"\nif (msg.payload.event.id == 'outlet_switch_bureau'){\n   return msg;\n}","outputs":1,"noerr":0,"x":540,"y":1400,"wires":[["9d385174.a4c8b8"]]},{"id":"9d385174.a4c8b8","type":"link out","z":"f6e5a287.09185","name":"","links":["318a0e6e.7d04a2"],"x":775,"y":1400,"wires":[]},{"id":"495952c.edaeaac","type":"link out","z":"164a3904.fd37c7","name":"","links":["ca827770.58a0b"],"x":1495,"y":380,"wires":[]},{"id":"a857760a.bd8be8","type":"link out","z":"164a3904.fd37c7","name":"","links":["c5e973f.9f2d21"],"x":1315,"y":240,"wires":[]},{"id":"353799d6.e76d3e","type":"switch","z":"164a3904.fd37c7","name":"Need Water?","property":"minsoilsaturationzone1","propertyType":"msg","rules":[{"t":"gt","v":"currentsoilsaturationzone1","vt":"msg"},{"t":"lte","v":"currentsoilsaturationzone1","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1260,"wires":[["dac68325.b7b5b"],["f0a2d007.d46bd"]]},{"id":"2177048.12790fc","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Soil Moisture Sensitivity Zone 1","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.soil_moisture_sensitivity_1","state_type":"num","state_location":"minsoilsaturationzone1","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":600,"y":1200,"wires":[["353799d6.e76d3e"]]},{"id":"dfce6707.8803a","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Current Soil Saturation Zone 1","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.greenhouse_zone_1_moisture","state_type":"num","state_location":"currentsoilsaturationzone1","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":600,"y":1140,"wires":[["2177048.12790fc"]]},{"id":"fd07211b.751c7","type":"function","z":"164a3904.fd37c7","name":"Check Time","func":"var nextrun = new Date(msg.runtime);\nvar currenttime = new Date();\ncurrenttime.setMilliseconds(0);\ncurrenttime.setSeconds(0);\nif (currenttime.getTime() == nextrun.getTime()){\n    msg.payload = \"on\"\n}else{\n    msg.payload = \"off\"\n}\nreturn msg; ","outputs":1,"noerr":0,"x":532,"y":1060,"wires":[["a31a5641.ca2e78"]]},{"id":"a31a5641.ca2e78","type":"switch","z":"164a3904.fd37c7","name":"Need Run?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":532,"y":1100,"wires":[["dfce6707.8803a"]]},{"id":"57dd930d.b079c4","type":"function","z":"164a3904.fd37c7","name":"Check Time","func":"var nextrun = new Date(msg.runtime);\nvar currenttime = new Date();\ncurrenttime.setMilliseconds(0);\ncurrenttime.setSeconds(0);\nif (currenttime.getTime() == nextrun.getTime()){\n    msg.payload = \"on\"\n}else{\n    msg.payload = \"off\"\n}\nreturn msg; ","outputs":1,"noerr":0,"x":530,"y":1360,"wires":[["94ced634.12d9f8"]]},{"id":"94ced634.12d9f8","type":"switch","z":"164a3904.fd37c7","name":"Need Run?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1400,"wires":[["c7ed6ff4.8481c8"]]},{"id":"c7ed6ff4.8481c8","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Current Soil Saturation Zone 2","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.greenhouse_zone_2_moisture","state_type":"num","state_location":"currentsoilsaturationzone2","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":598,"y":1440,"wires":[["a3e87014.8d38e8"]]},{"id":"a3e87014.8d38e8","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Soil Moisture Sensitivity Zone 2","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.soil_moisture_sensitivity_2","state_type":"num","state_location":"minsoilsaturationzone2","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":598,"y":1500,"wires":[["f552436e.a1b478"]]},{"id":"f552436e.a1b478","type":"switch","z":"164a3904.fd37c7","name":"Need Water?","property":"minsoilsaturationzone2","propertyType":"msg","rules":[{"t":"gt","v":"currentsoilsaturationzone2","vt":"msg"},{"t":"lte","v":"currentsoilsaturationzone2","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":528,"y":1560,"wires":[["ca2d29dc.91cc28"],["fce03cf4.e306f8"]]},{"id":"554f0ec5.dbece","type":"function","z":"164a3904.fd37c7","name":"Check Time","func":"var nextrun = new Date(msg.runtime);\nvar currenttime = new Date();\ncurrenttime.setMilliseconds(0);\ncurrenttime.setSeconds(0);\nif (currenttime.getTime() == nextrun.getTime()){\n    msg.payload = \"on\"\n}else{\n    msg.payload = \"off\"\n}\nreturn msg; ","outputs":1,"noerr":0,"x":530,"y":1660,"wires":[["57e2ade8.b22694"]]},{"id":"57e2ade8.b22694","type":"switch","z":"164a3904.fd37c7","name":"Need Run?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1700,"wires":[["a200e162.6af7b"]]},{"id":"a200e162.6af7b","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Current Soil Saturation Zone 3","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.greenhouse_zone_3_moisture","state_type":"num","state_location":"currentsoilsaturationzone3","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":598,"y":1740,"wires":[["5618bf73.37c9e"]]},{"id":"5618bf73.37c9e","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Soil Moisture Sensitivity Zone 3","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.soil_moisture_sensitivity_3","state_type":"num","state_location":"minsoilsaturationzone3","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":598,"y":1800,"wires":[["8aa872f3.228578"]]},{"id":"8aa872f3.228578","type":"switch","z":"164a3904.fd37c7","name":"Need Water?","property":"minsoilsaturationzone3","propertyType":"msg","rules":[{"t":"gt","v":"currentsoilsaturationzone3","vt":"msg"},{"t":"lte","v":"currentsoilsaturationzone3","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":528,"y":1860,"wires":[["5dcedf44.764ad8"],["fb8df3a.715da1"]]},{"id":"68a0f62a.25c888","type":"delay","z":"538bc7ce.75b93","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":40,"wires":[["5394c23d.537aec","5ccd7b9c.9fbf84"]]},{"id":"5394c23d.537aec","type":"change","z":"538bc7ce.75b93","name":"Set disablesfeerverlichting to false","rules":[{"t":"set","p":"disablesfeerverlichting","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":320,"wires":[[]]},{"id":"836f8c16.7d3de8","type":"inject","z":"538bc7ce.75b93","name":"","repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"Started!","payloadType":"str","x":100,"y":320,"wires":[["5394c23d.537aec","68a0f62a.25c888"]]},{"id":"4ef0c24a.8a45ac","type":"http request","z":"538bc7ce.75b93","name":"Get Sensor From Deconz","method":"GET","ret":"obj","paytoqs":false,"url":"http://hentho.fritz.box/api/87B2654470/sensors/19","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":580,"wires":[["45ea7310.25fa0c"]]},{"id":"beb4aacc.8507f","type":"inject","z":"538bc7ce.75b93","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":580,"wires":[["4ef0c24a.8a45ac"]]},{"id":"45ea7310.25fa0c","type":"debug","z":"538bc7ce.75b93","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":580,"wires":[]},{"id":"ad28c737.14aa","type":"http request","z":"538bc7ce.75b93","name":"Set duration For Gang Eerste Motion Sensor 2","method":"PUT","ret":"obj","paytoqs":false,"url":"http://hentho.fritz.box/api/87B2654470/sensors/20/config","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":640,"wires":[[]]},{"id":"e06caaa3.4d9fd8","type":"inject","z":"538bc7ce.75b93","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":640,"wires":[["55020426.3e5b7c"]]},{"id":"55020426.3e5b7c","type":"change","z":"538bc7ce.75b93","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"duration\":60}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":640,"wires":[["ad28c737.14aa","41eb9812.c4f8c","dfd7682c.2f1a8","9406a28e.e95ec","c850b6de.f760b8","702258e2.3c642"]]},{"id":"41eb9812.c4f8c","type":"http request","z":"538bc7ce.75b93","name":"Set duration For Gang Zolder Motion Sensor","method":"PUT","ret":"obj","paytoqs":false,"url":"http://hentho.fritz.box/api/87B2654470/sensors/17/config","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":720,"wires":[[]]},{"id":"dfd7682c.2f1a8","type":"http request","z":"538bc7ce.75b93","name":"Set duration For Gang Eerste Motion Sensor 1","method":"PUT","ret":"obj","paytoqs":false,"url":"http://hentho.fritz.box/api/87B2654470/sensors/14/config","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":680,"wires":[[]]},{"id":"9406a28e.e95ec","type":"http request","z":"538bc7ce.75b93","name":"Set duration For WC Beneden Motion Sensor","method":"PUT","ret":"obj","paytoqs":false,"url":"http://hentho.fritz.box/api/87B2654470/sensors/12/config","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":760,"wires":[[]]},{"id":"c850b6de.f760b8","type":"http request","z":"538bc7ce.75b93","name":"Set duration For Voordeur Motion Sensor","method":"PUT","ret":"obj","paytoqs":false,"url":"http://hentho.fritz.box/api/87B2654470/sensors/4/config","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":800,"wires":[[]]},{"id":"702258e2.3c642","type":"http request","z":"538bc7ce.75b93","name":"Set duration For WC Boven Motion Sensor","method":"PUT","ret":"obj","paytoqs":false,"url":"http://hentho.fritz.box/api/87B2654470/sensors/23/config","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":840,"wires":[[]]},{"id":"18d9c40f.40cd0c","type":"api-current-state","z":"a71f61bf.68023","name":"Get Number of Runs","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.vacuum_number_of_runs","state_type":"num","state_location":"vacuum_number_of_runs","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":true,"x":860,"y":800,"wires":[["38dd14c5.9f0314"]]},{"id":"38dd14c5.9f0314","type":"api-current-state","z":"a71f61bf.68023","name":"Get Empty Bin After Days","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.vacuum_empty_bin_after_days","state_type":"num","state_location":"vacuum_empty_bin_after_days","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":true,"x":870,"y":860,"wires":[["150f1d94.3c5a72"]]},{"id":"150f1d94.3c5a72","type":"switch","z":"a71f61bf.68023","name":"Needs to be cleaned? ","property":"vacuum_number_of_runs","propertyType":"msg","rules":[{"t":"gte","v":"vacuum_empty_bin_after_days","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1100,"y":860,"wires":[["34a2bef5.0cd66a"]]},{"id":"34a2bef5.0cd66a","type":"api-call-service","z":"a71f61bf.68023","name":"Bin needs cleaning","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"target\":[\"689595780\",\"696299625\"],\"title\":\"Vuilbak stofzuiger legen!\",\"message\":\"Het is tijd dat de vuilbak van stofzuiger wordt geleegd!\",\"inline_keyboard\":[\"Gedaan.:/vacuumemptybindone\",\"Uitstel.:/vacuumemptybinextend\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1310,"y":860,"wires":[[]]},{"id":"41fc25eb.f0a0bc","type":"link in","z":"a71f61bf.68023","name":"Vacuum Empty Bin","links":["3bbeaac9.2b9aae"],"x":35,"y":960,"wires":[["88557e18.a80f98","fb636096.4300a"]]},{"id":"88557e18.a80f98","type":"switch","z":"a71f61bf.68023","name":"","property":"payload.event.data","propertyType":"msg","rules":[{"t":"eq","v":"/vacuumemptybindone","vt":"str"},{"t":"eq","v":"/vacuumemptybinextend","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":960,"wires":[["9b2bce4d.7875e","3d758e33.c134ea"],["4dbc4bfc.3c08b4"]]},{"id":"3bbeaac9.2b9aae","type":"link out","z":"f6e5a287.09185","name":"","links":["41fc25eb.f0a0bc"],"x":895,"y":820,"wires":[]},{"id":"1e61a4ae.6eeb53","type":"api-call-service","z":"a71f61bf.68023","name":"Reset Number of Runs","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.vacuum_number_of_runs","data":"{\"value\":0}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":920,"wires":[[]]},{"id":"3d758e33.c134ea","type":"change","z":"a71f61bf.68023","name":"Genoteerd dat de vuilbak is geleegd!","rules":[{"t":"set","p":"payload.data.message","pt":"msg","to":"Genoteerd dat de vuilbak is geleegd!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":960,"wires":[["47a5acac.0762fc"]]},{"id":"47a5acac.0762fc","type":"api-call-service","z":"a71f61bf.68023","name":"Answer Callback","server":"f93d303.a1c6f5","version":1,"service_domain":"telegram_bot","service":"answer_callback_query","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":960,"wires":[[]]},{"id":"22572da4.7c9c22","type":"api-current-state","z":"5db12493.94a2c4","name":"Get Voordeur Ligh Level Sensor","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.voordeur_motion_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":800,"wires":[["4683862.cee7578"]]},{"id":"4683862.cee7578","type":"function","z":"5db12493.94a2c4","name":"Is dark?","func":"if (msg.data.attributes[\"dark\"] === true){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":800,"y":800,"wires":[["da6fcd68.7047b8"]]},{"id":"1483a28f.ece08d","type":"api-call-service","z":"a71f61bf.68023","name":"Increase Number of Runs","server":"f93d303.a1c6f5","version":1,"service_domain":"input_number","service":"increment","entityId":"input_number.vacuum_number_of_runs","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":540,"wires":[[]]},{"id":"c0294693.1f09e","type":"server-state-changed","z":"ee46721f.65d5c8","name":"Bureau Light","server":"f93d303.a1c6f5","version":1,"entityidfilter":"light.bureau","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":220,"wires":[["e40d0bba.a45a3"],["ecbf9091.73e52"]]},{"id":"e40d0bba.a45a3","type":"api-call-service","z":"ee46721f.65d5c8","name":"Turn on Led Bureau","server":"f93d303.a1c6f5","version":1,"service_domain":"light","service":"turn_on","entityId":"light.led_bureau","data":"{\"rgb_color\":[0,255,0]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":200,"wires":[[]]},{"id":"ecbf9091.73e52","type":"api-call-service","z":"ee46721f.65d5c8","name":"Turn off Led Bureau","server":"f93d303.a1c6f5","version":1,"service_domain":"light","service":"turn_off","entityId":"light.led_bureau","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":260,"wires":[[]]},{"id":"e3d0a273.683338","type":"switch","z":"164a3904.fd37c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"None","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1020,"wires":[["93f4d7df.a60218"]]},{"id":"5f8ed407.8f0fc4","type":"switch","z":"164a3904.fd37c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"None","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1320,"wires":[["157de367.f02e55"]]},{"id":"451c7d33.a90454","type":"switch","z":"164a3904.fd37c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"None","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1620,"wires":[["74fd60cb.79ecb"]]},{"id":"dae903de.7d3f7","type":"switch","z":"164a3904.fd37c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"None","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1920,"wires":[["8c269c1e.fb39d"]]},{"id":"3a54ce8b.bac712","type":"server-state-changed","z":"5db12493.94a2c4","name":"Garage Deur","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.garage_deur","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":2360,"wires":[["d4a8e8ad.1379e","687e94e3.fa28cc"],["d4a8e8ad.1379e"]]},{"id":"d4a8e8ad.1379e","type":"trigger","z":"5db12493.94a2c4","name":"","op1":"","op2":"{\"service\": \"turn_off\"}","op1type":"nul","op2type":"json","duration":"2","extend":false,"units":"min","reset":"on","bytopic":"all","outputs":1,"x":330,"y":2420,"wires":[["ef60c70d.f16e7"]]},{"id":"ef60c70d.f16e7","type":"api-call-service","z":"5db12493.94a2c4","name":"Garage Buiten Light","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.garage_buiten","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":910,"y":2340,"wires":[[]]},{"id":"687e94e3.fa28cc","type":"time-range-switch","z":"5db12493.94a2c4","name":"","lat":"51.268735","lon":"3.222214","startTime":"sunset","endTime":"sunrise","startOffset":"-30","endOffset":"+30","x":340,"y":2340,"wires":[["ef60c70d.f16e7"],[]]},{"id":"f20ff331.9019","type":"server-state-changed","z":"ee46721f.65d5c8","name":"Speelkamer Light","server":"f93d303.a1c6f5","version":1,"entityidfilter":"light.speelkamer","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":400,"wires":[["38fd87ca.fce3c8"],["afa64c59.e910c"]]},{"id":"38fd87ca.fce3c8","type":"api-call-service","z":"ee46721f.65d5c8","name":"Scene Default Speelkamer","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.default_speelkamer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":380,"wires":[[]]},{"id":"afa64c59.e910c","type":"api-call-service","z":"ee46721f.65d5c8","name":"Turn on Speelkamer lights","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.led_speelkamer, light.plank, light.geometric_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":440,"wires":[[]]},{"id":"5295ffd9.0245e8","type":"server-state-changed","z":"22728c52.b2e874","name":"Anybody Home","server":"f93d303.a1c6f5","version":1,"entityidfilter":"binary_sensor.house_presence","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":40,"wires":[[]]},{"id":"765a3d92.310194","type":"traffic","z":"22728c52.b2e874","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":true,"x":910,"y":180,"wires":[["51b520c6.e0749"]]},{"id":"51b520c6.e0749","type":"switch","z":"22728c52.b2e874","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":420,"wires":[["2c45e9ed.dbfc66"],["b8eb664c.c4c7c"]]},{"id":"146f0594.ccda4a","type":"link out","z":"22728c52.b2e874","name":"","links":["4b369ed8.42a1e","617cfa21.319694","3889b543.09723a"],"x":1255,"y":500,"wires":[]},{"id":"16da58db.466e17","type":"link out","z":"22728c52.b2e874","name":"","links":["42eaed3.f149314","58a65863.46fc38"],"x":1255,"y":400,"wires":[]},{"id":"b8eb664c.c4c7c","type":"api-current-state","z":"22728c52.b2e874","name":"TV On?","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.samsung_samsung_dtv_rcr","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":740,"y":460,"wires":[["b54c0620.5c06a"],["146f0594.ccda4a"]]},{"id":"b54c0620.5c06a","type":"ha-wait-until","z":"22728c52.b2e874","name":"","server":"f93d303.a1c6f5","outputs":1,"entityId":"media_player.samsung_samsung_dtv_rcr","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":960,"y":440,"wires":[["d1824767.cf265"]]},{"id":"d1824767.cf265","type":"delay","z":"22728c52.b2e874","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":440,"wires":[["146f0594.ccda4a"]]},{"id":"2c45e9ed.dbfc66","type":"switch","z":"22728c52.b2e874","name":"Sfeerverlichting Disabled?","property":"disablesfeerverlichting","propertyType":"flow","rules":[{"t":"neq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":400,"wires":[["16da58db.466e17"]]},{"id":"104421d8.bcbeae","type":"server-state-changed","z":"22728c52.b2e874","name":"Living Illuminance","server":"f93d303.a1c6f5","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.illuminance_living","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"lte","outputs":1,"output_only_on_state_change":true,"x":130,"y":180,"wires":[[]]},{"id":"cc5bf94d.e4ef7","type":"time-range-switch","z":"22728c52.b2e874","name":"","lat":"51.268735","lon":"3.222214","startTime":"16:00","endTime":"21:00","startOffset":"","endOffset":"","x":320,"y":180,"wires":[["69481f3d.60c908"],[]]},{"id":"a7df1c75.930c78","type":"change","z":"22728c52.b2e874","name":"Set 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":180,"wires":[["765a3d92.310194"]]},{"id":"870b45be.47dbc8","type":"server-state-changed","z":"22728c52.b2e874","name":"Living Motion","server":"f93d303.a1c6f5","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_living","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":280,"wires":[[]]},{"id":"1736331d.9869c5","type":"time-range-switch","z":"22728c52.b2e874","name":"","lat":"51.268735","lon":"3.222214","startTime":"5:00","endTime":"9:00","startOffset":"","endOffset":"","x":270,"y":280,"wires":[["29411db5.09fca2","69481f3d.60c908"],[]]},{"id":"65952358.b64d14","type":"api-call-service","z":"22728c52.b2e874","name":"Turn Off Sfeer Woonkamer","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.schouw, light.staande_lamp_living, light.led_mini_kerstboom_led","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":360,"y":760,"wires":[[]]},{"id":"58a65863.46fc38","type":"link in","z":"22728c52.b2e874","name":"Living Sfeer On","links":["508c7bb1.561bc4","eeffd3c.058463","c8e1480a.85b428","16da58db.466e17","2f199bad.2be324"],"x":95,"y":640,"wires":[["600b04b7.1c2cac"]]},{"id":"3889b543.09723a","type":"link in","z":"22728c52.b2e874","name":"Living Sfeer Off","links":["6019967d.9465e8","c3e9f51a.1fdb08","6947d2e.429492c","146f0594.ccda4a","c1a073a8.f37338"],"x":95,"y":765,"wires":[["65952358.b64d14"]]},{"id":"2ceb6a63.c28356","type":"link in","z":"22728c52.b2e874","name":"Deconz Event, Switch 15","links":["2d44b09d.1fbe3"],"x":75,"y":1233,"wires":[["d66e3fa9.512bd"]]},{"id":"17b8f219.3e7cb6","type":"api-call-service","z":"22728c52.b2e874","name":"Toggle Led Schouw","server":"f93d303.a1c6f5","version":"1","service_domain":"light","service":"toggle","entityId":"light.led_schouw","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":1173,"wires":[[]]},{"id":"d66e3fa9.512bd","type":"switch","z":"22728c52.b2e874","name":"","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1001","vt":"str"},{"t":"eq","v":"1004","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":190,"y":1233,"wires":[["17b8f219.3e7cb6"],["9f23d3e1.fd223"],["2f199bad.2be324"]]},{"id":"c1a073a8.f37338","type":"link out","z":"22728c52.b2e874","name":"","links":["4b369ed8.42a1e","617cfa21.319694","3889b543.09723a"],"x":595,"y":1233,"wires":[]},{"id":"9f23d3e1.fd223","type":"change","z":"22728c52.b2e874","name":"","rules":[{"t":"set","p":"disablesfeerverlichting","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1233,"wires":[["c1a073a8.f37338"]]},{"id":"c8eddba9.f62e4","type":"inject","z":"22728c52.b2e874","name":"At Midnight","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":933,"wires":[["198ff6f7.0fab61"]]},{"id":"198ff6f7.0fab61","type":"change","z":"22728c52.b2e874","name":"","rules":[{"t":"set","p":"disablesfeerverlichting","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":933,"wires":[[]]},{"id":"2f199bad.2be324","type":"link out","z":"22728c52.b2e874","name":"","links":["42eaed3.f149314","58a65863.46fc38"],"x":315,"y":1293,"wires":[]},{"id":"29411db5.09fca2","type":"trigger","z":"22728c52.b2e874","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"5","extend":false,"units":"min","reset":"on","bytopic":"all","outputs":1,"x":630,"y":260,"wires":[["765a3d92.310194","f14efc69.1591"]]},{"id":"816791db.4ae718","type":"light-scheduler","z":"22728c52.b2e874","settings":"73825384.e8bd7c","events":"[{\"start\":{\"dow\":1,\"mod\":1260},\"end\":{\"dow\":1,\"mod\":1320}},{\"start\":{\"dow\":2,\"mod\":1260},\"end\":{\"dow\":2,\"mod\":1320}},{\"start\":{\"dow\":3,\"mod\":1260},\"end\":{\"dow\":3,\"mod\":1320}},{\"start\":{\"dow\":4,\"mod\":1260},\"end\":{\"dow\":4,\"mod\":1320}},{\"start\":{\"dow\":5,\"mod\":1260},\"end\":{\"dow\":5,\"mod\":1320}},{\"start\":{\"dow\":6,\"mod\":1260},\"end\":{\"dow\":6,\"mod\":1320}},{\"start\":{\"dow\":0,\"mod\":1260},\"end\":{\"dow\":0,\"mod\":1320}}]","topic":"","name":"Sfeerverlichting","onPayload":"1","onPayloadType":"str","offPayload":"0","offPayloadType":"str","onlyWhenDark":true,"scheduleRndMax":"","sunElevationThreshold":"1","sunShowElevationInStatus":true,"outputfreq":"output.statechange.startup","x":460,"y":100,"wires":[["765a3d92.310194"]]},{"id":"343df42b.ad5dcc","type":"comment","z":"22728c52.b2e874","name":"Default","info":"","x":250,"y":80,"wires":[]},{"id":"41594219.9035d4","type":"comment","z":"22728c52.b2e874","name":"Override","info":"","x":100,"y":140,"wires":[]},{"id":"f2e1df8c.753a5","type":"switch","z":"f6e5a287.09185","name":"/ip","property":"msg.payload.data.command","propertyType":"msg","rules":[{"t":"eq","v":"/ip","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":940,"wires":[["87004484.ece8b"]]},{"id":"c185ff01.93c518","type":"api-call-service","z":"f6e5a287.09185","name":"Send Message Back","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1200,"y":920,"wires":[[]]},{"id":"87004484.ece8b","type":"api-current-state","z":"f6e5a287.09185","name":"External IP","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.external_ip","state_type":"str","state_location":"payload.data.message","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":910,"y":940,"wires":[["c185ff01.93c518"]]},{"id":"42f98ecd.c67898","type":"http request","z":"f6e5a287.09185","name":"Get IP","method":"GET","ret":"txt","paytoqs":false,"url":"https://ipecho.net/plain","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":1780,"wires":[["246f0669.545ed2"]]},{"id":"fb636096.4300a","type":"debug","z":"a71f61bf.68023","name":"Here","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":220,"y":1020,"wires":[]},{"id":"4dbc4bfc.3c08b4","type":"change","z":"a71f61bf.68023","name":"Uitgesteld tot de volgende run!","rules":[{"t":"set","p":"payload.data.message","pt":"msg","to":"Uitgesteld tot de volgende run!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":1020,"wires":[["47a5acac.0762fc"]]},{"id":"9b2bce4d.7875e","type":"api-current-state","z":"a71f61bf.68023","name":"Get Number of Runs","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_number.vacuum_number_of_runs","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":true,"x":380,"y":920,"wires":[["1e61a4ae.6eeb53"]]},{"id":"31295db.d34a022","type":"link in","z":"f6e5a287.09185","name":"Disable Night Mode","links":["b1fd1aa0.db8fa"],"x":675,"y":660,"wires":[["fb49c326.223ad"]]},{"id":"600b04b7.1c2cac","type":"api-call-service","z":"22728c52.b2e874","name":"Sfeer Woonkamer","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.sfeer_woonkamer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":640,"wires":[[]]},{"id":"5ccd7b9c.9fbf84","type":"api-call-service","z":"538bc7ce.75b93","name":"","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"frontend","service":"set_theme","entityId":"","data":"{\"name\":\"Google Light Theme\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":40,"wires":[[]]},{"id":"61cdbf52.b5e4a8","type":"api-current-state","z":"5db12493.94a2c4","name":"Get Inkom 1 Ligh Level Sensor","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.inkom_motion_sensor_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":140,"wires":[["bb805472.59768"]]},{"id":"f534217a.2f1ef","type":"api-current-state","z":"5db12493.94a2c4","name":"Get Inkom 2 Ligh Level Sensor","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"lt","override_topic":true,"entity_id":"sensor.inkom_motion_sensor_2","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":200,"wires":[["bb805472.59768"]]},{"id":"bb805472.59768","type":"function","z":"5db12493.94a2c4","name":"Is dark?","func":"if (msg.data.attributes[\"dark\"] === true){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":800,"y":180,"wires":[["3102e10f.926d66"]]},{"id":"852cdb76.c715d8","type":"function","z":"5db12493.94a2c4","name":"Is dark?","func":"if (msg.data.new_state.attributes.dark === true){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":440,"y":1920,"wires":[["6f4c5867.62de2"]]},{"id":"7f5bfaa6.5feb8c","type":"time-range-switch","z":"5db12493.94a2c4","name":"","lat":"51.268735","lon":"3.222214","startTime":"sunset","endTime":"sunrise","startOffset":"-60","endOffset":"+30","x":460,"y":1960,"wires":[["6f4c5867.62de2"],[]]},{"id":"3cb011b4.e305d6","type":"time-range-switch","z":"5db12493.94a2c4","name":"","lat":"","lon":"","startTime":"19:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":1240,"y":940,"wires":[["f0e91027.d6a09"],["d9abaf14.5f8b9"]]},{"id":"f0e91027.d6a09","type":"api-call-service","z":"5db12493.94a2c4","name":"Enable eerste verdiep Light","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang_eerste_verdiep","data":"{ \"brightness_pct\": 10}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1480,"y":940,"wires":[[]]},{"id":"d9abaf14.5f8b9","type":"time-range-switch","z":"5db12493.94a2c4","name":"","lat":"","lon":"","startTime":"21:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":1240,"y":1000,"wires":[["f57c1080.24bd88"],["a5f14b75.028a1"]]},{"id":"f57c1080.24bd88","type":"api-call-service","z":"5db12493.94a2c4","name":"Enable eerste verdiep Light","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang_eerste_verdiep","data":"{ \"brightness_pct\": 5}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1480,"y":1000,"wires":[[]]},{"id":"a5f14b75.028a1","type":"time-range-switch","z":"5db12493.94a2c4","name":"","lat":"","lon":"","startTime":"06:00","endTime":"07:30","startOffset":0,"endOffset":0,"x":1240,"y":1060,"wires":[["729c3901.5499d8"],["924ee02f.bffa6"]]},{"id":"729c3901.5499d8","type":"api-call-service","z":"5db12493.94a2c4","name":"Enable eerste verdiep Light","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang_eerste_verdiep","data":"{ \"brightness_pct\": 10}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1480,"y":1060,"wires":[[]]},{"id":"924ee02f.bffa6","type":"time-range-switch","z":"5db12493.94a2c4","name":"","lat":"","lon":"","startTime":"06:15","endTime":"07:45","startOffset":0,"endOffset":0,"x":1240,"y":1120,"wires":[["9fa4d29a.48ee"],["35e51d38.8d348a"]]},{"id":"9fa4d29a.48ee","type":"api-call-service","z":"5db12493.94a2c4","name":"Enable eerste verdiep Light","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang_eerste_verdiep","data":"{ \"brightness_pct\": 30}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1480,"y":1100,"wires":[[]]},{"id":"35e51d38.8d348a","type":"api-call-service","z":"5db12493.94a2c4","name":"Enable eerste verdiep Light","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang_eerste_verdiep","data":"{ \"brightness_pct\": 100}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1480,"y":1140,"wires":[[]]},{"id":"da919470.321ab8","type":"inject","z":"bc8ddc58.b5a61","name":"Store states","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1320,"wires":[["e38ca8c.2bf7158","5a408a15.a2a91c"]]},{"id":"e38ca8c.2bf7158","type":"ha-get-entities","z":"bc8ddc58.b5a61","server":"f93d303.a1c6f5","name":"Get Specific Switches","rules":[{"property":"entity_id","logic":"starts_with","value":"switch","valueType":"str"},{"property":"state","logic":"includes","value":"on,off","valueType":"str"},{"property":"entity_id","logic":"includes","value":"switch.boiler_keuken, switch.sonoff_s20_1","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":420,"y":1320,"wires":[["85c915e.2107568"]]},{"id":"5a408a15.a2a91c","type":"ha-get-entities","z":"bc8ddc58.b5a61","server":"f93d303.a1c6f5","name":"Get Specific Lights","rules":[{"property":"entity_id","logic":"starts_with","value":"light","valueType":"str"},{"property":"state","logic":"includes","value":"on,off","valueType":"str"},{"property":"entity_id","logic":"includes","value":" light.staande_lamp_living, light.schouw,  light.led_mini_kerstboom_led","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":410,"y":1260,"wires":[["85c915e.2107568"]]},{"id":"90332fef.37dfb","type":"ha-get-entities","z":"bc8ddc58.b5a61","server":"f93d303.a1c6f5","name":"Get Climate","rules":[{"property":"entity_id","logic":"starts_with","value":"climate","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":390,"y":1380,"wires":[["6e3239fc.e7b4b"]]},{"id":"85c915e.2107568","type":"function","z":"bc8ddc58.b5a61","name":"transform data","func":"const payload = {};\npayload.domain = msg.payload.entity_id.split('.')[0];\npayload.service = `turn_${msg.payload.state}`;\npayload.data = { entity_id: msg.payload.entity_id };\n\n// create a blank message object with out new payload\nmsg = { payload: payload };\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1320,"wires":[["db594b24.6e2b4"]]},{"id":"6e3239fc.e7b4b","type":"function","z":"bc8ddc58.b5a61","name":"transform data","func":"const payloads = [];\nconst payload = {};\npayload.domain = 'climate';\npayload.service = `set_temperature`;\npayload.data = {\n    entity_id: msg.payload.entity_id,\n    temperature: msg.payload.attributes.temperature,\n    target_temp_low: msg.payload.attributes.min_temp,\n    target_temp_high: msg.payload.attributes.max_temp,\n    operation_mode: msg.payload.attributes.operation_mode\n};\n\n// create a blank message object with out new payload\nmsg = { payload: payload };\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1380,"wires":[["db594b24.6e2b4"]]},{"id":"db594b24.6e2b4","type":"join","z":"bc8ddc58.b5a61","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":810,"y":1320,"wires":[["aae77b31.2ef3"]]},{"id":"788890c1.bf674","type":"debug","z":"bc8ddc58.b5a61","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1162,"y":1320,"wires":[]},{"id":"aae77b31.2ef3","type":"change","z":"bc8ddc58.b5a61","name":"","rules":[{"t":"set","p":"savedStates","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1320,"wires":[["788890c1.bf674"]]},{"id":"9467dea1.196af","type":"inject","z":"bc8ddc58.b5a61","name":"Restore states","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1480,"wires":[["939e48ef.4c699"]]},{"id":"939e48ef.4c699","type":"change","z":"bc8ddc58.b5a61","name":"Get Saved States","rules":[{"t":"set","p":"payload","pt":"msg","to":"savedStates","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1460,"wires":[["263276e6.555a3a"]]},{"id":"4f8c890b.463dd","type":"debug","z":"bc8ddc58.b5a61","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":928,"y":1460,"wires":[]},{"id":"263276e6.555a3a","type":"split","z":"bc8ddc58.b5a61","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":588,"y":1460,"wires":[["5ae3570b.e32bd"]]},{"id":"5ae3570b.e32bd","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Restore State","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":746,"y":1460,"wires":[["4f8c890b.463dd"]]},{"id":"7b6a1d1d.a6bcbc","type":"link in","z":"bc8ddc58.b5a61","name":"Store States","links":["cb38a528.6b6758"],"x":95,"y":1260,"wires":[["5a408a15.a2a91c","e38ca8c.2bf7158"]]},{"id":"99b533bc.6e0478","type":"link in","z":"bc8ddc58.b5a61","name":"Restore States","links":["9bef8934.764618"],"x":95,"y":1420,"wires":[["939e48ef.4c699"]]},{"id":"cb38a528.6b6758","type":"link out","z":"bc8ddc58.b5a61","name":"","links":["7b6a1d1d.a6bcbc"],"x":555,"y":960,"wires":[]},{"id":"d38ea950.470ad8","type":"delay","z":"bc8ddc58.b5a61","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":980,"wires":[["1d1b6f58.e75461","d78f7c8f.948238","2372a508.4f13a2","306e7ad7.198596"]]},{"id":"9bef8934.764618","type":"link out","z":"bc8ddc58.b5a61","name":"","links":["99b533bc.6e0478"],"x":555,"y":1080,"wires":[]},{"id":"306e7ad7.198596","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Turn off Switches","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.boiler_keuken, switch.sonoff_s20_1","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1110,"y":1120,"wires":[[]]},{"id":"ba373ccd.3730e","type":"delay","z":"22728c52.b2e874","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":40,"wires":[["765a3d92.310194"]]},{"id":"1c93f7c4.cdbf","type":"link out","z":"bc8ddc58.b5a61","name":"Check Nest Away State","links":["32c53003.6e65a"],"x":1095,"y":220,"wires":[]},{"id":"ed620272.adf9b","type":"mqtt out","z":"3a6e8817.803d","name":"Set On","topic":"","qos":"","retain":"true","broker":"b2cf98b5.afd6e8","x":1080,"y":160,"wires":[]},{"id":"b5dee7c4.0b45d","type":"function","z":"3a6e8817.803d","name":"Build State ON","func":"msg.topic = \"camera/1/motion\";\nmsg.payload = \"ON\"\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":160,"wires":[["ed620272.adf9b","fb9cc26b.4c5c18"]]},{"id":"eec10826.eab84","type":"mqtt out","z":"3a6e8817.803d","name":"Set Off","topic":"","qos":"","retain":"true","broker":"b2cf98b5.afd6e8","x":1080,"y":220,"wires":[]},{"id":"18f310f4.0e6fd7","type":"function","z":"3a6e8817.803d","name":"Build State OFF","func":"msg.topic = \"camera/1/motion\";\nmsg.payload = \"OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":220,"wires":[["eec10826.eab84"]]},{"id":"5ff5a720.0f96d8","type":"change","z":"3a6e8817.803d","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":220,"wires":[["c8918af4.d38678"]]},{"id":"c8918af4.d38678","type":"stoptimer","z":"3a6e8817.803d","duration":"15","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":710,"y":220,"wires":[["18f310f4.0e6fd7"],[]]},{"id":"b6bb0978.831f5","type":"api-call-service","z":"3a6e8817.803d","name":"Download Alarm Image","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"downloader","service":"download_file","entityId":"","data":"{\"url\":\"https://cctv.delodder.be/zm/index.php?view=image&eid={{ payload.eventid }}&fid=alarm&username=HA&password=qzGelOGwpMEjlnxnrQzAppxZjuTaSPlvEFVm\",\"filename\":\"alarm_oprit_snapshot.jpg\",\"overwrite\":\"yes\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":100,"wires":[[]]},{"id":"692a72fb.c05084","type":"mqtt in","z":"3a6e8817.803d","name":"","topic":"zoneminder/1","qos":"2","datatype":"auto","broker":"b2cf98b5.afd6e8","x":110,"y":100,"wires":[["e5e6e75d.a889e8"]]},{"id":"e5e6e75d.a889e8","type":"json","z":"3a6e8817.803d","name":"","property":"payload","action":"obj","pretty":false,"x":320,"y":100,"wires":[["b6bb0978.831f5"]]},{"id":"fb9cc26b.4c5c18","type":"delay","z":"3a6e8817.803d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":180,"wires":[["c8918af4.d38678"]]},{"id":"20548eb0.fd133a","type":"server-state-changed","z":"3a6e8817.803d","name":"Home Status","server":"f93d303.a1c6f5","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.house_presence","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":580,"wires":[["d1231111.665d18"]]},{"id":"927e07ab.74a0f8","type":"server-state-changed","z":"3a6e8817.803d","name":"Night Mode","server":"f93d303.a1c6f5","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.night_mode","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":640,"wires":[["d1231111.665d18"]]},{"id":"cae3b901.50af3","type":"status","z":"3a6e8817.803d","name":"Home Assistant Status","scope":["755e9e09.874128","85d0af59.c0f8e","32472eb8.d6d3c2"],"x":120,"y":520,"wires":[["1ac5de08.e08a02"]]},{"id":"1ac5de08.e08a02","type":"switch","z":"3a6e8817.803d","name":"connected?","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":520,"wires":[["d1231111.665d18"]]},{"id":"d1231111.665d18","type":"api-current-state","z":"3a6e8817.803d","name":"Home?","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.house_presence","state_type":"str","state_location":"home","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":520,"wires":[["affa3927.b38518"]]},{"id":"affa3927.b38518","type":"api-current-state","z":"3a6e8817.803d","name":"Night?","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.night_mode","state_type":"str","state_location":"night","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":580,"wires":[["b384dcd7.0bba88"]]},{"id":"754076cb.3ebd7","type":"api-call-service","z":"3a6e8817.803d","name":"Oprit Modect On","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.oprit_state","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":640,"wires":[[]]},{"id":"64b62248.36774c","type":"api-call-service","z":"3a6e8817.803d","name":"Oprit Modect Off","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.oprit_state","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":580,"wires":[[]]},{"id":"81100365.7e8e88","type":"function","z":"3a6e8817.803d","name":"Determine monitor/modect","func":"if ( msg.home == \"off\" ) {\n    return [null,{topic:'camera',payload:'modect'}]; \n}\nelse if ( msg.night == \"on\" ){\n    return [null,{topic:'camera',payload:'modect'}]; \n}\nelse if ( msg.guests == \"on\" ){\n    return [null,{topic:'camera',payload:'modect'}];\n}else{\n    return [{topic:'camera',payload:'monitor'},null];\n}","outputs":2,"noerr":0,"x":760,"y":540,"wires":[["b1a07f91.8b986"],["754076cb.3ebd7"]]},{"id":"f6f068cd.6f267","type":"server-state-changed","z":"3a6e8817.803d","name":"Guests","server":"f93d303.a1c6f5","version":1,"entityidfilter":"input_boolean.house_guests","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":70,"y":700,"wires":[["d1231111.665d18"]]},{"id":"b384dcd7.0bba88","type":"api-current-state","z":"3a6e8817.803d","name":"Guests?","server":"f93d303.a1c6f5","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.house_guests","state_type":"str","state_location":"guests","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":640,"wires":[["81100365.7e8e88","ddb9f0f9.94962"]]},{"id":"339ce9db.fcc36e","type":"ha-wait-until","z":"3a6e8817.803d","name":"Only Stop when no motion","server":"f93d303.a1c6f5","outputs":2,"entityId":"binary_sensor.oprit_camera","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"15","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":960,"y":620,"wires":[["64b62248.36774c"],["81100365.7e8e88"]]},{"id":"faa0616d.8e2548","type":"delay","z":"3a6e8817.803d","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":620,"wires":[["339ce9db.fcc36e"]]},{"id":"b1a07f91.8b986","type":"api-current-state","z":"3a6e8817.803d","name":"","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.oprit_camera","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1070,"y":480,"wires":[["faa0616d.8e2548"],["64b62248.36774c"]]},{"id":"69481f3d.60c908","type":"api-current-state","z":"22728c52.b2e874","name":"Get Illuminance Living","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"3","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.illuminance_living","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":200,"wires":[["a7df1c75.930c78"],[]]},{"id":"fc8a9ba4.8623a","type":"switch","z":"164a3904.fd37c7","name":"","property":"rain","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":483,"y":160,"wires":[["54d761e0.ccbf38"],["6c694c94.a604e4"]]},{"id":"f14efc69.1591","type":"debug","z":"22728c52.b2e874","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":300,"wires":[]},{"id":"484119c7.a28a28","type":"inject","z":"be33d1e5.7e5e48","name":"","repeat":"","crontab":"15 08 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":860,"wires":[["9f423f36.6a325"]]},{"id":"9f423f36.6a325","type":"api-call-service","z":"be33d1e5.7e5e48","name":"Set Temp on 18","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.downstairs","data":"{\"temperature\":18}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":860,"wires":[[]]},{"id":"3499c45f.7d4bd4","type":"server-state-changed","z":"164a3904.fd37c7","name":"Serre Humidity Sensor","server":"f93d303.a1c6f5","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.greenhouse_humidity","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":100,"wires":[["2aae0ed0.37b29a"]]},{"id":"8c859a73.546bf8","type":"change","z":"164a3904.fd37c7","name":"Postion: 100","rules":[{"t":"set","p":"position2","pt":"flow","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":280,"wires":[["6adaebe.e58fd14"]]},{"id":"6adaebe.e58fd14","type":"link out","z":"164a3904.fd37c7","name":"","links":["ca827770.58a0b"],"x":1255,"y":280,"wires":[]},{"id":"bee184b5.541bb8","type":"link out","z":"164a3904.fd37c7","name":"","links":["544fdaad.266744"],"x":1255,"y":140,"wires":[]},{"id":"c7c0dd32.8894f","type":"change","z":"164a3904.fd37c7","name":"Postion: 100","rules":[{"t":"set","p":"position1","pt":"flow","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":140,"wires":[["bee184b5.541bb8"]]},{"id":"20bc0925.abcba6","type":"inject","z":"164a3904.fd37c7","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":80,"wires":[["5769f45d.fcce9c"]]},{"id":"fdb62c8e.8e9e7","type":"switch","z":"164a3904.fd37c7","name":"Check Temperature Window 2","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"28","vt":"str"},{"t":"gte","v":"26","vt":"str"},{"t":"gte","v":"24","vt":"str"},{"t":"lt","v":"22","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":890,"y":300,"wires":[["8c859a73.546bf8"],["53a2dfb6.c2be48"],["4950bc39.4f811c"],["54efa716.c3dee8"]]},{"id":"4950bc39.4f811c","type":"change","z":"164a3904.fd37c7","name":"Postion: 50","rules":[{"t":"set","p":"position2","pt":"flow","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":360,"wires":[["927c1637.b12fd"]]},{"id":"927c1637.b12fd","type":"link out","z":"164a3904.fd37c7","name":"","links":["ca827770.58a0b"],"x":1255,"y":360,"wires":[]},{"id":"53a2dfb6.c2be48","type":"change","z":"164a3904.fd37c7","name":"Postion: 75","rules":[{"t":"set","p":"position2","pt":"flow","to":"75","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":320,"wires":[["cc438f63.6d988"]]},{"id":"cc438f63.6d988","type":"link out","z":"164a3904.fd37c7","name":"","links":["ca827770.58a0b"],"x":1255,"y":320,"wires":[]},{"id":"54efa716.c3dee8","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Humidity","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"65","halt_if_type":"num","halt_if_compare":"gt","override_topic":true,"entity_id":"sensor.greenhouse_humidity","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1130,"y":400,"wires":[["fbe82f7b.108c58"],["48597549.563f44"]]},{"id":"fbe82f7b.108c58","type":"change","z":"164a3904.fd37c7","name":"Postion: 25","rules":[{"t":"set","p":"position2","pt":"flow","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":380,"wires":[["495952c.edaeaac"]]},{"id":"3381f6a2.39b992","type":"change","z":"164a3904.fd37c7","name":"Postion: 50","rules":[{"t":"set","p":"position1","pt":"flow","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":180,"wires":[["5862875.46a3878"]]},{"id":"5862875.46a3878","type":"link out","z":"164a3904.fd37c7","name":"","links":["544fdaad.266744"],"x":1255,"y":180,"wires":[]},{"id":"8298779c.b87388","type":"api-current-state","z":"164a3904.fd37c7","name":"Get State of Window 2","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"cover.greenhouse_window_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":360,"wires":[["406668a1.ac8ac8"]]},{"id":"406668a1.ac8ac8","type":"switch","z":"164a3904.fd37c7","name":"is position different","property":"data.attributes.current_position","propertyType":"msg","rules":[{"t":"neq","v":"position2","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":360,"wires":[["44645ad3.a09184"]]},{"id":"713b3c75.5bfa3c","type":"api-current-state","z":"164a3904.fd37c7","name":"Get State of Window 1","server":"f93d303.a1c6f5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"cover.greenhouse_window_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":480,"wires":[["1da4380.62a72c8"]]},{"id":"1da4380.62a72c8","type":"switch","z":"164a3904.fd37c7","name":"is position different","property":"data.attributes.current_position","propertyType":"msg","rules":[{"t":"neq","v":"position1","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":480,"wires":[["945489c0.ce3ee"]]},{"id":"3e270058.7deeb8","type":"inject","z":"538bc7ce.75b93","name":"HASS Connected?","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"homeassistant.homeAssistant.isConnected","payloadType":"global","x":140,"y":40,"wires":[["bd88a37a.bbb9f"]]},{"id":"bd88a37a.bbb9f","type":"rbe","z":"538bc7ce.75b93","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":310,"y":40,"wires":[["d3163d6a.b4e028"]]},{"id":"d3163d6a.b4e028","type":"switch","z":"538bc7ce.75b93","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":470,"y":40,"wires":[["68a0f62a.25c888"],[]]},{"id":"f399b1dc.afd1f8","type":"trigger-state","z":"5db12493.94a2c4","name":"Gang Zolder","server":"f93d303.a1c6f5","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_gang_zolder","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"5a2pgd0rxsq","targetType":"entity_id","targetValue":"input_boolean.disable_motion_trigger_light_gang_zolder","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":1540,"wires":[["d514bcea.e083c8"],[]]},{"id":"d514bcea.e083c8","type":"switch","z":"5db12493.94a2c4","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":1550,"wires":[["18972eda.ac1451","7931388.e20ab48"],["7931388.e20ab48"]]},{"id":"273710e1.8191c8","type":"link out","z":"164a3904.fd37c7","name":"","links":["544fdaad.266744"],"x":1495,"y":200,"wires":[]},{"id":"b0b62f8e.477148","type":"server-state-changed","z":"164a3904.fd37c7","name":"Window Disable","server":"f93d303.a1c6f5","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.disable_greenhouse_window","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":220,"wires":[["2aae0ed0.37b29a"]]},{"id":"9554e671.60611","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Humidity","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"65","halt_if_type":"num","halt_if_compare":"gt","override_topic":true,"entity_id":"sensor.greenhouse_humidity","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1130,"y":220,"wires":[["74bb9a8.076e6e4"],["a857760a.bd8be8"]]},{"id":"74bb9a8.076e6e4","type":"change","z":"164a3904.fd37c7","name":"Postion: 25","rules":[{"t":"set","p":"position1","pt":"flow","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":200,"wires":[["273710e1.8191c8"]]},{"id":"b1787302.2de53","type":"switch","z":"bc8ddc58.b5a61","name":"Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":280,"y":1860,"wires":[["ed152e33.c9df5","76c66876.e67c28","2371669d.32bf6a"],["93ba66e3.01d738","f0fd7cfe.6d6b4"]]},{"id":"ed152e33.c9df5","type":"api-current-state","z":"bc8ddc58.b5a61","name":"Status?","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"Just Left","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.{{topic}}","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":420,"y":1840,"wires":[["16f97e6c.71caf2"],["9ef585f4.203bb"]]},{"id":"5f6662a2.dc6b9c","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Just Left","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":1880,"wires":[["76c66876.e67c28"]]},{"id":"16f97e6c.71caf2","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Just Arrived","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":1820,"wires":[["f0fd7cfe.6d6b4"]]},{"id":"e6f26bc0.e9f4e8","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Away","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1880,"wires":[["2371669d.32bf6a"]]},{"id":"bd605cd2.696a7","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Extended Away","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":1880,"wires":[[]]},{"id":"76c66876.e67c28","type":"trigger","z":"bc8ddc58.b5a61","name":"10min","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"home","bytopic":"topic","outputs":1,"x":710,"y":1880,"wires":[["e6f26bc0.e9f4e8"]]},{"id":"2371669d.32bf6a","type":"trigger","z":"bc8ddc58.b5a61","name":"24hr","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"home","bytopic":"topic","outputs":1,"x":950,"y":1880,"wires":[["bd605cd2.696a7"]]},{"id":"f0fd7cfe.6d6b4","type":"trigger","z":"bc8ddc58.b5a61","name":"10min","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"not_home","bytopic":"topic","outputs":1,"x":710,"y":1820,"wires":[["9ef585f4.203bb"]]},{"id":"9ef585f4.203bb","type":"api-call-service","z":"bc8ddc58.b5a61","name":"Home","server":"f93d303.a1c6f5","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1840,"wires":[[]]},{"id":"30ce5734.3ed1b","type":"trigger-state","z":"bc8ddc58.b5a61","name":"Person","server":"f93d303.a1c6f5","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"^person\\..*$","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"id":"5ucago3uur","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"prevEntity","comparatorValue":"state"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":90,"y":1860,"wires":[["be5f2339.588678"],[]]},{"id":"93ba66e3.01d738","type":"api-current-state","z":"bc8ddc58.b5a61","name":"Status?","server":"f93d303.a1c6f5","version":1,"outputs":2,"halt_if":"Just Left,Away, Extended Away","halt_if_type":"str","halt_if_compare":"does_not_include","override_topic":false,"entity_id":"input_select.{{topic}}","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":420,"y":1880,"wires":[["5f6662a2.dc6b9c"],[]]},{"id":"be5f2339.588678","type":"change","z":"bc8ddc58.b5a61","name":"Change","rules":[{"t":"change","p":"topic","pt":"msg","from":"person.","fromt":"str","to":"person_","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":185,"y":1860,"wires":[["b1787302.2de53"]],"l":false},{"id":"ddb9f0f9.94962","type":"change","z":"3a6e8817.803d","name":"Reset if new event","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":680,"wires":[["faa0616d.8e2548"]]},{"id":"941e528d.15c28","type":"trigger-state","z":"5db12493.94a2c4","name":"Bureau","server":"f93d303.a1c6f5","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_bureau","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nobcjsmgjwd","targetType":"entity_id","targetValue":"input_boolean.disable_motion_trigger_light_bureau","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":100,"y":1960,"wires":[["aec6487b.43ed28"],[]]},{"id":"aec6487b.43ed28","type":"switch","z":"5db12493.94a2c4","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":1960,"wires":[["d9dfc08a.4db37","7f5bfaa6.5feb8c","852cdb76.c715d8"],["d9dfc08a.4db37"]]},{"id":"64fc5eb1.24354","type":"server-state-changed","z":"be33d1e5.7e5e48","name":"Guests","server":"f93d303.a1c6f5","version":1,"entityidfilter":"input_boolean.house_guests","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":540,"wires":[["370d997f.25493e"]]}]