node-red/.flows.json.backup
[{"id":"164a3904.fd37c7","type":"tab","label":"Greenhouse","disabled":true,"info":""},{"id":"f6e5a287.09185","type":"tab","label":"SMA","disabled":true,"info":""},{"id":"538fc655139bb74a","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"b2cf98b5.afd6e8","type":"mqtt-broker","name":"Gillemore","broker":"192.168.0.10","port":"1883","clientid":"NodeRed","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f93d303.a1c6f5","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"d1f26976.3411e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bd2545e77e4ee7ee","type":"ui_group","name":"Gesamt","tab":"1160710e.823717","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6854fdc6d826a885","type":"ui_group","name":"Phasen","tab":"1160710e.823717","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7f9b1b2b.f438bc","type":"ui_group","name":"Blindleistung Phasen","tab":"1160710e.823717","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"80b4ccf25a3b9132","type":"ui_group","name":"Spannung / Strom","tab":"1160710e.823717","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e4be6a94.10844","type":"ui_group","name":"Zähler","tab":"e144c29.81db1c","order":1,"disp":true,"width":"6","collapse":false},{"id":"54754f51.dce238","type":"ui_group","name":"L1","tab":"e144c29.81db1c","order":2,"disp":true,"width":"6","collapse":false},{"id":"43603218.aa1924","type":"ui_group","name":"L2","tab":"e144c29.81db1c","order":3,"disp":true,"width":"6","collapse":false},{"id":"fb4ce943.94db9","type":"ui_group","name":"L3","tab":"e144c29.81db1c","order":4,"disp":true,"width":"6","collapse":false},{"id":"1160710e.823717","type":"ui_tab","name":"Hausanschluss","icon":"fa-bolt ","order":2,"disabled":false,"hidden":false},{"id":"e144c29.81db1c","type":"ui_tab","name":"Zähler (SHM)","icon":"fa-list ","order":12,"disabled":false,"hidden":false},{"id":"bdf0c745cabf679c","type":"ui_group","name":"Erzeugung / Hausanschluss","tab":"621ae2a2581a7d58","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b34017d71064c56a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"db","name":"InfluxDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":false},{"id":"621ae2a2581a7d58","type":"ui_tab","name":"Übersicht","icon":"fa-eercast ","order":1,"disabled":false,"hidden":false},{"id":"542dd861.a67818","type":"server-state-changed","z":"164a3904.fd37c7","name":"Rain Sensor","server":"f93d303.a1c6f5","version":4,"entityidfilter":"binary_sensor.weather_station_rain","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":160,"wires":[["2aae0ed0.37b29a"]]},{"id":"54d761e0.ccbf38","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Temperature","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.greenhouse_temperature","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":650,"y":160,"wires":[["ef305fef.4864f8","fdb62c8e.8e9e7"]]},{"id":"ef305fef.4864f8","type":"switch","z":"164a3904.fd37c7","name":"Check Temperature Window 1","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"32","vt":"str"},{"t":"gte","v":"30","vt":"str"},{"t":"lt","v":"30","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":890,"y":120,"wires":[["c7c0dd32.8894f"],["3381f6a2.39b992"],["9554e671.60611"]]},{"id":"ae6c733.c3a6c1","type":"api-call-service","z":"164a3904.fd37c7","name":"Close Window 2","server":"f93d303.a1c6f5","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.greenhouse_window_2"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":380,"y":420,"wires":[[]]},{"id":"44645ad3.a09184","type":"api-call-service","z":"164a3904.fd37c7","name":"Open Window 2","server":"f93d303.a1c6f5","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.greenhouse_window_2"],"data":"{ \"position\" : \"{{flow.position2}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":780,"y":360,"wires":[[]]},{"id":"945489c0.ce3ee","type":"api-call-service","z":"164a3904.fd37c7","name":"Open Window 1","server":"f93d303.a1c6f5","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.greenhouse_window_1"],"data":"{ \"position\" : \"{{flow.position1}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":780,"y":480,"wires":[[]]},{"id":"dd1d02d9.185a48","type":"api-call-service","z":"164a3904.fd37c7","name":"Close Window 1","server":"f93d303.a1c6f5","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.greenhouse_window_1"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":380,"y":540,"wires":[[]]},{"id":"2aae0ed0.37b29a","type":"delay","z":"164a3904.fd37c7","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":420,"y":40,"wires":[["5769f45d.fcce9c"]]},{"id":"90d19af8.757d58","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Latest Rain Status","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.weather_station_rain","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"rain","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":300,"y":160,"wires":[["fc8a9ba4.8623a"]]},{"id":"df2e86c2.9292f","type":"server-state-changed","z":"164a3904.fd37c7","name":"Serre Temperature Sensor","server":"f93d303.a1c6f5","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.greenhouse_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":40,"wires":[["2aae0ed0.37b29a"]]},{"id":"5769f45d.fcce9c","type":"time-range-switch","z":"164a3904.fd37c7","name":"","lat":"51.268735","lon":"3.222214","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":670,"y":40,"wires":[["90d19af8.757d58"],["16ca58a5.9e782f"]]},{"id":"dac68325.b7b5b","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn on Valve 1","server":"f93d303.a1c6f5","version":5,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.greenhouse_valve_1"],"data":"","mergeContext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":740,"y":1020,"wires":[["c807ea4c.08bf"]]},{"id":"145add96.423322","type":"link out","z":"164a3904.fd37c7","name":"","links":["68836b2c.34a894","33b588de.761fa8","909994fb.42e2b8"],"x":1335,"y":1580,"wires":[]},{"id":"ca2d29dc.91cc28","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn on Valve 2","server":"f93d303.a1c6f5","version":5,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.greenhouse_valve_2"],"data":"","mergeContext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":740,"y":1320,"wires":[["a4a7a2b2.4266c"]]},{"id":"5dcedf44.764ad8","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn on Valve 3","server":"f93d303.a1c6f5","version":5,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.greenhouse_valve_3"],"data":"","mergeContext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":740,"y":1620,"wires":[["4ef8e803.fce948"]]},{"id":"6758e8b7.b2fa","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn on Valve 4","server":"f93d303.a1c6f5","version":5,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.greenhouse_valve_4"],"data":"","mergeContext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":740,"y":1920,"wires":[["1b34a0bb.8c2f8f"]]},{"id":"68d7beb9.7ee9e8","type":"switch","z":"164a3904.fd37c7","name":"Need Run?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":2000,"wires":[["80117722.caa42"]]},{"id":"93f4d7df.a60218","type":"moment","z":"164a3904.fd37c7","name":"Format","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Brussels","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"runtime","outputType":"msg","outTz":"Europe/Brussels","x":522,"y":1020,"wires":[["fd07211b.751c7"]]},{"id":"86328e4b.909f38","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Next Run Zone 1","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.next_run_zone_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":160,"y":1020,"wires":[["e3d0a273.683338"]]},{"id":"d7746f2b.3b59a8","type":"inject","z":"164a3904.fd37c7","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":920,"wires":[["86328e4b.909f38","6e8e76ed.7be25","277331af.3ee0e6","52d82cc.7ae2cd4"]]},{"id":"6e8e76ed.7be25","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Next Run Zone 2","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.next_run_zone_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":160,"y":1320,"wires":[["5f8ed407.8f0fc4"]]},{"id":"277331af.3ee0e6","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Next Run Zone 3","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.next_run_zone_3","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":160,"y":1620,"wires":[["451c7d33.a90454"]]},{"id":"52d82cc.7ae2cd4","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Next Run Zone 4","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.next_run_zone_4","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":160,"y":1920,"wires":[["dae903de.7d3f7"]]},{"id":"157de367.f02e55","type":"moment","z":"164a3904.fd37c7","name":"Format","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Brussels","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"runtime","outputType":"msg","outTz":"Europe/Brussels","x":520,"y":1320,"wires":[["57dd930d.b079c4"]]},{"id":"74fd60cb.79ecb","type":"moment","z":"164a3904.fd37c7","name":"Format","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Brussels","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"runtime","outputType":"msg","outTz":"Europe/Brussels","x":520,"y":1620,"wires":[["554f0ec5.dbece"]]},{"id":"8c269c1e.fb39d","type":"moment","z":"164a3904.fd37c7","name":"Format","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Brussels","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"runtime","outputType":"msg","outTz":"Europe/Brussels","x":520,"y":1920,"wires":[["7866a13e.2593d8"]]},{"id":"7866a13e.2593d8","type":"function","z":"164a3904.fd37c7","name":"Check Time","func":"var nextrun = new Date(msg.runtime);\nvar currenttime = new Date();\ncurrenttime.setMilliseconds(0);\ncurrenttime.setSeconds(0);\nif (currenttime.getTime() == nextrun.getTime()){\n    msg.payload = \"on\"\n}else{\n    msg.payload = \"off\"\n}\nreturn msg; ","outputs":1,"noerr":0,"x":530,"y":1960,"wires":[["68d7beb9.7ee9e8"]]},{"id":"f0a2d007.d46bd","type":"function","z":"164a3904.fd37c7","name":"Set zoneId","func":"msg.zoneId = 1\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1180,"wires":[["145add96.423322"]]},{"id":"fce03cf4.e306f8","type":"function","z":"164a3904.fd37c7","name":"Set zoneId","func":"msg.zoneId = 2\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1480,"wires":[["145add96.423322"]]},{"id":"fb8df3a.715da1","type":"function","z":"164a3904.fd37c7","name":"Set zoneId","func":"msg.zoneId = 3\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1780,"wires":[["145add96.423322"]]},{"id":"97cfeeed.91e548","type":"function","z":"164a3904.fd37c7","name":"Set zoneId","func":"msg.zoneId = 4\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":2080,"wires":[["145add96.423322"]]},{"id":"1b34a0bb.8c2f8f","type":"ha-wait-until","z":"164a3904.fd37c7","name":"Wait for Valve 4","server":"f93d303.a1c6f5","version":1,"outputs":1,"entityId":"switch.greenhouse_valve_4","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":980,"y":1920,"wires":[["591aa79f.7d42"]]},{"id":"591aa79f.7d42","type":"function","z":"164a3904.fd37c7","name":"Set Duration 4","func":"const gHomeAssistant = global.get('homeassistant').homeAssistant;\nconst duration = gHomeAssistant.states[`input_number.zone_4_duration`].state;\n\nmsg.delay = parseFloat(duration) * 60000;\nmsg.payload.service = \"turn_off\" //override previous service\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1980,"wires":[["70f345ae.bdddf4"]]},{"id":"70f345ae.bdddf4","type":"delay","z":"164a3904.fd37c7","name":"Duration","pauseType":"delayv","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":980,"y":2020,"wires":[["66802076.a520e"]]},{"id":"66802076.a520e","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn Off Zone 4","server":"f93d303.a1c6f5","version":5,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.greenhouse_valve_4"],"data":"","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1140,"y":2020,"wires":[["97cfeeed.91e548"]]},{"id":"4ef8e803.fce948","type":"ha-wait-until","z":"164a3904.fd37c7","name":"Wait for Valve 3","server":"f93d303.a1c6f5","version":1,"outputs":1,"entityId":"switch.greenhouse_valve_3","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":980,"y":1620,"wires":[["2b391d9e.d6d28a"]]},{"id":"2b391d9e.d6d28a","type":"function","z":"164a3904.fd37c7","name":"Set Duration 3","func":"const gHomeAssistant = global.get('homeassistant').homeAssistant;\nconst duration = gHomeAssistant.states[`input_number.zone_3_duration`].state;\n\nmsg.delay = parseFloat(duration) * 60000;\nmsg.payload.service = \"turn_off\" //override previous service\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1680,"wires":[["ddf0fcbd.e9f708"]]},{"id":"ddf0fcbd.e9f708","type":"delay","z":"164a3904.fd37c7","name":"Duration","pauseType":"delayv","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":980,"y":1720,"wires":[["a3a1c12e.6b802"]]},{"id":"a3a1c12e.6b802","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn Off Zone 3","server":"f93d303.a1c6f5","version":5,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.greenhouse_valve_3"],"data":"","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1140,"y":1720,"wires":[["fb8df3a.715da1"]]},{"id":"a4a7a2b2.4266c","type":"ha-wait-until","z":"164a3904.fd37c7","name":"Wait for Valve 2","server":"f93d303.a1c6f5","version":1,"outputs":1,"entityId":"switch.greenhouse_valve_2","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":980,"y":1320,"wires":[["67cde168.df33c"]]},{"id":"67cde168.df33c","type":"function","z":"164a3904.fd37c7","name":"Set Duration 2","func":"const gHomeAssistant = global.get('homeassistant').homeAssistant;\nconst duration = gHomeAssistant.states[`input_number.zone_2_duration`].state;\n\nmsg.delay = parseFloat(duration) * 60000;\nmsg.payload.service = \"turn_off\" //override previous service\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1380,"wires":[["9bdf08c2.517d58"]]},{"id":"9bdf08c2.517d58","type":"delay","z":"164a3904.fd37c7","name":"Duration","pauseType":"delayv","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":980,"y":1420,"wires":[["e62706d9.d02d78"]]},{"id":"c807ea4c.08bf","type":"ha-wait-until","z":"164a3904.fd37c7","name":"Wait for Valve 1","server":"f93d303.a1c6f5","version":1,"outputs":1,"entityId":"switch.greenhouse_valve_1","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":960,"y":1020,"wires":[["4d96cc11.c37314"]]},{"id":"4d96cc11.c37314","type":"function","z":"164a3904.fd37c7","name":"Set Duration 1","func":"const gHomeAssistant = global.get('homeassistant').homeAssistant;\nconst duration = gHomeAssistant.states[`input_number.zone_1_duration`].state;\n\nmsg.delay = parseFloat(duration) * 60000;\nmsg.payload.service = \"turn_off\" //override previous service\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1080,"wires":[["69c21d72.7f00b4"]]},{"id":"69c21d72.7f00b4","type":"delay","z":"164a3904.fd37c7","name":"Duration","pauseType":"delayv","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":960,"y":1120,"wires":[["2236b238.307a0e"]]},{"id":"2236b238.307a0e","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn Off Zone 1","server":"f93d303.a1c6f5","version":5,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.greenhouse_valve_1"],"data":"","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1120,"y":1120,"wires":[["f0a2d007.d46bd"]]},{"id":"909994fb.42e2b8","type":"link in","z":"164a3904.fd37c7","name":"Calculate Next Run Time","links":["145add96.423322","c12220ce.5aa2a","b3a7728a.041ff","c69ae14.bfa152"],"x":275,"y":800,"wires":[["486b7a62.ccefbc"]]},{"id":"486b7a62.ccefbc","type":"function","z":"164a3904.fd37c7","name":"Calculate next run","func":"if (msg.topic === \"\") {\n    zoneId = msg.zoneId\n} else {\n    zoneId = /zone_([1234])/.exec(msg.topic)[1];\n}\n\ndatetimeId = `input_datetime.zone_${zoneId}_next_run_time`;\n\nmsg.datetimeId = datetimeId;\n\nconst gHomeAssistant = global.get('homeassistant').homeAssistant;\nconst time = gHomeAssistant.states[`input_datetime.zone_${zoneId}_select_time`].state;\nconst schedule = gHomeAssistant.states[`input_select.zone_${zoneId}_schedule`].state;\n\nmsg.hours = time.split(\":\")[0]\nmsg.minutes = time.split(\":\")[1]\n\nconst d = new Date();\nd.setHours(time.split(\":\")[0], time.split(\":\")[1]);\nvar currentDay = d.getDay();\nmsg.currentday = currentDay\n\nif (schedule == 'Every Day') {\n    if (Date.now() >= d){\n        d.setDate(d.getDate() + 1);\n    }\n} else if (schedule == 'Every 3 Days'){\n    if (Date.now() >= d){\n        d.setDate(d.getDate() + 3);\n    }\n} else if (schedule == 'Monday'){\n    d.setDate(d.getDate() + (1 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Tuesday'){\n    d.setDate(d.getDate() + (2 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Wednesday'){\n    d.setDate(d.getDate() + (3 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Thursday'){\n    d.setDate(d.getDate() + (4 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Friday'){\n    d.setDate(d.getDate() + (5 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Saturday'){\n    d.setDate(d.getDate() + (6 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Sunday'){\n    d.setDate(d.getDate() + (7 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Tue/Thu/Sat'){\n    if (Date.now() >= d){\n        currentDay++\n    }\n    if (currentDay <= 2 ){\n        newday = 2\n    } else if (currentDay <= 4){\n        newday = 4\n    } else if (currentDay <= 6){\n        newday = 6\n    } else if (currentDay <= 7){\n        newday = 2\n    }\n    d.setDate(d.getDate() + (newday + 7 - d.getDay()) % 7);\n} else if (schedule == 'Mon/Wed/Fri/Sun'){\n    if (Date.now() >= d){\n        currentDay++\n    }\n    if (currentDay <= 1 ){\n        newday = 1\n    } else if (currentDay <= 3){\n        newday = 3\n    } else if (currentDay <= 5){\n        newday = 5\n    } else if (currentDay <= 7){\n        newday = 7\n    }\n    d.setDate(d.getDate() + (newday + 7 - d.getDay()) % 7);\n}\n\nmsg.time = time;\n\nif (Date.now() >= d){\n    d.setDate(d.getDate() + 7);\n}\nmsg.date = d;\nmsg.currentDay = currentDay;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":793,"wires":[["f3f997bc.54eec","3dac2534.995b52"]]},{"id":"37d72381.86afc4","type":"api-call-service","z":"164a3904.fd37c7","name":"Set Schedule Time","server":"f93d303.a1c6f5","version":5,"domain":"input_datetime","service":"set_datetime","areaId":[],"deviceId":[],"entityId":["{{datetimeId}}"],"data":"{\"date\":\"{{payload}}\",\"time\":\"{{time}}\"}","mergeContext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1050,"y":793,"wires":[[]]},{"id":"3dac2534.995b52","type":"moment","z":"164a3904.fd37c7","name":"Format Day","topic":"","input":"date","inputType":"msg","inTz":"Europe/Brussels","adjAmount":"0","adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/Brussels","x":730,"y":793,"wires":[["37d72381.86afc4"]]},{"id":"c2c5592e.5458e","type":"server-state-changed","z":"164a3904.fd37c7","name":"","server":"f93d303.a1c6f5","version":4,"entityidfilter":"input_select.zone_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":840,"wires":[["486b7a62.ccefbc"]]},{"id":"f3f997bc.54eec","type":"debug","z":"164a3904.fd37c7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":733,"wires":[]},{"id":"b9892543.d69508","type":"server-state-changed","z":"164a3904.fd37c7","name":"Input Datetime select time","server":"f93d303.a1c6f5","version":4,"entityidfilter":"input_datetime.zone_[1-4]_select_time","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":740,"wires":[["486b7a62.ccefbc"]]},{"id":"e62706d9.d02d78","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn off Valve 2","server":"f93d303.a1c6f5","version":5,"domain":"switch","service":"turn_Off","areaId":[],"deviceId":[],"entityId":["switch.greenhouse_valve_2"],"data":"","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":1420,"wires":[["fce03cf4.e306f8"]]},{"id":"80117722.caa42","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Current Soil Saturation Zone 4","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.greenhouse_zone_4_moisture","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"currentsoilsaturationzone4","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":600,"y":2040,"wires":[["d5f9624a.25532"]]},{"id":"d5f9624a.25532","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Soil Moisture Sensitivity Zone 4","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.soil_moisture_sensitivity_4","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"minsoilsaturationzone4","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":600,"y":2100,"wires":[["423009b.3b13cf8"]]},{"id":"423009b.3b13cf8","type":"switch","z":"164a3904.fd37c7","name":"Need Water?","property":"minsoilsaturationzone4","propertyType":"msg","rules":[{"t":"gt","v":"currentsoilsaturationzone4","vt":"msg"},{"t":"lte","v":"currentsoilsaturationzone4","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":2160,"wires":[["6758e8b7.b2fa"],["97cfeeed.91e548"]]},{"id":"73574d77.9024bc","type":"api-current-state","z":"164a3904.fd37c7","name":"Window 1 Disabled","server":"f93d303.a1c6f5","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.disable_greenhouse_window_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":170,"y":540,"wires":[["dd1d02d9.185a48"],[]]},{"id":"4e49e655.c27ac8","type":"api-current-state","z":"164a3904.fd37c7","name":"Window 1 Disabled","server":"f93d303.a1c6f5","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.disable_greenhouse_window_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":170,"y":480,"wires":[["713b3c75.5bfa3c"],[]]},{"id":"a0354d1b.28d3b","type":"api-current-state","z":"164a3904.fd37c7","name":"Window 2 Disabled","server":"f93d303.a1c6f5","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.disable_greenhouse_window_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":170,"y":360,"wires":[["8298779c.b87388"],[]]},{"id":"63f91d08.a897b4","type":"api-current-state","z":"164a3904.fd37c7","name":"Window 2 Disabled","server":"f93d303.a1c6f5","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.disable_greenhouse_window_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":170,"y":420,"wires":[["ae6c733.c3a6c1"],[]]},{"id":"544fdaad.266744","type":"link in","z":"164a3904.fd37c7","name":"Open Window 1","links":["c9f43b31.098fb8","b4b1fb8d.c10868","bee184b5.541bb8","5862875.46a3878","273710e1.8191c8"],"x":35,"y":480,"wires":[["4e49e655.c27ac8"]]},{"id":"ca827770.58a0b","type":"link in","z":"164a3904.fd37c7","name":"Open Window 2","links":["495952c.edaeaac","b2efee3c.77cb3","7866a458.54b04c","6adaebe.e58fd14","927c1637.b12fd","cc438f63.6d988"],"x":35,"y":360,"wires":[["a0354d1b.28d3b"]]},{"id":"8f684b1a.860bc","type":"link in","z":"164a3904.fd37c7","name":"Close Window 2","links":["16ca58a5.9e782f","9efad119.b7ced","48597549.563f44","6c694c94.a604e4","d6d631a6.b617e","c18dbaad.e54e98"],"x":35,"y":420,"wires":[["63f91d08.a897b4"]]},{"id":"c5e973f.9f2d21","type":"link in","z":"164a3904.fd37c7","name":"Close Window 1","links":["5969530d.1ff5fc","6c694c94.a604e4","9a8252e1.95d87","16ca58a5.9e782f","d6d631a6.b617e","a857760a.bd8be8","c18dbaad.e54e98"],"x":35,"y":540,"wires":[["73574d77.9024bc"]]},{"id":"16ca58a5.9e782f","type":"link out","z":"164a3904.fd37c7","name":"","links":["8f684b1a.860bc","c5e973f.9f2d21"],"x":835,"y":20,"wires":[]},{"id":"6c694c94.a604e4","type":"link out","z":"164a3904.fd37c7","name":"","links":["8f684b1a.860bc","c5e973f.9f2d21"],"x":575,"y":220,"wires":[]},{"id":"48597549.563f44","type":"link out","z":"164a3904.fd37c7","name":"","links":["8f684b1a.860bc"],"x":1315,"y":440,"wires":[]},{"id":"495952c.edaeaac","type":"link out","z":"164a3904.fd37c7","name":"","links":["ca827770.58a0b"],"x":1495,"y":380,"wires":[]},{"id":"a857760a.bd8be8","type":"link out","z":"164a3904.fd37c7","name":"","links":["c5e973f.9f2d21"],"x":1315,"y":240,"wires":[]},{"id":"353799d6.e76d3e","type":"switch","z":"164a3904.fd37c7","name":"Need Water?","property":"minsoilsaturationzone1","propertyType":"msg","rules":[{"t":"gt","v":"currentsoilsaturationzone1","vt":"msg"},{"t":"lte","v":"currentsoilsaturationzone1","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1260,"wires":[["dac68325.b7b5b"],["f0a2d007.d46bd"]]},{"id":"2177048.12790fc","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Soil Moisture Sensitivity Zone 1","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.soil_moisture_sensitivity_1","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"minsoilsaturationzone1","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":600,"y":1200,"wires":[["353799d6.e76d3e"]]},{"id":"dfce6707.8803a","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Current Soil Saturation Zone 1","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.greenhouse_zone_1_moisture","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"currentsoilsaturationzone1","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":600,"y":1140,"wires":[["2177048.12790fc"]]},{"id":"fd07211b.751c7","type":"function","z":"164a3904.fd37c7","name":"Check Time","func":"var nextrun = new Date(msg.runtime);\nvar currenttime = new Date();\ncurrenttime.setMilliseconds(0);\ncurrenttime.setSeconds(0);\nif (currenttime.getTime() == nextrun.getTime()){\n    msg.payload = \"on\"\n}else{\n    msg.payload = \"off\"\n}\nreturn msg; ","outputs":1,"noerr":0,"x":532,"y":1060,"wires":[["a31a5641.ca2e78"]]},{"id":"a31a5641.ca2e78","type":"switch","z":"164a3904.fd37c7","name":"Need Run?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":532,"y":1100,"wires":[["dfce6707.8803a"]]},{"id":"57dd930d.b079c4","type":"function","z":"164a3904.fd37c7","name":"Check Time","func":"var nextrun = new Date(msg.runtime);\nvar currenttime = new Date();\ncurrenttime.setMilliseconds(0);\ncurrenttime.setSeconds(0);\nif (currenttime.getTime() == nextrun.getTime()){\n    msg.payload = \"on\"\n}else{\n    msg.payload = \"off\"\n}\nreturn msg; ","outputs":1,"noerr":0,"x":530,"y":1360,"wires":[["94ced634.12d9f8"]]},{"id":"94ced634.12d9f8","type":"switch","z":"164a3904.fd37c7","name":"Need Run?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1400,"wires":[["c7ed6ff4.8481c8"]]},{"id":"c7ed6ff4.8481c8","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Current Soil Saturation Zone 2","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.greenhouse_zone_2_moisture","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"currentsoilsaturationzone2","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":598,"y":1440,"wires":[["a3e87014.8d38e8"]]},{"id":"a3e87014.8d38e8","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Soil Moisture Sensitivity Zone 2","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.soil_moisture_sensitivity_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"minsoilsaturationzone2","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":598,"y":1500,"wires":[["f552436e.a1b478"]]},{"id":"f552436e.a1b478","type":"switch","z":"164a3904.fd37c7","name":"Need Water?","property":"minsoilsaturationzone2","propertyType":"msg","rules":[{"t":"gt","v":"currentsoilsaturationzone2","vt":"msg"},{"t":"lte","v":"currentsoilsaturationzone2","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":528,"y":1560,"wires":[["ca2d29dc.91cc28"],["fce03cf4.e306f8"]]},{"id":"554f0ec5.dbece","type":"function","z":"164a3904.fd37c7","name":"Check Time","func":"var nextrun = new Date(msg.runtime);\nvar currenttime = new Date();\ncurrenttime.setMilliseconds(0);\ncurrenttime.setSeconds(0);\nif (currenttime.getTime() == nextrun.getTime()){\n    msg.payload = \"on\"\n}else{\n    msg.payload = \"off\"\n}\nreturn msg; ","outputs":1,"noerr":0,"x":530,"y":1660,"wires":[["57e2ade8.b22694"]]},{"id":"57e2ade8.b22694","type":"switch","z":"164a3904.fd37c7","name":"Need Run?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1700,"wires":[["a200e162.6af7b"]]},{"id":"a200e162.6af7b","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Current Soil Saturation Zone 3","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.greenhouse_zone_3_moisture","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"currentsoilsaturationzone3","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":598,"y":1740,"wires":[["5618bf73.37c9e"]]},{"id":"5618bf73.37c9e","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Soil Moisture Sensitivity Zone 3","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.soil_moisture_sensitivity_3","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"minsoilsaturationzone3","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":598,"y":1800,"wires":[["8aa872f3.228578"]]},{"id":"8aa872f3.228578","type":"switch","z":"164a3904.fd37c7","name":"Need Water?","property":"minsoilsaturationzone3","propertyType":"msg","rules":[{"t":"gt","v":"currentsoilsaturationzone3","vt":"msg"},{"t":"lte","v":"currentsoilsaturationzone3","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":528,"y":1860,"wires":[["5dcedf44.764ad8"],["fb8df3a.715da1"]]},{"id":"e3d0a273.683338","type":"switch","z":"164a3904.fd37c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"None","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1020,"wires":[["93f4d7df.a60218"]]},{"id":"5f8ed407.8f0fc4","type":"switch","z":"164a3904.fd37c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"None","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1320,"wires":[["157de367.f02e55"]]},{"id":"451c7d33.a90454","type":"switch","z":"164a3904.fd37c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"None","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1620,"wires":[["74fd60cb.79ecb"]]},{"id":"dae903de.7d3f7","type":"switch","z":"164a3904.fd37c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"None","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1920,"wires":[["8c269c1e.fb39d"]]},{"id":"fc8a9ba4.8623a","type":"switch","z":"164a3904.fd37c7","name":"","property":"rain","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":483,"y":160,"wires":[["54d761e0.ccbf38"],["6c694c94.a604e4"]]},{"id":"3499c45f.7d4bd4","type":"server-state-changed","z":"164a3904.fd37c7","name":"Serre Humidity Sensor","server":"f93d303.a1c6f5","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.greenhouse_humidity","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":100,"wires":[["2aae0ed0.37b29a"]]},{"id":"8c859a73.546bf8","type":"change","z":"164a3904.fd37c7","name":"Postion: 100","rules":[{"t":"set","p":"position2","pt":"flow","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":280,"wires":[["6adaebe.e58fd14"]]},{"id":"6adaebe.e58fd14","type":"link out","z":"164a3904.fd37c7","name":"","links":["ca827770.58a0b"],"x":1255,"y":280,"wires":[]},{"id":"bee184b5.541bb8","type":"link out","z":"164a3904.fd37c7","name":"","links":["544fdaad.266744"],"x":1255,"y":140,"wires":[]},{"id":"c7c0dd32.8894f","type":"change","z":"164a3904.fd37c7","name":"Postion: 100","rules":[{"t":"set","p":"position1","pt":"flow","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":140,"wires":[["bee184b5.541bb8"]]},{"id":"20bc0925.abcba6","type":"inject","z":"164a3904.fd37c7","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":80,"wires":[["5769f45d.fcce9c"]]},{"id":"fdb62c8e.8e9e7","type":"switch","z":"164a3904.fd37c7","name":"Check Temperature Window 2","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"28","vt":"str"},{"t":"gte","v":"26","vt":"str"},{"t":"gte","v":"24","vt":"str"},{"t":"lt","v":"22","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":890,"y":300,"wires":[["8c859a73.546bf8"],["53a2dfb6.c2be48"],["4950bc39.4f811c"],["54efa716.c3dee8"]]},{"id":"4950bc39.4f811c","type":"change","z":"164a3904.fd37c7","name":"Postion: 50","rules":[{"t":"set","p":"position2","pt":"flow","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":360,"wires":[["927c1637.b12fd"]]},{"id":"927c1637.b12fd","type":"link out","z":"164a3904.fd37c7","name":"","links":["ca827770.58a0b"],"x":1255,"y":360,"wires":[]},{"id":"53a2dfb6.c2be48","type":"change","z":"164a3904.fd37c7","name":"Postion: 75","rules":[{"t":"set","p":"position2","pt":"flow","to":"75","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":320,"wires":[["cc438f63.6d988"]]},{"id":"cc438f63.6d988","type":"link out","z":"164a3904.fd37c7","name":"","links":["ca827770.58a0b"],"x":1255,"y":320,"wires":[]},{"id":"54efa716.c3dee8","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Humidity","server":"f93d303.a1c6f5","version":3,"outputs":2,"halt_if":"65","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.greenhouse_humidity","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1130,"y":400,"wires":[["fbe82f7b.108c58"],["48597549.563f44"]]},{"id":"fbe82f7b.108c58","type":"change","z":"164a3904.fd37c7","name":"Postion: 25","rules":[{"t":"set","p":"position2","pt":"flow","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":380,"wires":[["495952c.edaeaac"]]},{"id":"3381f6a2.39b992","type":"change","z":"164a3904.fd37c7","name":"Postion: 50","rules":[{"t":"set","p":"position1","pt":"flow","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":180,"wires":[["5862875.46a3878"]]},{"id":"5862875.46a3878","type":"link out","z":"164a3904.fd37c7","name":"","links":["544fdaad.266744"],"x":1255,"y":180,"wires":[]},{"id":"8298779c.b87388","type":"api-current-state","z":"164a3904.fd37c7","name":"Get State of Window 2","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"cover.greenhouse_window_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":380,"y":360,"wires":[["406668a1.ac8ac8"]]},{"id":"406668a1.ac8ac8","type":"switch","z":"164a3904.fd37c7","name":"is position different","property":"data.attributes.current_position","propertyType":"msg","rules":[{"t":"neq","v":"position2","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":360,"wires":[["44645ad3.a09184"]]},{"id":"713b3c75.5bfa3c","type":"api-current-state","z":"164a3904.fd37c7","name":"Get State of Window 1","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"cover.greenhouse_window_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":380,"y":480,"wires":[["1da4380.62a72c8"]]},{"id":"1da4380.62a72c8","type":"switch","z":"164a3904.fd37c7","name":"is position different","property":"data.attributes.current_position","propertyType":"msg","rules":[{"t":"neq","v":"position1","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":480,"wires":[["945489c0.ce3ee"]]},{"id":"273710e1.8191c8","type":"link out","z":"164a3904.fd37c7","name":"","links":["544fdaad.266744"],"x":1495,"y":200,"wires":[]},{"id":"b0b62f8e.477148","type":"server-state-changed","z":"164a3904.fd37c7","name":"Window Disable","server":"f93d303.a1c6f5","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.disable_greenhouse_window","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":220,"wires":[["2aae0ed0.37b29a"]]},{"id":"9554e671.60611","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Humidity","server":"f93d303.a1c6f5","version":3,"outputs":2,"halt_if":"65","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.greenhouse_humidity","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1130,"y":220,"wires":[["74bb9a8.076e6e4"],["a857760a.bd8be8"]]},{"id":"74bb9a8.076e6e4","type":"change","z":"164a3904.fd37c7","name":"Postion: 25","rules":[{"t":"set","p":"position1","pt":"flow","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":200,"wires":[["273710e1.8191c8"]]},{"id":"42c63c27.d1b6ac","type":"server-state-changed","z":"f6e5a287.09185","name":"External IP Fritz","server":"f93d303.a1c6f5","version":4,"entityidfilter":"sensor.external_ip","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":1688,"wires":[["246f0669.545ed2"]]},{"id":"7b6f0e3a.9c20a8","type":"http request","z":"f6e5a287.09185","name":"CheckWAN","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.10/transip/CheckWAN.php","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":1880,"wires":[[]]},{"id":"28a3c9e6.abaff6","type":"inject","z":"f6e5a287.09185","name":"Get IP","repeat":"300","crontab":"","once":false,"onceDelay":"","topic":"ip","payload":"eth0","payloadType":"str","x":120,"y":1780,"wires":[["42f98ecd.c67898","7b6f0e3a.9c20a8"]]},{"id":"42f970e0.7790e","type":"function","z":"f6e5a287.09185","name":"Compare IPv4","func":"context.lastip = context.lastip || 'initial';\nvar currentip = msg.payload;\n\nif (context.lastip != 'initial' && context.lastip != currentip ) {\nmsg.payload = \"My current IP is \"+currentip;\ncontext.lastip = currentip;\nreturn msg;\n}","outputs":1,"noerr":0,"x":880,"y":1740,"wires":[["7b6f0e3a.9c20a8"]]},{"id":"246f0669.545ed2","type":"switch","z":"f6e5a287.09185","name":"Integrity check IPV4","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"\\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\b","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":1740,"wires":[["42f970e0.7790e"],[]]},{"id":"42f98ecd.c67898","type":"http request","z":"f6e5a287.09185","name":"Get IP","method":"GET","ret":"txt","paytoqs":false,"url":"https://ipecho.net/plain","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":1780,"wires":[["246f0669.545ed2"]]},{"id":"5532295dcfc7f196","type":"udp in","z":"f6e5a287.09185","name":"","iface":"","port":"9522","ipv":"udp4","multicast":"true","group":"239.12.255.254","datatype":"buffer","x":190,"y":500,"wires":[["42b5356990f3952b","b8bfdad71d420ab0"]]},{"id":"42b5356990f3952b","type":"function","z":"f6e5a287.09185","name":"Parse ","func":"var count = context.get('count') || 0;\ncount += 1;\n\n/*\nIF you do not want to update HA every second you can set the fuction to pass\nthe data less often - see below\n*/\n\n\nif (count < 30) {         /* process data only every 30 seconds */\n    context.set('count', count);\n    return null;\n}\n\ncount = 0;\ncontext.set('count', count);\n\nvar msg1 = { payload: \"actual consumption\" };\nvar msg2 = { payload: \"actual gridfeed\" };\nvar msg3 = { payload: \"consumption counter\" };\nvar msg4 = { payload: \"gridfeed counter\" };\n\n\n/* to get the actual grid consumption in W we need the offset 0.1.4.0 */\nvar offset = msg.payload.indexOf(\"00010400\", 0, \"hex\") + 4;\nvar consumption = parseInt((msg.payload[offset + 0] * 0x1000000 +\n    msg.payload[offset + 1] * 0x10000 +\n    msg.payload[offset + 2] * 0x100 +\n    msg.payload[offset + 3]) / 10);\n\n/* to get the actual grid consumption counter in Wh we need the offset 0.1.8.0 */\noffset = msg.payload.indexOf(\"00010800\", 0, \"hex\") + 4;\nvar consumption_c = parseInt((msg.payload[offset + 0] * 0x100000000000000 +\n    msg.payload[offset + 1] * 0x1000000000000 +\n    msg.payload[offset + 2] * 0x10000000000 +\n    msg.payload[offset + 3] * 0x100000000 +\n    msg.payload[offset + 4] * 0x1000000 +\n    msg.payload[offset + 5] * 0x10000 +\n    msg.payload[offset + 6] * 0x100 +\n    msg.payload[offset + 7]) / 3600);\n\n/* to get the actual grid feed in W we need the offset 0.2.4.0 */\noffset = msg.payload.indexOf(\"00020400\", 0, \"hex\") + 4;\nvar gridfeed = parseInt((msg.payload[offset + 0] * 0x1000000 +\n    msg.payload[offset + 1] * 0x10000 +\n    msg.payload[offset + 2] * 0x100 +\n    msg.payload[offset + 3]) / 10);\n\n/* to get the actual grid feed counter in Wh we need the offset 0.2.8.0 */\noffset = msg.payload.indexOf(\"00020800\", 0, \"hex\") + 4;\nvar gridfeed_c = parseInt((msg.payload[offset + 0] * 0x100000000000000 +\n    msg.payload[offset + 1] * 0x1000000000000 +\n    msg.payload[offset + 2] * 0x10000000000 +\n    msg.payload[offset + 3] * 0x100000000 +\n    msg.payload[offset + 4] * 0x1000000 +\n    msg.payload[offset + 5] * 0x10000 +\n    msg.payload[offset + 6] * 0x100 +\n    msg.payload[offset + 7]) / 3600);\n\n\nif (consumption >= 0 && consumption < 100000) {\n    msg1.payload = consumption.toString();\n} else msg1 = null;\n\nif (consumption_c >= 0 && consumption_c < 50000000) {\n    msg2.payload = consumption_c.toString();\n} else msg2 = null;\n\nif (gridfeed >= 0 && gridfeed < 100000) {\n    msg3.payload = gridfeed.toString();\n} else msg3 = null;\n\nif (gridfeed_c >= 0 && gridfeed_c < 5000000) {\n    msg4.payload = gridfeed_c.toString();\n} else msg4 = null;\n\n\nreturn [msg1, msg2, msg3, msg4];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":500,"wires":[["4a47c335d5a6b759"]]},{"id":"4a47c335d5a6b759","type":"debug","z":"f6e5a287.09185","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":500,"wires":[]},{"id":"b8bfdad71d420ab0","type":"debug","z":"f6e5a287.09185","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":580,"wires":[]},{"id":"eb73a3b87a2f69df","type":"ui_text","z":"538fc655139bb74a","group":"bd2545e77e4ee7ee","order":3,"width":0,"height":0,"name":"Bezug","label":"<b><font color=red>Bezug","format":"{{msg.payload.P_bez}} W","layout":"row-spread","className":"","x":670,"y":140,"wires":[]},{"id":"ea74b32f61853bbb","type":"ui_text","z":"538fc655139bb74a","group":"bd2545e77e4ee7ee","order":2,"width":0,"height":0,"name":"Einspeisung","label":"<b><font color=orange>Einspeisung","format":"{{msg.payload.P_ein}} W","layout":"row-spread","className":"","x":690,"y":180,"wires":[]},{"id":"fb95a86c37aa798b","type":"ui_text","z":"538fc655139bb74a","group":"bd2545e77e4ee7ee","order":5,"width":0,"height":0,"name":"","label":"Blindleistung","format":"{{msg.payload.Q}} var","layout":"row-spread","className":"","x":690,"y":220,"wires":[]},{"id":"c4d80c477c5bde8f","type":"ui_text","z":"538fc655139bb74a","group":"bd2545e77e4ee7ee","order":7,"width":0,"height":0,"name":"Frequenz","label":"Frequenz","format":"{{msg.payload.Hz}} Hz","layout":"row-spread","className":"","x":680,"y":260,"wires":[]},{"id":"132472204dbafa1c","type":"ui_text","z":"538fc655139bb74a","group":"bd2545e77e4ee7ee","order":6,"width":0,"height":0,"name":"cosphi","label":"cos phi","format":"{{msg.payload.cos_phi}}","layout":"row-spread","className":"","x":670,"y":300,"wires":[]},{"id":"321495e30c91d045","type":"ui_text","z":"538fc655139bb74a","group":"6854fdc6d826a885","order":4,"width":0,"height":0,"name":"Bezug L1","label":"<font color=red>Bezug L1","format":"{{msg.payload.P1_bez}} W","layout":"row-spread","className":"","x":980,"y":140,"wires":[]},{"id":"082f496657ccdbb8","type":"ui_text","z":"538fc655139bb74a","group":"6854fdc6d826a885","order":1,"width":0,"height":0,"name":"Einspeisung L1","label":"<font color=orange>Einspeisung L1","format":"{{msg.payload.P1_ein}} W","layout":"row-spread","className":"","x":1000,"y":180,"wires":[]},{"id":"4110b0375b4f361e","type":"ui_text","z":"538fc655139bb74a","group":"7f9b1b2b.f438bc","order":1,"width":0,"height":0,"name":"","label":"Blindleistung L1","format":"{{msg.payload.Q1}} var","layout":"row-spread","className":"","x":1000,"y":220,"wires":[]},{"id":"338ca478be502d2e","type":"ui_text","z":"538fc655139bb74a","group":"80b4ccf25a3b9132","order":4,"width":0,"height":0,"name":"Strom L1","label":"Strom L1","format":"{{msg.payload.I11}} A","layout":"row-spread","className":"","x":980,"y":260,"wires":[]},{"id":"aaa76672fcf329c2","type":"ui_text","z":"538fc655139bb74a","group":"80b4ccf25a3b9132","order":1,"width":0,"height":0,"name":"Spannung L1","label":"Spannung L1","format":"{{msg.payload.U1}} V","layout":"row-spread","className":"","x":1000,"y":300,"wires":[]},{"id":"39d74a9156f6bca3","type":"ui_text","z":"538fc655139bb74a","group":"6854fdc6d826a885","order":5,"width":0,"height":0,"name":"Bezug L2","label":"<font color=red>Bezug L2","format":"{{msg.payload.P2_bez}} W","layout":"row-spread","className":"","x":1280,"y":140,"wires":[]},{"id":"2703c63798379d0c","type":"ui_text","z":"538fc655139bb74a","group":"6854fdc6d826a885","order":2,"width":0,"height":0,"name":"Einspeisung L2","label":"<font color=orange>Einspeisung L2","format":"{{msg.payload.P2_ein}} W","layout":"row-spread","className":"","x":1300,"y":180,"wires":[]},{"id":"e332e5e5f8683e91","type":"ui_text","z":"538fc655139bb74a","group":"7f9b1b2b.f438bc","order":2,"width":0,"height":0,"name":"","label":"Blindleistung L2","format":"{{msg.payload.Q2}} var","layout":"row-spread","className":"","x":1300,"y":220,"wires":[]},{"id":"fface4aeb63f5e26","type":"ui_text","z":"538fc655139bb74a","group":"80b4ccf25a3b9132","order":5,"width":0,"height":0,"name":"Strom L2","label":"Strom L2","format":"{{msg.payload.I22}} A","layout":"row-spread","className":"","x":1280,"y":260,"wires":[]},{"id":"44fa25a715ba50f7","type":"ui_text","z":"538fc655139bb74a","group":"80b4ccf25a3b9132","order":2,"width":0,"height":0,"name":"Spannung L2","label":"Spannung L2","format":"{{msg.payload.U2}} V","layout":"row-spread","className":"","x":1300,"y":300,"wires":[]},{"id":"41240c88ecd463f3","type":"ui_text","z":"538fc655139bb74a","group":"6854fdc6d826a885","order":6,"width":0,"height":0,"name":"Bezug L3","label":"<font color=red>Bezug L3","format":"{{msg.payload.P3_bez}} W","layout":"row-spread","className":"","x":1580,"y":140,"wires":[]},{"id":"fbeb042a732b3c61","type":"ui_text","z":"538fc655139bb74a","group":"6854fdc6d826a885","order":3,"width":0,"height":0,"name":"Einspeisung L3","label":"<font color=orange>Einspeisung L3","format":"{{msg.payload.P3_ein}} W","layout":"row-spread","className":"","x":1600,"y":180,"wires":[]},{"id":"ec2f7f5e30af065e","type":"ui_text","z":"538fc655139bb74a","group":"7f9b1b2b.f438bc","order":3,"width":0,"height":0,"name":"","label":"Blindleistung L3","format":"{{msg.payload.Q3}} var","layout":"row-spread","className":"","x":1600,"y":220,"wires":[]},{"id":"e00fcea7986a5b3d","type":"ui_text","z":"538fc655139bb74a","group":"80b4ccf25a3b9132","order":6,"width":0,"height":0,"name":"Strom L3","label":"Strom L3","format":"{{msg.payload.I33}} A","layout":"row-spread","className":"","x":1580,"y":260,"wires":[]},{"id":"03f3f27cbdbcdde1","type":"ui_text","z":"538fc655139bb74a","group":"80b4ccf25a3b9132","order":3,"width":0,"height":0,"name":"Spannung L3","label":"Spannung L3","format":"{{msg.payload.U3}} V","layout":"row-spread","className":"","x":1600,"y":300,"wires":[]},{"id":"45263336b434ecfc","type":"ui_text","z":"538fc655139bb74a","group":"7f9b1b2b.f438bc","order":4,"width":0,"height":0,"name":"cos phi L1","label":"cos phi L1","format":"{{msg.payload.cos_phi1}}","layout":"row-spread","className":"","x":990,"y":340,"wires":[]},{"id":"a22cd807ddf9f99b","type":"ui_text","z":"538fc655139bb74a","group":"7f9b1b2b.f438bc","order":5,"width":0,"height":0,"name":"cos phi L2","label":"cos phi L2","format":"{{msg.payload.cos_phi2}}","layout":"row-spread","className":"","x":1290,"y":340,"wires":[]},{"id":"0995098bcd921267","type":"ui_text","z":"538fc655139bb74a","group":"7f9b1b2b.f438bc","order":6,"width":0,"height":0,"name":"cos phi L3","label":"cos phi L3","format":"{{msg.payload.cos_phi3}}","layout":"row-spread","className":"","x":1590,"y":340,"wires":[]},{"id":"086d717cb684c77a","type":"ui_text","z":"538fc655139bb74a","group":"e4be6a94.10844","order":1,"width":0,"height":0,"name":"Bezug gesamt","label":"<b><font color=red> Bezug gesamt","format":"{{msg.payload.W_bez}} kWh","layout":"row-spread","className":"","x":700,"y":440,"wires":[]},{"id":"1690dc61d33d2771","type":"ui_text","z":"538fc655139bb74a","group":"e4be6a94.10844","order":2,"width":0,"height":0,"name":"Einspeisung ges","label":"<b><font color=orange> Einspeisung gesamt","format":"{{msg.payload.W_ein}} kWh","layout":"row-spread","className":"","x":710,"y":480,"wires":[]},{"id":"26147006dc16b9b4","type":"ui_text","z":"538fc655139bb74a","group":"e4be6a94.10844","order":4,"width":0,"height":0,"name":"Blindarbeit kap.","label":"Blindarbeit kapazitiv","format":"{{msg.payload.W_Q_kap}} kvarh","layout":"row-spread","className":"","x":700,"y":520,"wires":[]},{"id":"c878ab14968bca30","type":"ui_text","z":"538fc655139bb74a","group":"e4be6a94.10844","order":6,"width":0,"height":0,"name":"Blindarbeit ind.","label":"Blindarbeit induktiv","format":"{{msg.payload.W_Q_ind}} kvarh","layout":"row-spread","className":"","x":700,"y":560,"wires":[]},{"id":"72788ff5043fc2db","type":"ui_text","z":"538fc655139bb74a","group":"54754f51.dce238","order":1,"width":0,"height":0,"name":"Bezug L1","label":"<font color=red> Bezug L1","format":"{{msg.payload.W1_bez}} kWh","layout":"row-spread","className":"","x":980,"y":440,"wires":[]},{"id":"ab0f56025f14d6a9","type":"ui_text","z":"538fc655139bb74a","group":"54754f51.dce238","order":3,"width":0,"height":0,"name":"Einspeisung L1","label":"<font color=orange> Einspeisung L1","format":"{{msg.payload.W1_ein}} kWh","layout":"row-spread","className":"","x":1000,"y":480,"wires":[]},{"id":"230c99ac38ded73a","type":"ui_text","z":"538fc655139bb74a","group":"54754f51.dce238","order":5,"width":0,"height":0,"name":"Blindarbeit kap. L1","label":"Blindarbeit kapazitiv","format":"{{msg.payload.W1_Q_kap}} kvarh","layout":"row-spread","className":"","x":1010,"y":520,"wires":[]},{"id":"1ea31916dbe1358b","type":"ui_text","z":"538fc655139bb74a","group":"54754f51.dce238","order":7,"width":0,"height":0,"name":"Blindarbeit ind. L1","label":"Blindarbeit induktiv","format":"{{msg.payload.W1_Q_ind}} kvarh","layout":"row-spread","className":"","x":1010,"y":560,"wires":[]},{"id":"ea4e1774349ddaed","type":"ui_text","z":"538fc655139bb74a","group":"43603218.aa1924","order":1,"width":0,"height":0,"name":"Bezug L2","label":"<font color=red> Bezug L2","format":"{{msg.payload.W2_bez}} kWh","layout":"row-spread","className":"","x":1280,"y":440,"wires":[]},{"id":"a55178e334e5deea","type":"ui_text","z":"538fc655139bb74a","group":"43603218.aa1924","order":3,"width":0,"height":0,"name":"Einspeisung L2","label":"<font color=orange> Einspeisung L2","format":"{{msg.payload.W2_ein}} kWh","layout":"row-spread","className":"","x":1300,"y":480,"wires":[]},{"id":"93ca7ab4b7b246b9","type":"ui_text","z":"538fc655139bb74a","group":"43603218.aa1924","order":5,"width":0,"height":0,"name":"Blindarbeit kap. L2","label":"Blindarbeit kapazitiv","format":"{{msg.payload.W2_Q_kap}} kvarh","layout":"row-spread","className":"","x":1310,"y":520,"wires":[]},{"id":"160c29ad311a7025","type":"ui_text","z":"538fc655139bb74a","group":"43603218.aa1924","order":7,"width":0,"height":0,"name":"Blindarbeit ind. L2","label":"Blindarbeit induktiv","format":"{{msg.payload.W2_Q_ind}} kvarh","layout":"row-spread","className":"","x":1310,"y":560,"wires":[]},{"id":"ad92a7fc902f5c06","type":"ui_text","z":"538fc655139bb74a","group":"fb4ce943.94db9","order":1,"width":0,"height":0,"name":"Bezug L3","label":"<font color=red> Bezug L3","format":"{{msg.payload.W3_bez}} kWh","layout":"row-spread","className":"","x":1580,"y":440,"wires":[]},{"id":"928664cad505c178","type":"ui_text","z":"538fc655139bb74a","group":"fb4ce943.94db9","order":3,"width":0,"height":0,"name":"Einspeisung L3","label":"<font color=orange> Einspeisung L3","format":"{{msg.payload.W3_ein}} kWh","layout":"row-spread","className":"","x":1600,"y":480,"wires":[]},{"id":"018c6f9586297b3c","type":"ui_text","z":"538fc655139bb74a","group":"fb4ce943.94db9","order":5,"width":0,"height":0,"name":"Blindarbeit kap. L3","label":"Blindarbeit kapazitiv","format":"{{msg.payload.W3_Q_kap}} kvarh","layout":"row-spread","className":"","x":1610,"y":520,"wires":[]},{"id":"2bbe9563571388d2","type":"ui_text","z":"538fc655139bb74a","group":"fb4ce943.94db9","order":7,"width":0,"height":0,"name":"Blindarbeit ind. L3","label":"Blindarbeit induktiv","format":"{{msg.payload.W3_Q_ind}} kvarh","layout":"row-spread","className":"","x":1610,"y":560,"wires":[]},{"id":"f02aeae7b57dc969","type":"udp in","z":"538fc655139bb74a","name":"SMA HM","iface":"","port":"9522","ipv":"udp4","multicast":"true","group":"239.12.255.254","datatype":"buffer","x":60,"y":120,"wires":[["c84353555c8c8ff9"]]},{"id":"8000c746b6b0f05c","type":"buffer-parser","z":"538fc655139bb74a","name":"Messwerte","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint32be","name":"serien","offset":20,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint32be","name":"P_bez","offset":32,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"P_ein","offset":52,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"Q_ind","offset":72,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"Q_kap","offset":92,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"S_bez","offset":112,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"S_ein","offset":132,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"cos_phi","offset":152,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"Hz","offset":160,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"P1_bez","offset":168,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"P1_ein","offset":188,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"Q1_ind","offset":208,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"Q1_kap","offset":228,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"S1_bez","offset":248,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"S1_ein","offset":268,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"I1","offset":288,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"U1","offset":296,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"cos_phi1","offset":304,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"P2_bez","offset":312,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"P2_ein","offset":332,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"Q2_ind","offset":352,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"Q2_kap","offset":372,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"S2_bez","offset":392,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"S2_ein","offset":412,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"I2","offset":432,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"U2","offset":440,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"cos_phi2","offset":448,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"P3_bez","offset":456,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"P3_ein","offset":476,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"Q3_ind","offset":496,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"Q3_kap","offset":516,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"S3_bez","offset":536,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"S3_ein","offset":556,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"I3","offset":576,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"U3","offset":584,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"cos_phi3","offset":592,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint8","name":"v1","offset":600,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint8","name":"v2","offset":601,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint8","name":"v3","offset":602,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"utf8","name":"r","offset":603,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":250,"y":180,"wires":[["3c2164a2f91a4ebf","03984d45b88513e0","ff7c36b8ad0d2c08"]]},{"id":"6a0aee1b10cd7038","type":"buffer-parser","z":"538fc655139bb74a","name":"Zähler","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"biguint64be","name":"W_bez","offset":40,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W_ein","offset":60,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W_Q_ind","offset":80,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W_Q_kap","offset":100,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W_S_bez","offset":120,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W_S_ein","offset":140,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W1_bez","offset":176,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W1_ein","offset":196,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W1_Q_ind","offset":216,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W1_Q_kap","offset":236,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W1_S_bez","offset":256,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W1_S_ein","offset":276,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W2_bez","offset":320,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W2_ein","offset":340,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W2_Q_ind","offset":360,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W2_Q_kap","offset":380,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W2_S_bez","offset":400,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W2_S_ein","offset":420,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W3_bez","offset":464,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W3_ein","offset":484,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W3_Q_ind","offset":504,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W3_Q_kap","offset":524,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W3_S_bez","offset":544,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W3_S_ein","offset":564,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":230,"y":460,"wires":[["8332b42c1fcf2eb2"]]},{"id":"8332b42c1fcf2eb2","type":"function","z":"538fc655139bb74a","name":"BigInt zu Num","func":"//Ws zu kWh\nW_bez = Number(msg.payload.W_bez) /3600000;\nW_ein = Number(msg.payload.W_ein) /3600000;\nW_bez2 = Number(msg.payload.W_bez) /3600; //Wh für openWB\nW_ein2 = Number(msg.payload.W_ein) /3600; //Wh für openWB\nW_Q_ind = Number(msg.payload.W_Q_ind) /3600000;\nW_Q_kap = Number(msg.payload.W_Q_kap) /3600000;\nW1_bez = Number(msg.payload.W1_bez) /3600000;\nW1_ein = Number(msg.payload.W1_ein) /3600000;\nW1_Q_ind = Number(msg.payload.W1_Q_ind) /3600000;\nW1_Q_kap = Number(msg.payload.W1_Q_kap) /3600000;\nW2_bez = Number(msg.payload.W2_bez) /3600000;\nW2_ein = Number(msg.payload.W2_ein) /3600000;\nW2_Q_ind = Number(msg.payload.W2_Q_ind) /3600000;\nW2_Q_kap = Number(msg.payload.W2_Q_kap) /3600000;\nW3_bez = Number(msg.payload.W3_bez) /3600000;\nW3_ein = Number(msg.payload.W3_ein) /3600000;\nW3_Q_ind = Number(msg.payload.W3_Q_ind) /3600000;\nW3_Q_kap = Number(msg.payload.W3_Q_kap) /3600000;\nmsg.payload = {W_bez,W_ein,W_bez2,W_ein2,W_Q_ind,W_Q_kap,W1_bez,W1_ein,W1_Q_ind,W1_Q_kap,W2_bez,W2_ein,W2_Q_ind,W2_Q_kap,W3_bez,W3_ein,W3_Q_ind,W3_Q_kap};\nmsg.topic = \"Zähler\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":460,"wires":[["086d717cb684c77a","851a918676735ad4","1690dc61d33d2771","26147006dc16b9b4","c878ab14968bca30","742378d622eeb93d","11a224139685efcc"]]},{"id":"c84353555c8c8ff9","type":"function","z":"538fc655139bb74a","name":"= 608 Bytes","func":"if (msg.payload.length !== 608) {\n     msg = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":70,"y":180,"wires":[["8000c746b6b0f05c","6a0aee1b10cd7038"]]},{"id":"03984d45b88513e0","type":"function","z":"538fc655139bb74a","name":"Firmware","func":"msg.payload=msg.payload.v1+\".\"+msg.payload.v2+\".\"+msg.payload.v3+\".\"+msg.payload.r;\nmsg.topic = \"Firmware Version\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":380,"wires":[["3727e5a4bfae76df"]]},{"id":"3727e5a4bfae76df","type":"ui_text","z":"538fc655139bb74a","group":"7f9b1b2b.f438bc","order":7,"width":0,"height":0,"name":"","label":"Firmware Version","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1010,"y":380,"wires":[]},{"id":"3c2164a2f91a4ebf","type":"function","z":"538fc655139bb74a","name":"Messwerte","func":"// gesamt\nP_bez = msg.payload.P_bez;\nP_bez = parseFloat(P_bez.toFixed(1));\nP_bez2 = parseFloat(P_bez.toFixed(0));\nP_ein = msg.payload.P_ein;\nP_ein = parseFloat(P_ein.toFixed(1));\nP_ein2 = parseFloat(P_ein.toFixed(0));\nQ_ind = msg.payload.Q_ind;\nQ_kap = msg.payload.Q_kap;\nvar Q;\nif (Q_ind > 0 && Q_kap == 0) {\n    Q = Q_ind * -1;\n} else {\n    Q = Q_kap;\n}\nQ = parseFloat(Q.toFixed(0));\ncos_phi = msg.payload.cos_phi;\ncos_phi = parseFloat(cos_phi.toFixed(2));\nHz = msg.payload.Hz;\nHz = parseFloat(Hz.toFixed(3));\n// L1\nP1_bez = msg.payload.P1_bez;\nP1_bez = parseFloat(P1_bez.toFixed(1));\nQ1_ind = msg.payload.Q1_ind;\nQ1_kap = msg.payload.Q1_kap;\nvar Q1;\nif (Q1_ind > 0 && Q1_kap == 0) {\n    Q1 = Q1_ind * -1;\n} else {\n    Q1 = Q1_kap;\n}\nQ1 = parseFloat(Q1.toFixed(0));\nU1 = msg.payload.U1;\nU1 = parseFloat(U1.toFixed(2));\ncos_phi1 = msg.payload.cos_phi1;\ncos_phi1 = parseFloat(cos_phi1.toFixed(2));\n// L2\nP2_bez = msg.payload.P2_bez;\nP2_bez = parseFloat(P2_bez.toFixed(1));\nQ2_ind = msg.payload.Q2_ind;\nQ2_kap = msg.payload.Q2_kap;\nvar Q2;\nif (Q2_ind > 0 && Q2_kap == 0) {\n    Q2 = Q2_ind * -1;\n} else {\n    Q2 = Q2_kap;\n}\nQ2 = parseFloat(Q2.toFixed(0));\nU2 = msg.payload.U2;\nU2 = parseFloat(U2.toFixed(2));\ncos_phi2 = msg.payload.cos_phi2;\ncos_phi2 = parseFloat(cos_phi2.toFixed(2));\n// L3\nP3_bez = msg.payload.P3_bez;\nP3_bez = parseFloat(P3_bez.toFixed(1));\nQ3_ind = msg.payload.Q3_ind;\nQ3_kap = msg.payload.Q3_kap;\nvar Q3;\nif (Q3_ind > 0 && Q3_kap == 0) {\n    Q3 = Q3_ind * -1;\n} else {\n    Q3 = Q3_kap;\n}\nQ3 = parseFloat(Q3.toFixed(0));\nU3 = msg.payload.U3;\nU3 = parseFloat(U3.toFixed(2));\ncos_phi3 = msg.payload.cos_phi3;\ncos_phi3 = parseFloat(cos_phi3.toFixed(2));\n// Ströme mit Vorzeichen\nI1 = msg.payload.I1;\nI2 = msg.payload.I2;\nI3 = msg.payload.I3;\nE1 = msg.payload.P1_ein;\nP1_ein = parseFloat(E1.toFixed(1));\nE2 = msg.payload.P2_ein;\nP2_ein = parseFloat(E2.toFixed(1));\nE3 = msg.payload.P3_ein;\nP3_ein = parseFloat(E3.toFixed(1));\nvar I1a;\nvar I2a;\nvar I3a;\nif(E1 > 0 ) {\n    I1a = I1 * (-1);\n} else {\n    I1a = I1;\n}\nif(E2 > 0 ) {\n    I2a = I2 * (-1);\n} else {\n    I2a = I2;\n}\nif(E3 > 0 ) {\n    I3a = I3 * (-1);\n} else {\n    I3a = I3;\n}\nI11 = parseFloat(I1a.toFixed(2));\nI22 = parseFloat(I2a.toFixed(2));\nI33 = parseFloat(I3a.toFixed(2));\nmsg.payload = {P_bez,P_bez2,P_ein,P_ein2,Q,cos_phi,Hz,P1_bez,P1_ein,Q1,I11,U1,cos_phi1,P2_bez,P2_ein,Q2,I22,U2,cos_phi2,P3_bez,P3_ein,Q3,I33,U3,cos_phi3};\nmsg.topic = \"Messwerte\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":180,"wires":[["eb73a3b87a2f69df","ea74b32f61853bbb","fb95a86c37aa798b","c4d80c477c5bde8f","132472204dbafa1c","c4d4db29fa0d06a1","f7d68ac1992fa88d","5cd0eaf14135eb17"]]},{"id":"958a3cc99ada4c1a","type":"link in","z":"538fc655139bb74a","name":"Messwerte","links":["c4d4db29fa0d06a1"],"x":835,"y":240,"wires":[["321495e30c91d045","082f496657ccdbb8","4110b0375b4f361e","338ca478be502d2e","aaa76672fcf329c2","45263336b434ecfc"]]},{"id":"c4d4db29fa0d06a1","type":"link out","z":"538fc655139bb74a","name":"Messwerte","mode":"link","links":["19e3580b44e0a4e2","85faae991674f70c","958a3cc99ada4c1a","7932dac8bc4be745","f246c97e59e3ee97"],"x":505,"y":240,"wires":[]},{"id":"85faae991674f70c","type":"link in","z":"538fc655139bb74a","name":"Messwerte","links":["c4d4db29fa0d06a1"],"x":1135,"y":240,"wires":[["39d74a9156f6bca3","2703c63798379d0c","e332e5e5f8683e91","fface4aeb63f5e26","44fa25a715ba50f7","a22cd807ddf9f99b","bb165979be7d65d1"]]},{"id":"19e3580b44e0a4e2","type":"link in","z":"538fc655139bb74a","name":"Messwerte","links":["c4d4db29fa0d06a1"],"x":1435,"y":240,"wires":[["41240c88ecd463f3","fbeb042a732b3c61","ec2f7f5e30af065e","e00fcea7986a5b3d","03f3f27cbdbcdde1","0995098bcd921267"]]},{"id":"742378d622eeb93d","type":"link out","z":"538fc655139bb74a","name":"Zähler","mode":"link","links":["c485bb4dc1601395","928f2b21b97e315d","5b76e636430dc791","253f20f0e2e94fde","7bb1ec998fb42e79"],"x":505,"y":500,"wires":[]},{"id":"c485bb4dc1601395","type":"link in","z":"538fc655139bb74a","name":"Zähler","links":["742378d622eeb93d"],"x":835,"y":500,"wires":[["72788ff5043fc2db","ab0f56025f14d6a9","230c99ac38ded73a","1ea31916dbe1358b"]]},{"id":"928f2b21b97e315d","type":"link in","z":"538fc655139bb74a","name":"Zähler","links":["742378d622eeb93d"],"x":1435,"y":500,"wires":[["ad92a7fc902f5c06","928664cad505c178","018c6f9586297b3c","2bbe9563571388d2"]]},{"id":"5b76e636430dc791","type":"link in","z":"538fc655139bb74a","name":"Zähler","links":["742378d622eeb93d"],"x":1135,"y":500,"wires":[["ea4e1774349ddaed","a55178e334e5deea","93ca7ab4b7b246b9","160c29ad311a7025"]]},{"id":"bb165979be7d65d1","type":"function","z":"538fc655139bb74a","name":"Schieflast","func":"I1 = msg.payload.I11;\nI2 = msg.payload.I22;\nI3 = msg.payload.I33;\nmax = Math.max(I1,I2,I3);\nIa = max - I1;\nIb = max - I2;\nIc = max - I3;\nI = Math.max(Ia,Ib,Ic);\nmsg.payload = parseFloat(I.toFixed(1));\nmsg.topic = \"Schieflast\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":380,"wires":[["dcbd4c3789e2c713"]]},{"id":"dcbd4c3789e2c713","type":"ui_text","z":"538fc655139bb74a","group":"80b4ccf25a3b9132","order":7,"width":0,"height":0,"name":"Schieflast","label":"Schieflast","format":"{{msg.payload}} A","layout":"row-spread","className":"","x":1580,"y":380,"wires":[]},{"id":"f7d68ac1992fa88d","type":"change","z":"538fc655139bb74a","name":"flow / global P, I, U, Hz","rules":[{"t":"set","p":"P-Bezug","pt":"global","to":"payload.P_bez","tot":"msg"},{"t":"set","p":"P-Einsp","pt":"global","to":"payload.P_ein","tot":"msg"},{"t":"set","p":"I1","pt":"global","to":"payload.I11","tot":"msg"},{"t":"set","p":"I2","pt":"global","to":"payload.I22","tot":"msg"},{"t":"set","p":"I3","pt":"global","to":"payload.I33","tot":"msg"},{"t":"set","p":"U1","pt":"global","to":"payload.U1","tot":"msg"},{"t":"set","p":"U2","pt":"global","to":"payload.U2","tot":"msg"},{"t":"set","p":"U3","pt":"global","to":"payload.U3","tot":"msg"},{"t":"set","p":"Hz","pt":"global","to":"payload.Hz","tot":"msg"},{"t":"set","p":"P1-Bezug","pt":"global","to":"payload.P1_bez","tot":"msg"},{"t":"set","p":"P1-Einsp","pt":"global","to":"payload.P1_ein","tot":"msg"},{"t":"set","p":"P2-Bezug","pt":"global","to":"payload.P2_bez","tot":"msg"},{"t":"set","p":"P2-Einsp","pt":"global","to":"payload.P2_ein","tot":"msg"},{"t":"set","p":"P3-Bezug","pt":"global","to":"payload.P3_bez","tot":"msg"},{"t":"set","p":"P3-Einsp","pt":"global","to":"payload.P3_ein","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":340,"wires":[[]]},{"id":"529c57d1baf73bd9","type":"ui_text","z":"538fc655139bb74a","group":"bdf0c745cabf679c","order":5,"width":0,"height":0,"name":"Bezug (Übersicht)","label":"<b><font color=red> Bezug","format":"{{msg.payload.P_bez2}} W","layout":"row-spread","className":"","x":1890,"y":220,"wires":[]},{"id":"061efc22b3368b85","type":"ui_text","z":"538fc655139bb74a","group":"bdf0c745cabf679c","order":4,"width":0,"height":0,"name":"Einspeisung (Übersicht)","label":"<b><font color=orange> Einspeisung","format":"{{msg.payload.P_ein2}} W","layout":"row-spread","className":"","x":1910,"y":260,"wires":[]},{"id":"f246c97e59e3ee97","type":"link in","z":"538fc655139bb74a","name":"Messwerte","links":["c4d4db29fa0d06a1"],"x":1735,"y":240,"wires":[["529c57d1baf73bd9","061efc22b3368b85"]]},{"id":"ff7c36b8ad0d2c08","type":"ui_text","z":"538fc655139bb74a","group":"7f9b1b2b.f438bc","order":8,"width":0,"height":0,"name":"","label":"Serien Nr.","format":"{{msg.payload.serien}}","layout":"row-spread","className":"","x":440,"y":140,"wires":[]},{"id":"851a918676735ad4","type":"change","z":"538fc655139bb74a","name":"flow / global W","rules":[{"t":"set","p":"W-Bezug","pt":"global","to":"payload.W_bez","tot":"msg"},{"t":"set","p":"W-Einsp","pt":"global","to":"payload.W_ein","tot":"msg"},{"t":"set","p":"W_bez2","pt":"flow","to":"payload.W_bez2","tot":"msg"},{"t":"set","p":"W_ein2","pt":"flow","to":"payload.W_ein2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":600,"wires":[[]]},{"id":"0d2b88099eb4f6bd","type":"join","z":"538fc655139bb74a","name":"Objekt für InfluxDB","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1310,"y":660,"wires":[["39a4e2e4d096caeb"]]},{"id":"7dfd50fd511b6ddc","type":"join","z":"538fc655139bb74a","name":"Objekt für InfluxDB","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1310,"y":600,"wires":[["38d05fc833714c3e"]]},{"id":"38d05fc833714c3e","type":"influxdb out","z":"538fc655139bb74a","influxdb":"b34017d71064c56a","name":"SMA EM","measurement":"SMAEM","precision":"","retentionPolicy":"","database":"db","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1580,"y":600,"wires":[]},{"id":"39a4e2e4d096caeb","type":"influxdb out","z":"538fc655139bb74a","influxdb":"b34017d71064c56a","name":"SMA EM 2","measurement":"SMAEM2","precision":"","retentionPolicy":"","database":"db","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1590,"y":660,"wires":[]},{"id":"11a224139685efcc","type":"debug","z":"538fc655139bb74a","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":580,"wires":[]},{"id":"5cd0eaf14135eb17","type":"debug","z":"538fc655139bb74a","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":320,"wires":[]}]