node-red/flows.json
[{"id":"164a3904.fd37c7","type":"tab","label":"Greenhouse","disabled":false,"info":""},{"id":"f6e5a287.09185","type":"tab","label":"Watchdog","disabled":false,"info":""},{"id":"b2cf98b5.afd6e8","type":"mqtt-broker","name":"Gillemore","broker":"192.168.0.10","port":"1883","clientid":"NodeRed","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"73825384.e8bd7c","type":"light-scheduler-settings","name":"my settings","latitude":"51.268735","longitude":"3.222214"},{"id":"f93d303.a1c6f5","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"d1f26976.3411e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"542dd861.a67818","type":"server-state-changed","z":"164a3904.fd37c7","name":"Rain Sensor","server":"f93d303.a1c6f5","version":3,"entityidfilter":"binary_sensor.weather_station_rain","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":160,"wires":[["2aae0ed0.37b29a"]]},{"id":"54d761e0.ccbf38","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Temperature","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.greenhouse_temperature","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":650,"y":160,"wires":[["ef305fef.4864f8","fdb62c8e.8e9e7"]]},{"id":"ef305fef.4864f8","type":"switch","z":"164a3904.fd37c7","name":"Check Temperature Window 1","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"32","vt":"str"},{"t":"gte","v":"30","vt":"str"},{"t":"lt","v":"30","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":890,"y":120,"wires":[["c7c0dd32.8894f"],["3381f6a2.39b992"],["9554e671.60611"]]},{"id":"ae6c733.c3a6c1","type":"api-call-service","z":"164a3904.fd37c7","name":"Close Window 2","server":"f93d303.a1c6f5","version":3,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.greenhouse_window_2","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":380,"y":420,"wires":[[]]},{"id":"44645ad3.a09184","type":"api-call-service","z":"164a3904.fd37c7","name":"Open Window 2","server":"f93d303.a1c6f5","version":3,"debugenabled":false,"service_domain":"cover","service":"set_cover_position","entityId":"cover.greenhouse_window_2","data":"{ \"position\" : \"{{flow.position2}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":780,"y":360,"wires":[[]]},{"id":"945489c0.ce3ee","type":"api-call-service","z":"164a3904.fd37c7","name":"Open Window 1","server":"f93d303.a1c6f5","version":3,"debugenabled":false,"service_domain":"cover","service":"set_cover_position","entityId":"cover.greenhouse_window_1","data":"{ \"position\" : \"{{flow.position1}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":780,"y":480,"wires":[[]]},{"id":"dd1d02d9.185a48","type":"api-call-service","z":"164a3904.fd37c7","name":"Close Window 1","server":"f93d303.a1c6f5","version":3,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.greenhouse_window_1","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":380,"y":540,"wires":[[]]},{"id":"2aae0ed0.37b29a","type":"delay","z":"164a3904.fd37c7","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":420,"y":40,"wires":[["5769f45d.fcce9c"]]},{"id":"90d19af8.757d58","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Latest Rain Status","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.weather_station_rain","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"rain","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":300,"y":160,"wires":[["fc8a9ba4.8623a"]]},{"id":"df2e86c2.9292f","type":"server-state-changed","z":"164a3904.fd37c7","name":"Serre Temperature Sensor","server":"f93d303.a1c6f5","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.greenhouse_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":40,"wires":[["2aae0ed0.37b29a"]]},{"id":"5769f45d.fcce9c","type":"time-range-switch","z":"164a3904.fd37c7","name":"","lat":"51.268735","lon":"3.222214","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":670,"y":40,"wires":[["90d19af8.757d58"],["16ca58a5.9e782f"]]},{"id":"dac68325.b7b5b","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn on Valve 1","server":"f93d303.a1c6f5","version":3,"service_domain":"switch","service":"turn_on","entityId":"switch.greenhouse_valve_1","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":740,"y":1020,"wires":[["c807ea4c.08bf"]]},{"id":"145add96.423322","type":"link out","z":"164a3904.fd37c7","name":"","links":["68836b2c.34a894","33b588de.761fa8","909994fb.42e2b8"],"x":1335,"y":1580,"wires":[]},{"id":"ca2d29dc.91cc28","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn on Valve 2","server":"f93d303.a1c6f5","version":3,"service_domain":"switch","service":"turn_on","entityId":"switch.greenhouse_valve_2","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":740,"y":1320,"wires":[["a4a7a2b2.4266c"]]},{"id":"5dcedf44.764ad8","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn on Valve 3","server":"f93d303.a1c6f5","version":3,"service_domain":"switch","service":"turn_on","entityId":"switch.greenhouse_valve_3","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":740,"y":1620,"wires":[["4ef8e803.fce948"]]},{"id":"6758e8b7.b2fa","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn on Valve 4","server":"f93d303.a1c6f5","version":3,"service_domain":"switch","service":"turn_on","entityId":"switch.greenhouse_valve_4","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":740,"y":1920,"wires":[["1b34a0bb.8c2f8f"]]},{"id":"68d7beb9.7ee9e8","type":"switch","z":"164a3904.fd37c7","name":"Need Run?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":2000,"wires":[["80117722.caa42"]]},{"id":"93f4d7df.a60218","type":"moment","z":"164a3904.fd37c7","name":"Format","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Brussels","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"runtime","outputType":"msg","outTz":"Europe/Brussels","x":522,"y":1020,"wires":[["fd07211b.751c7"]]},{"id":"86328e4b.909f38","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Next Run Zone 1","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.next_run_zone_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":160,"y":1020,"wires":[["e3d0a273.683338"]]},{"id":"d7746f2b.3b59a8","type":"inject","z":"164a3904.fd37c7","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":920,"wires":[["86328e4b.909f38","6e8e76ed.7be25","277331af.3ee0e6","52d82cc.7ae2cd4"]]},{"id":"6e8e76ed.7be25","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Next Run Zone 2","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.next_run_zone_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":160,"y":1320,"wires":[["5f8ed407.8f0fc4"]]},{"id":"277331af.3ee0e6","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Next Run Zone 3","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.next_run_zone_3","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":160,"y":1620,"wires":[["451c7d33.a90454"]]},{"id":"52d82cc.7ae2cd4","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Next Run Zone 4","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.next_run_zone_4","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":160,"y":1920,"wires":[["dae903de.7d3f7"]]},{"id":"157de367.f02e55","type":"moment","z":"164a3904.fd37c7","name":"Format","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Brussels","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"runtime","outputType":"msg","outTz":"Europe/Brussels","x":520,"y":1320,"wires":[["57dd930d.b079c4"]]},{"id":"74fd60cb.79ecb","type":"moment","z":"164a3904.fd37c7","name":"Format","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Brussels","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"runtime","outputType":"msg","outTz":"Europe/Brussels","x":520,"y":1620,"wires":[["554f0ec5.dbece"]]},{"id":"8c269c1e.fb39d","type":"moment","z":"164a3904.fd37c7","name":"Format","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Brussels","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"runtime","outputType":"msg","outTz":"Europe/Brussels","x":520,"y":1920,"wires":[["7866a13e.2593d8"]]},{"id":"7866a13e.2593d8","type":"function","z":"164a3904.fd37c7","name":"Check Time","func":"var nextrun = new Date(msg.runtime);\nvar currenttime = new Date();\ncurrenttime.setMilliseconds(0);\ncurrenttime.setSeconds(0);\nif (currenttime.getTime() == nextrun.getTime()){\n    msg.payload = \"on\"\n}else{\n    msg.payload = \"off\"\n}\nreturn msg; ","outputs":1,"noerr":0,"x":530,"y":1960,"wires":[["68d7beb9.7ee9e8"]]},{"id":"f0a2d007.d46bd","type":"function","z":"164a3904.fd37c7","name":"Set zoneId","func":"msg.zoneId = 1\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1180,"wires":[["145add96.423322"]]},{"id":"fce03cf4.e306f8","type":"function","z":"164a3904.fd37c7","name":"Set zoneId","func":"msg.zoneId = 2\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1480,"wires":[["145add96.423322"]]},{"id":"fb8df3a.715da1","type":"function","z":"164a3904.fd37c7","name":"Set zoneId","func":"msg.zoneId = 3\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1780,"wires":[["145add96.423322"]]},{"id":"97cfeeed.91e548","type":"function","z":"164a3904.fd37c7","name":"Set zoneId","func":"msg.zoneId = 4\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":2080,"wires":[["145add96.423322"]]},{"id":"1b34a0bb.8c2f8f","type":"ha-wait-until","z":"164a3904.fd37c7","name":"Wait for Valve 4","server":"f93d303.a1c6f5","version":0,"outputs":1,"entityId":"switch.greenhouse_valve_4","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":980,"y":1920,"wires":[["591aa79f.7d42"]]},{"id":"591aa79f.7d42","type":"function","z":"164a3904.fd37c7","name":"Set Duration 4","func":"const gHomeAssistant = global.get('homeassistant').homeAssistant;\nconst duration = gHomeAssistant.states[`input_number.zone_4_duration`].state;\n\nmsg.delay = parseFloat(duration) * 60000;\nmsg.payload.service = \"turn_off\" //override previous service\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1980,"wires":[["70f345ae.bdddf4"]]},{"id":"70f345ae.bdddf4","type":"delay","z":"164a3904.fd37c7","name":"Duration","pauseType":"delayv","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":980,"y":2020,"wires":[["66802076.a520e"]]},{"id":"66802076.a520e","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn Off Zone 4","server":"f93d303.a1c6f5","version":3,"service_domain":"switch","service":"turn_off","entityId":"switch.greenhouse_valve_4","data":"","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1140,"y":2020,"wires":[["97cfeeed.91e548"]]},{"id":"4ef8e803.fce948","type":"ha-wait-until","z":"164a3904.fd37c7","name":"Wait for Valve 3","server":"f93d303.a1c6f5","version":0,"outputs":1,"entityId":"switch.greenhouse_valve_3","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":980,"y":1620,"wires":[["2b391d9e.d6d28a"]]},{"id":"2b391d9e.d6d28a","type":"function","z":"164a3904.fd37c7","name":"Set Duration 3","func":"const gHomeAssistant = global.get('homeassistant').homeAssistant;\nconst duration = gHomeAssistant.states[`input_number.zone_3_duration`].state;\n\nmsg.delay = parseFloat(duration) * 60000;\nmsg.payload.service = \"turn_off\" //override previous service\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1680,"wires":[["ddf0fcbd.e9f708"]]},{"id":"ddf0fcbd.e9f708","type":"delay","z":"164a3904.fd37c7","name":"Duration","pauseType":"delayv","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":980,"y":1720,"wires":[["a3a1c12e.6b802"]]},{"id":"a3a1c12e.6b802","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn Off Zone 3","server":"f93d303.a1c6f5","version":3,"service_domain":"switch","service":"turn_off","entityId":"switch.greenhouse_valve_3","data":"","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1140,"y":1720,"wires":[["fb8df3a.715da1"]]},{"id":"a4a7a2b2.4266c","type":"ha-wait-until","z":"164a3904.fd37c7","name":"Wait for Valve 2","server":"f93d303.a1c6f5","version":0,"outputs":1,"entityId":"switch.greenhouse_valve_2","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":980,"y":1320,"wires":[["67cde168.df33c"]]},{"id":"67cde168.df33c","type":"function","z":"164a3904.fd37c7","name":"Set Duration 2","func":"const gHomeAssistant = global.get('homeassistant').homeAssistant;\nconst duration = gHomeAssistant.states[`input_number.zone_2_duration`].state;\n\nmsg.delay = parseFloat(duration) * 60000;\nmsg.payload.service = \"turn_off\" //override previous service\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1380,"wires":[["9bdf08c2.517d58"]]},{"id":"9bdf08c2.517d58","type":"delay","z":"164a3904.fd37c7","name":"Duration","pauseType":"delayv","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":980,"y":1420,"wires":[["e62706d9.d02d78"]]},{"id":"c807ea4c.08bf","type":"ha-wait-until","z":"164a3904.fd37c7","name":"Wait for Valve 1","server":"f93d303.a1c6f5","version":0,"outputs":1,"entityId":"switch.greenhouse_valve_1","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":960,"y":1020,"wires":[["4d96cc11.c37314"]]},{"id":"4d96cc11.c37314","type":"function","z":"164a3904.fd37c7","name":"Set Duration 1","func":"const gHomeAssistant = global.get('homeassistant').homeAssistant;\nconst duration = gHomeAssistant.states[`input_number.zone_1_duration`].state;\n\nmsg.delay = parseFloat(duration) * 60000;\nmsg.payload.service = \"turn_off\" //override previous service\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1080,"wires":[["69c21d72.7f00b4"]]},{"id":"69c21d72.7f00b4","type":"delay","z":"164a3904.fd37c7","name":"Duration","pauseType":"delayv","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":960,"y":1120,"wires":[["2236b238.307a0e"]]},{"id":"2236b238.307a0e","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn Off Zone 1","server":"f93d303.a1c6f5","version":3,"service_domain":"switch","service":"turn_off","entityId":"switch.greenhouse_valve_1","data":"","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1120,"y":1120,"wires":[["f0a2d007.d46bd"]]},{"id":"909994fb.42e2b8","type":"link in","z":"164a3904.fd37c7","name":"Calculate Next Run Time","links":["145add96.423322","c12220ce.5aa2a","b3a7728a.041ff","c69ae14.bfa152"],"x":275,"y":800,"wires":[["486b7a62.ccefbc"]]},{"id":"486b7a62.ccefbc","type":"function","z":"164a3904.fd37c7","name":"Calculate next run","func":"if (msg.topic === \"\") {\n    zoneId = msg.zoneId\n} else {\n    zoneId = /zone_([1234])/.exec(msg.topic)[1];\n}\n\ndatetimeId = `input_datetime.zone_${zoneId}_next_run_time`;\n\nmsg.datetimeId = datetimeId;\n\nconst gHomeAssistant = global.get('homeassistant').homeAssistant;\nconst time = gHomeAssistant.states[`input_datetime.zone_${zoneId}_select_time`].state;\nconst schedule = gHomeAssistant.states[`input_select.zone_${zoneId}_schedule`].state;\n\nmsg.hours = time.split(\":\")[0]\nmsg.minutes = time.split(\":\")[1]\n\nconst d = new Date();\nd.setHours(time.split(\":\")[0], time.split(\":\")[1]);\nvar currentDay = d.getDay();\nmsg.currentday = currentDay\n\nif (schedule == 'Every Day') {\n    if (Date.now() >= d){\n        d.setDate(d.getDate() + 1);\n    }\n} else if (schedule == 'Every 3 Days'){\n    if (Date.now() >= d){\n        d.setDate(d.getDate() + 3);\n    }\n} else if (schedule == 'Monday'){\n    d.setDate(d.getDate() + (1 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Tuesday'){\n    d.setDate(d.getDate() + (2 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Wednesday'){\n    d.setDate(d.getDate() + (3 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Thursday'){\n    d.setDate(d.getDate() + (4 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Friday'){\n    d.setDate(d.getDate() + (5 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Saturday'){\n    d.setDate(d.getDate() + (6 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Sunday'){\n    d.setDate(d.getDate() + (7 + 7 - d.getDay()) % 7);\n} else if (schedule == 'Tue/Thu/Sat'){\n    if (Date.now() >= d){\n        currentDay++\n    }\n    if (currentDay <= 2 ){\n        newday = 2\n    } else if (currentDay <= 4){\n        newday = 4\n    } else if (currentDay <= 6){\n        newday = 6\n    } else if (currentDay <= 7){\n        newday = 2\n    }\n    d.setDate(d.getDate() + (newday + 7 - d.getDay()) % 7);\n} else if (schedule == 'Mon/Wed/Fri/Sun'){\n    if (Date.now() >= d){\n        currentDay++\n    }\n    if (currentDay <= 1 ){\n        newday = 1\n    } else if (currentDay <= 3){\n        newday = 3\n    } else if (currentDay <= 5){\n        newday = 5\n    } else if (currentDay <= 7){\n        newday = 7\n    }\n    d.setDate(d.getDate() + (newday + 7 - d.getDay()) % 7);\n}\n\nmsg.time = time;\n\nif (Date.now() >= d){\n    d.setDate(d.getDate() + 7);\n}\nmsg.date = d;\nmsg.currentDay = currentDay;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":793,"wires":[["f3f997bc.54eec","3dac2534.995b52"]]},{"id":"37d72381.86afc4","type":"api-call-service","z":"164a3904.fd37c7","name":"Set Schedule Time","server":"f93d303.a1c6f5","version":3,"service_domain":"input_datetime","service":"set_datetime","entityId":"{{datetimeId}}","data":"{\"date\":\"{{payload}}\",\"time\":\"{{time}}\"}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1050,"y":793,"wires":[[]]},{"id":"3dac2534.995b52","type":"moment","z":"164a3904.fd37c7","name":"Format Day","topic":"","input":"date","inputType":"msg","inTz":"Europe/Brussels","adjAmount":"0","adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/Brussels","x":730,"y":793,"wires":[["37d72381.86afc4"]]},{"id":"c2c5592e.5458e","type":"server-state-changed","z":"164a3904.fd37c7","name":"","server":"f93d303.a1c6f5","version":3,"entityidfilter":"input_select.zone_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":840,"wires":[["486b7a62.ccefbc"]]},{"id":"f3f997bc.54eec","type":"debug","z":"164a3904.fd37c7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":733,"wires":[]},{"id":"b9892543.d69508","type":"server-state-changed","z":"164a3904.fd37c7","name":"Input Datetime select time","server":"f93d303.a1c6f5","version":3,"entityidfilter":"input_datetime.zone_[1-4]_select_time","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":740,"wires":[["486b7a62.ccefbc"]]},{"id":"e62706d9.d02d78","type":"api-call-service","z":"164a3904.fd37c7","name":"Turn off Valve 2","server":"f93d303.a1c6f5","version":3,"service_domain":"switch","service":"turn_Off","entityId":"switch.greenhouse_valve_2","data":"","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":1420,"wires":[["fce03cf4.e306f8"]]},{"id":"80117722.caa42","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Current Soil Saturation Zone 4","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.greenhouse_zone_4_moisture","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"currentsoilsaturationzone4","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":600,"y":2040,"wires":[["d5f9624a.25532"]]},{"id":"d5f9624a.25532","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Soil Moisture Sensitivity Zone 4","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.soil_moisture_sensitivity_4","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"minsoilsaturationzone4","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":600,"y":2100,"wires":[["423009b.3b13cf8"]]},{"id":"423009b.3b13cf8","type":"switch","z":"164a3904.fd37c7","name":"Need Water?","property":"minsoilsaturationzone4","propertyType":"msg","rules":[{"t":"gt","v":"currentsoilsaturationzone4","vt":"msg"},{"t":"lte","v":"currentsoilsaturationzone4","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":2160,"wires":[["6758e8b7.b2fa"],["97cfeeed.91e548"]]},{"id":"73574d77.9024bc","type":"api-current-state","z":"164a3904.fd37c7","name":"Window 1 Disabled","server":"f93d303.a1c6f5","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.disable_greenhouse_window_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":170,"y":540,"wires":[["dd1d02d9.185a48"],[]]},{"id":"4e49e655.c27ac8","type":"api-current-state","z":"164a3904.fd37c7","name":"Window 1 Disabled","server":"f93d303.a1c6f5","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.disable_greenhouse_window_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":170,"y":480,"wires":[["713b3c75.5bfa3c"],[]]},{"id":"a0354d1b.28d3b","type":"api-current-state","z":"164a3904.fd37c7","name":"Window 2 Disabled","server":"f93d303.a1c6f5","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.disable_greenhouse_window_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":170,"y":360,"wires":[["8298779c.b87388"],[]]},{"id":"63f91d08.a897b4","type":"api-current-state","z":"164a3904.fd37c7","name":"Window 2 Disabled","server":"f93d303.a1c6f5","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.disable_greenhouse_window_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":170,"y":420,"wires":[["ae6c733.c3a6c1"],[]]},{"id":"544fdaad.266744","type":"link in","z":"164a3904.fd37c7","name":"Open Window 1","links":["c9f43b31.098fb8","b4b1fb8d.c10868","bee184b5.541bb8","5862875.46a3878","273710e1.8191c8"],"x":35,"y":480,"wires":[["4e49e655.c27ac8"]]},{"id":"ca827770.58a0b","type":"link in","z":"164a3904.fd37c7","name":"Open Window 2","links":["495952c.edaeaac","b2efee3c.77cb3","7866a458.54b04c","6adaebe.e58fd14","927c1637.b12fd","cc438f63.6d988"],"x":35,"y":360,"wires":[["a0354d1b.28d3b"]]},{"id":"8f684b1a.860bc","type":"link in","z":"164a3904.fd37c7","name":"Close Window 2","links":["16ca58a5.9e782f","9efad119.b7ced","48597549.563f44","6c694c94.a604e4","d6d631a6.b617e","c18dbaad.e54e98"],"x":35,"y":420,"wires":[["63f91d08.a897b4"]]},{"id":"c5e973f.9f2d21","type":"link in","z":"164a3904.fd37c7","name":"Close Window 1","links":["5969530d.1ff5fc","6c694c94.a604e4","9a8252e1.95d87","16ca58a5.9e782f","d6d631a6.b617e","a857760a.bd8be8","c18dbaad.e54e98"],"x":35,"y":540,"wires":[["73574d77.9024bc"]]},{"id":"16ca58a5.9e782f","type":"link out","z":"164a3904.fd37c7","name":"","links":["8f684b1a.860bc","c5e973f.9f2d21"],"x":835,"y":20,"wires":[]},{"id":"6c694c94.a604e4","type":"link out","z":"164a3904.fd37c7","name":"","links":["8f684b1a.860bc","c5e973f.9f2d21"],"x":575,"y":220,"wires":[]},{"id":"48597549.563f44","type":"link out","z":"164a3904.fd37c7","name":"","links":["8f684b1a.860bc"],"x":1315,"y":440,"wires":[]},{"id":"495952c.edaeaac","type":"link out","z":"164a3904.fd37c7","name":"","links":["ca827770.58a0b"],"x":1495,"y":380,"wires":[]},{"id":"a857760a.bd8be8","type":"link out","z":"164a3904.fd37c7","name":"","links":["c5e973f.9f2d21"],"x":1315,"y":240,"wires":[]},{"id":"353799d6.e76d3e","type":"switch","z":"164a3904.fd37c7","name":"Need Water?","property":"minsoilsaturationzone1","propertyType":"msg","rules":[{"t":"gt","v":"currentsoilsaturationzone1","vt":"msg"},{"t":"lte","v":"currentsoilsaturationzone1","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1260,"wires":[["dac68325.b7b5b"],["f0a2d007.d46bd"]]},{"id":"2177048.12790fc","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Soil Moisture Sensitivity Zone 1","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.soil_moisture_sensitivity_1","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"minsoilsaturationzone1","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":600,"y":1200,"wires":[["353799d6.e76d3e"]]},{"id":"dfce6707.8803a","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Current Soil Saturation Zone 1","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.greenhouse_zone_1_moisture","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"currentsoilsaturationzone1","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":600,"y":1140,"wires":[["2177048.12790fc"]]},{"id":"fd07211b.751c7","type":"function","z":"164a3904.fd37c7","name":"Check Time","func":"var nextrun = new Date(msg.runtime);\nvar currenttime = new Date();\ncurrenttime.setMilliseconds(0);\ncurrenttime.setSeconds(0);\nif (currenttime.getTime() == nextrun.getTime()){\n    msg.payload = \"on\"\n}else{\n    msg.payload = \"off\"\n}\nreturn msg; ","outputs":1,"noerr":0,"x":532,"y":1060,"wires":[["a31a5641.ca2e78"]]},{"id":"a31a5641.ca2e78","type":"switch","z":"164a3904.fd37c7","name":"Need Run?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":532,"y":1100,"wires":[["dfce6707.8803a"]]},{"id":"57dd930d.b079c4","type":"function","z":"164a3904.fd37c7","name":"Check Time","func":"var nextrun = new Date(msg.runtime);\nvar currenttime = new Date();\ncurrenttime.setMilliseconds(0);\ncurrenttime.setSeconds(0);\nif (currenttime.getTime() == nextrun.getTime()){\n    msg.payload = \"on\"\n}else{\n    msg.payload = \"off\"\n}\nreturn msg; ","outputs":1,"noerr":0,"x":530,"y":1360,"wires":[["94ced634.12d9f8"]]},{"id":"94ced634.12d9f8","type":"switch","z":"164a3904.fd37c7","name":"Need Run?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1400,"wires":[["c7ed6ff4.8481c8"]]},{"id":"c7ed6ff4.8481c8","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Current Soil Saturation Zone 2","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.greenhouse_zone_2_moisture","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"currentsoilsaturationzone2","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":598,"y":1440,"wires":[["a3e87014.8d38e8"]]},{"id":"a3e87014.8d38e8","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Soil Moisture Sensitivity Zone 2","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.soil_moisture_sensitivity_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"minsoilsaturationzone2","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":598,"y":1500,"wires":[["f552436e.a1b478"]]},{"id":"f552436e.a1b478","type":"switch","z":"164a3904.fd37c7","name":"Need Water?","property":"minsoilsaturationzone2","propertyType":"msg","rules":[{"t":"gt","v":"currentsoilsaturationzone2","vt":"msg"},{"t":"lte","v":"currentsoilsaturationzone2","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":528,"y":1560,"wires":[["ca2d29dc.91cc28"],["fce03cf4.e306f8"]]},{"id":"554f0ec5.dbece","type":"function","z":"164a3904.fd37c7","name":"Check Time","func":"var nextrun = new Date(msg.runtime);\nvar currenttime = new Date();\ncurrenttime.setMilliseconds(0);\ncurrenttime.setSeconds(0);\nif (currenttime.getTime() == nextrun.getTime()){\n    msg.payload = \"on\"\n}else{\n    msg.payload = \"off\"\n}\nreturn msg; ","outputs":1,"noerr":0,"x":530,"y":1660,"wires":[["57e2ade8.b22694"]]},{"id":"57e2ade8.b22694","type":"switch","z":"164a3904.fd37c7","name":"Need Run?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1700,"wires":[["a200e162.6af7b"]]},{"id":"a200e162.6af7b","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Current Soil Saturation Zone 3","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.greenhouse_zone_3_moisture","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"currentsoilsaturationzone3","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":598,"y":1740,"wires":[["5618bf73.37c9e"]]},{"id":"5618bf73.37c9e","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Soil Moisture Sensitivity Zone 3","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.soil_moisture_sensitivity_3","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"minsoilsaturationzone3","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":598,"y":1800,"wires":[["8aa872f3.228578"]]},{"id":"8aa872f3.228578","type":"switch","z":"164a3904.fd37c7","name":"Need Water?","property":"minsoilsaturationzone3","propertyType":"msg","rules":[{"t":"gt","v":"currentsoilsaturationzone3","vt":"msg"},{"t":"lte","v":"currentsoilsaturationzone3","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":528,"y":1860,"wires":[["5dcedf44.764ad8"],["fb8df3a.715da1"]]},{"id":"e3d0a273.683338","type":"switch","z":"164a3904.fd37c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"None","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1020,"wires":[["93f4d7df.a60218"]]},{"id":"5f8ed407.8f0fc4","type":"switch","z":"164a3904.fd37c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"None","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1320,"wires":[["157de367.f02e55"]]},{"id":"451c7d33.a90454","type":"switch","z":"164a3904.fd37c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"None","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1620,"wires":[["74fd60cb.79ecb"]]},{"id":"dae903de.7d3f7","type":"switch","z":"164a3904.fd37c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"None","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1920,"wires":[["8c269c1e.fb39d"]]},{"id":"fc8a9ba4.8623a","type":"switch","z":"164a3904.fd37c7","name":"","property":"rain","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":483,"y":160,"wires":[["54d761e0.ccbf38"],["6c694c94.a604e4"]]},{"id":"3499c45f.7d4bd4","type":"server-state-changed","z":"164a3904.fd37c7","name":"Serre Humidity Sensor","server":"f93d303.a1c6f5","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.greenhouse_humidity","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":100,"wires":[["2aae0ed0.37b29a"]]},{"id":"8c859a73.546bf8","type":"change","z":"164a3904.fd37c7","name":"Postion: 100","rules":[{"t":"set","p":"position2","pt":"flow","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":280,"wires":[["6adaebe.e58fd14"]]},{"id":"6adaebe.e58fd14","type":"link out","z":"164a3904.fd37c7","name":"","links":["ca827770.58a0b"],"x":1255,"y":280,"wires":[]},{"id":"bee184b5.541bb8","type":"link out","z":"164a3904.fd37c7","name":"","links":["544fdaad.266744"],"x":1255,"y":140,"wires":[]},{"id":"c7c0dd32.8894f","type":"change","z":"164a3904.fd37c7","name":"Postion: 100","rules":[{"t":"set","p":"position1","pt":"flow","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":140,"wires":[["bee184b5.541bb8"]]},{"id":"20bc0925.abcba6","type":"inject","z":"164a3904.fd37c7","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":80,"wires":[["5769f45d.fcce9c"]]},{"id":"fdb62c8e.8e9e7","type":"switch","z":"164a3904.fd37c7","name":"Check Temperature Window 2","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"28","vt":"str"},{"t":"gte","v":"26","vt":"str"},{"t":"gte","v":"24","vt":"str"},{"t":"lt","v":"22","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":890,"y":300,"wires":[["8c859a73.546bf8"],["53a2dfb6.c2be48"],["4950bc39.4f811c"],["54efa716.c3dee8"]]},{"id":"4950bc39.4f811c","type":"change","z":"164a3904.fd37c7","name":"Postion: 50","rules":[{"t":"set","p":"position2","pt":"flow","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":360,"wires":[["927c1637.b12fd"]]},{"id":"927c1637.b12fd","type":"link out","z":"164a3904.fd37c7","name":"","links":["ca827770.58a0b"],"x":1255,"y":360,"wires":[]},{"id":"53a2dfb6.c2be48","type":"change","z":"164a3904.fd37c7","name":"Postion: 75","rules":[{"t":"set","p":"position2","pt":"flow","to":"75","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":320,"wires":[["cc438f63.6d988"]]},{"id":"cc438f63.6d988","type":"link out","z":"164a3904.fd37c7","name":"","links":["ca827770.58a0b"],"x":1255,"y":320,"wires":[]},{"id":"54efa716.c3dee8","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Humidity","server":"f93d303.a1c6f5","version":3,"outputs":2,"halt_if":"65","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.greenhouse_humidity","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1130,"y":400,"wires":[["fbe82f7b.108c58"],["48597549.563f44"]]},{"id":"fbe82f7b.108c58","type":"change","z":"164a3904.fd37c7","name":"Postion: 25","rules":[{"t":"set","p":"position2","pt":"flow","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":380,"wires":[["495952c.edaeaac"]]},{"id":"3381f6a2.39b992","type":"change","z":"164a3904.fd37c7","name":"Postion: 50","rules":[{"t":"set","p":"position1","pt":"flow","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":180,"wires":[["5862875.46a3878"]]},{"id":"5862875.46a3878","type":"link out","z":"164a3904.fd37c7","name":"","links":["544fdaad.266744"],"x":1255,"y":180,"wires":[]},{"id":"8298779c.b87388","type":"api-current-state","z":"164a3904.fd37c7","name":"Get State of Window 2","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"cover.greenhouse_window_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":380,"y":360,"wires":[["406668a1.ac8ac8"]]},{"id":"406668a1.ac8ac8","type":"switch","z":"164a3904.fd37c7","name":"is position different","property":"data.attributes.current_position","propertyType":"msg","rules":[{"t":"neq","v":"position2","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":360,"wires":[["44645ad3.a09184"]]},{"id":"713b3c75.5bfa3c","type":"api-current-state","z":"164a3904.fd37c7","name":"Get State of Window 1","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"cover.greenhouse_window_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":380,"y":480,"wires":[["1da4380.62a72c8"]]},{"id":"1da4380.62a72c8","type":"switch","z":"164a3904.fd37c7","name":"is position different","property":"data.attributes.current_position","propertyType":"msg","rules":[{"t":"neq","v":"position1","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":480,"wires":[["945489c0.ce3ee"]]},{"id":"273710e1.8191c8","type":"link out","z":"164a3904.fd37c7","name":"","links":["544fdaad.266744"],"x":1495,"y":200,"wires":[]},{"id":"b0b62f8e.477148","type":"server-state-changed","z":"164a3904.fd37c7","name":"Window Disable","server":"f93d303.a1c6f5","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.disable_greenhouse_window","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":220,"wires":[["2aae0ed0.37b29a"]]},{"id":"9554e671.60611","type":"api-current-state","z":"164a3904.fd37c7","name":"Get Humidity","server":"f93d303.a1c6f5","version":3,"outputs":2,"halt_if":"65","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.greenhouse_humidity","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1130,"y":220,"wires":[["74bb9a8.076e6e4"],["a857760a.bd8be8"]]},{"id":"74bb9a8.076e6e4","type":"change","z":"164a3904.fd37c7","name":"Postion: 25","rules":[{"t":"set","p":"position1","pt":"flow","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":200,"wires":[["273710e1.8191c8"]]},{"id":"6fa74c7a.20d984","type":"server-events","z":"f6e5a287.09185","name":"Event Bus","server":"f93d303.a1c6f5","version":1,"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":80,"y":800,"wires":[["ddb64c92.1ffde"]]},{"id":"ddb64c92.1ffde","type":"function","z":"f6e5a287.09185","name":"Filter telegram callback events","func":"if(msg.payload.event_type == \"telegram_callback\") {\n    msg.payload.data = {\"callback_query_id\": msg.payload.event.id};\n    return msg;    \n} else if(msg.payload.event_type == \"telegram_command\") {\n    msg.payload.data = {\"command\": msg.payload.event.command, \"chat_id\": msg.payload.event.chat_id};\n    return msg;    \n}","outputs":1,"noerr":0,"x":470,"y":804,"wires":[["6eec1604.8b6dc8","6b478b76.1b9594","55c7a2f1.68ce6c","f2e1df8c.753a5"]]},{"id":"29396a0a.a898f6","type":"inject","z":"f6e5a287.09185","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":744,"wires":[["9349f721.c35ac8"]]},{"id":"9349f721.c35ac8","type":"api-call-service","z":"f6e5a287.09185","name":"Initial Message","server":"f93d303.a1c6f5","version":3,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{   \"target\": \"689595780\",   \"title\": \"Want pizza?\",   \"message\": \"You look like you are home alone. Should I order you a pizza?\",   \"inline_keyboard\": [     \"Gimme Pizza:\\/gimmepizza\",     \"No thanks:\\/nopizza\"   ] }","mergecontext":"","outputProperties":[{"value":"","valueType":"data"}],"queue":"none","x":510,"y":744,"wires":[[]]},{"id":"6eec1604.8b6dc8","type":"switch","z":"f6e5a287.09185","name":"Check callback","property":"payload.event.data","propertyType":"msg","rules":[{"t":"eq","v":"/nopizza","vt":"str"},{"t":"eq","v":"/gimmepizza","vt":"str"},{"t":"eq","v":"/noguest","vt":"str"},{"t":"eq","v":"/yesguest","vt":"str"},{"t":"eq","v":"/vacuumemptybindone","vt":"str"},{"t":"eq","v":"/vacuumemptybinextend","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":760,"y":780,"wires":[["6e0fee66.a43bb8"],["207525ea.e9ea92"],["c267048e.844dd8"],["c267048e.844dd8"],["3bbeaac9.2b9aae"],["3bbeaac9.2b9aae"]]},{"id":"6e0fee66.a43bb8","type":"change","z":"f6e5a287.09185","name":"True","rules":[{"t":"set","p":"payload.data.message","pt":"msg","to":"Ok, no pizza","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":720,"wires":[["7fe46fd2.f376c8"]]},{"id":"207525ea.e9ea92","type":"change","z":"f6e5a287.09185","name":"False","rules":[{"t":"set","p":"payload.data.message","pt":"msg","to":"Pizza order on the way","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":760,"wires":[["7fe46fd2.f376c8"]]},{"id":"7fe46fd2.f376c8","type":"api-call-service","z":"f6e5a287.09185","name":"Answer Callback","server":"f93d303.a1c6f5","version":3,"service_domain":"telegram_bot","service":"answer_callback_query","entityId":"","data":"{}","mergecontext":"","outputProperties":[{"value":"","valueType":"data"}],"queue":"none","x":1230,"y":720,"wires":[[]]},{"id":"6b478b76.1b9594","type":"switch","z":"f6e5a287.09185","name":"/hello","property":"msg.payload.data.command","propertyType":"msg","rules":[{"t":"eq","v":"/hello","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":900,"wires":[["f080a084.c3da38"]]},{"id":"f080a084.c3da38","type":"change","z":"f6e5a287.09185","name":"Set Message","rules":[{"t":"set","p":"payload.data.message","pt":"msg","to":"Hello","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":900,"wires":[["c185ff01.93c518"]]},{"id":"42c63c27.d1b6ac","type":"server-state-changed","z":"f6e5a287.09185","name":"External IP Fritz","server":"f93d303.a1c6f5","version":3,"entityidfilter":"sensor.external_ip","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":1688,"wires":[["246f0669.545ed2"]]},{"id":"7b6f0e3a.9c20a8","type":"http request","z":"f6e5a287.09185","name":"CheckWAN","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.10/transip/CheckWAN.php","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":1880,"wires":[[]]},{"id":"28a3c9e6.abaff6","type":"inject","z":"f6e5a287.09185","name":"Get IP","repeat":"300","crontab":"","once":false,"onceDelay":"","topic":"ip","payload":"eth0","payloadType":"str","x":120,"y":1780,"wires":[["42f98ecd.c67898","7b6f0e3a.9c20a8"]]},{"id":"42f970e0.7790e","type":"function","z":"f6e5a287.09185","name":"Compare IPv4","func":"context.lastip = context.lastip || 'initial';\nvar currentip = msg.payload;\n\nif (context.lastip != 'initial' && context.lastip != currentip ) {\nmsg.payload = \"My current IP is \"+currentip;\ncontext.lastip = currentip;\nreturn msg;\n}","outputs":1,"noerr":0,"x":880,"y":1740,"wires":[["7b6f0e3a.9c20a8"]]},{"id":"246f0669.545ed2","type":"switch","z":"f6e5a287.09185","name":"Integrity check IPV4","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"\\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\b","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":1740,"wires":[["42f970e0.7790e"],[]]},{"id":"c267048e.844dd8","type":"link out","z":"f6e5a287.09185","name":"Handle Guest Callback","links":["ed278d76.06387"],"x":1115,"y":820,"wires":[]},{"id":"55c7a2f1.68ce6c","type":"switch","z":"f6e5a287.09185","name":"/guestmode","property":"payload.data.command","propertyType":"msg","rules":[{"t":"eq","v":"/guestmode","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":860,"wires":[["c267048e.844dd8"]]},{"id":"3bbeaac9.2b9aae","type":"link out","z":"f6e5a287.09185","name":"","links":["41fc25eb.f0a0bc"],"x":895,"y":820,"wires":[]},{"id":"f2e1df8c.753a5","type":"switch","z":"f6e5a287.09185","name":"/ip","property":"msg.payload.data.command","propertyType":"msg","rules":[{"t":"eq","v":"/ip","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":940,"wires":[["87004484.ece8b"]]},{"id":"c185ff01.93c518","type":"api-call-service","z":"f6e5a287.09185","name":"Send Message Back","server":"f93d303.a1c6f5","version":3,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1200,"y":920,"wires":[[]]},{"id":"87004484.ece8b","type":"api-current-state","z":"f6e5a287.09185","name":"External IP","server":"f93d303.a1c6f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.external_ip","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload.data.message","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":910,"y":940,"wires":[["c185ff01.93c518"]]},{"id":"42f98ecd.c67898","type":"http request","z":"f6e5a287.09185","name":"Get IP","method":"GET","ret":"txt","paytoqs":false,"url":"https://ipecho.net/plain","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":1780,"wires":[["246f0669.545ed2"]]}]